@{
    Layout = null;
}

    <div>
        <input type="hidden" id="hiddenDlgQuickOID" value="@Model.OID" />
        <input type="hidden" id="hiddenDlgBlockadeOID" value="@ViewBag.Blockade.OID" />
        <input type="hidden" id="hiddenDlgOccurrenceCauseOID" value="@ViewBag.OccurrenceCause.OID" />
        <input type="hidden" id="hiddenDlgImproveCountermeasureOID" value="@ViewBag.ImproveCountermeasure.OID" />
        <input type="hidden" id="hiddenDlgErrorProofOID" value="@ViewBag.ErrorProof.OID" />
        <input type="hidden" id="hiddenDlgLpaOID" value="@ViewBag.Lpa.OID" />
        <input type="hidden" id="hiddenDlgCheckOID" value="@ViewBag.Check.OID" />
        <input type="hidden" id="hiddenDlgStandardOID" value="@ViewBag.Standard.OID" />
        <input type="hidden" id="hiddenDlgWorkerEduOID" value="@ViewBag.WorkerEdu.OID" />
    </div>
    <div class="qmsDlgTable">
        @if (Model.PlanUserOID == Convert.ToInt32(Session["UserOID"]))
        {
            <div style="width:100%;text-align:right;position:relative;margin-bottom:10px;">
                <button id="btnDlgSave" onclick="" class="custom-button"><i class="fas fa-save"></i> 저장</button>
            </div>
        }


        @{Html.RenderAction("QuickResponseSummary", "Qms");}

        <label><i class="fas fa-toggle-on"></i> 신속대응</label>
        <table class="infoTable" style="table-layout:fixed;">

            <colgroup>
                <col style="width:140px;" />
                <col style="width:auto;" />
                <col style="width:160px;" />
                <col style="width:160px;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>Yes/No</th>
                    <th>항목명</th>
                    <th>완료예정일자</th>
                    <th>처리담당자</th>
                </tr>
                <tr>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:center;">
                            <div id="btnBlockadeUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">봉쇄조치</label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgBloackAdePlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgBlockAdePlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgBlockAdePlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.Blockade.ChargeUserOID" value="@ViewBag.Blockade.ChargeUserNm" />
                            <button id="btnDlgBlockAdePlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgBlockAdePlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:center;">
                            <div id="btnOccurrenceCauseUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">발생원인분석</label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgOccurrenceCausePlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgOccurrenceCausePlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgOccurrenceCausePlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.OccurrenceCause.ChargeUserOID" value="@ViewBag.OccurrenceCause.ChargeUserNm" />
                            <button id="btnDlgOccurrenceCausePlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgOccurrenceCausePlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex;flex-direction: row;align-content: center;justify-content: center;">
                            <div id="btnImproveCountermeasureUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">개선대책</label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgImproveCountermeasurePlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgImproveCountermeasurePlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgImproveCountermeasurePlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.ImproveCountermeasure.ChargeUserOID" value="@ViewBag.ImproveCountermeasure.ChargeUserNm" />
                            <button id="btnDlgImproveCountermeasurePlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgImproveCountermeasurePlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex;flex-direction: row;align-content: center;justify-content: center;">
                            <div id="btnErrorProofUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">Eroor Proof</label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgErrorProofPlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgErrorProofPlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgErrorProofPlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.ErrorProof.ChargeUserOID" value="@ViewBag.ErrorProof.ChargeUserNm" />
                            <button id="btnDlgErrorProofPlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgErrorProofPlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;">
                            <div id="btnLpaUnfitUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">LPA 확인</label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgLpaUnfitPlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgLpaUnfitPlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgLpaUnfitPlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.Lpa.ChargeUserOID" value="@ViewBag.Lpa.ChargeUserNm" />
                            <button id="btnDlgLpaUnfitPlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgLpaUnfitPlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex;flex-direction: row;align-content: center;justify-content: center;">
                            <div id="btnCheckUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">유효성 검증</label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgCheckPlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgCheckPlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgCheckPlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.Check.ChargeUserOID" value="@ViewBag.Check.ChargeUserNm" />
                            <button id="btnDlgCheckPlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgCheckPlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex;flex-direction: row;align-content: center;justify-content: center;">
                            <div id="btnStandardUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">표준화 & Follow-Up </label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgStandardPlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgStandardPlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgStandardPlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.Standard.ChargeUserOID" value="@ViewBag.Standard.ChargeUserNm" />
                            <button id="btnDlgStandardPlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgStandardPlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="display: flex;flex-direction: row;align-content: center;justify-content: center;">
                            <div id="btnWorkerEduUseFl"></div>
                        </div>
                    </td>
                    <td>
                        <label class="lbText">작업자 교육</label>
                    </td>
                    <td>
                        <input type="text" id="txtDlgWorkerEduPlanDt" />
                    </td>
                    <td>
                        <div style="display:flex;flex-direction:row;align-content:center;justify-content:space-between;width:100%;">
                            <input type="text" id="txtDlgWorkerEduPlanUserID" class="txtBox" style="width:70px;border:1px solid #CECCCC;display:none;" readonly="readonly" />
                            <input type="text" id="txtDlgWorkerEduPlanUserNm" class="txtBox" style="width:90px;border:1px solid #CECCCC;background-color: #ddd !important;" readonly="readonly" UserOID="@ViewBag.WorkerEdu.ChargeUserOID" value="@ViewBag.WorkerEdu.ChargeUserNm" />
                            <button id="btnDlgWorkerEduPlanUserSearch" class="searchBtn custom-button" onclick="SelectModulePlanUser('txtDlgWorkerEduPlanUserNm');"><i class="fas fa-search"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {        
        $("#btnDlgBlockAdePlanUserSearch").jqxButton();
        $("#btnDlgOccurrenceCausePlanUserSearch").jqxButton();
        $("#btnDlgImproveCountermeasurePlanUserSearch").jqxButton();
        $("#btnDlgErrorProofPlanUserSearch").jqxButton();
        $("#btnDlgLpaUnfitPlanUserSearch").jqxButton();
        $("#btnDlgCheckPlanUserSearch").jqxButton();
        $("#btnDlgStandardPlanUserSearch").jqxButton();
        $("#btnDlgWorkerEduPlanUserSearch").jqxButton();
        $('#btnBlockadeUseFl').jqxSwitchButton({ height: 30, width: 120,  checked: true, onLabel : "Yes", offLabel : "No", disabled: true  });
        $('#btnOccurrenceCauseUseFl').jqxSwitchButton({ height: 30, width: 120, checked: true, onLabel: "Yes", offLabel: "No", disabled: true  });
        $('#btnImproveCountermeasureUseFl').jqxSwitchButton({ height: 30, width: 120, checked: true, onLabel: "Yes", offLabel: "No", disabled: true });
        $('#btnErrorProofUseFl').jqxSwitchButton({ height: 30, width: 120, checked: true, onLabel: "Yes", offLabel: "No" });
        @if(ViewBag.ErrorProof.ModuleFl == 0)
        {
            <text> $('#btnErrorProofUseFl').val(false);</text>
        }

        $('#btnLpaUnfitUseFl').jqxSwitchButton({ height: 30, width: 120, checked: true, onLabel: "Yes", offLabel: "No" });
        @if(ViewBag.Lpa.ModuleFl == 0)
        {
            <text> $('#btnLpaUnfitUseFl').val(false);</text>
        }

        $('#btnCheckUseFl').jqxSwitchButton({ height: 30, width: 120, checked: true, onLabel: "Yes", offLabel: "No" });
        @if(ViewBag.Check.ModuleFl == 0)
        {
            <text> $('#btnCheckUseFl').val(false);</text>
        }

        $('#btnStandardUseFl').jqxSwitchButton({ height: 30, width: 120, checked: true, onLabel: "Yes", offLabel: "No" });
        @if(ViewBag.Standard.ModuleFl == 0)
        {
            <text> $('#btnStandardUseFl').val(false);</text>
        }

        $('#btnWorkerEduUseFl').jqxSwitchButton({ height: 30, width: 120, checked: true, onLabel: "Yes", offLabel: "No" });
        @if(ViewBag.WorkerEdu.ModuleFl == 0)
        {
            <text> $('#btnWorkerEduUseFl').val(false);</text>
        }

        $("#txtDlgBloackAdePlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgBloackAdePlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.Blockade.EstEndDt == null)
        {
            <text>$("#txtDlgBloackAdePlanDt").val(WebUtils.GetDate(0, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgBloackAdePlanDt").val("@ViewBag.Blockade.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        $("#txtDlgOccurrenceCausePlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgOccurrenceCausePlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.OccurrenceCause.EstEndDt == null)
        {
            <text>$("#txtDlgOccurrenceCausePlanDt").val(WebUtils.GetDate(7, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgOccurrenceCausePlanDt").val("@ViewBag.OccurrenceCause.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        $("#txtDlgImproveCountermeasurePlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgImproveCountermeasurePlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.ImproveCountermeasure.EstEndDt == null)
        {
            <text>$("#txtDlgImproveCountermeasurePlanDt").val(WebUtils.GetDate(14, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgImproveCountermeasurePlanDt").val("@ViewBag.ImproveCountermeasure.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        $("#txtDlgErrorProofPlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgErrorProofPlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.ErrorProof.EstEndDt == null)
        {
            <text>$("#txtDlgErrorProofPlanDt").val(WebUtils.GetDate(14, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgErrorProofPlanDt").val("@ViewBag.ErrorProof.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        $("#txtDlgLpaUnfitPlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgLpaUnfitPlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.Lpa.EstEndDt == null)
        {
            <text>$("#txtDlgLpaUnfitPlanDt").val(WebUtils.GetDate(14, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgLpaUnfitPlanDt").val("@ViewBag.Lpa.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        $("#txtDlgCheckPlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgCheckPlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.Check.EstEndDt == null)
        {
            <text>$("#txtDlgCheckPlanDt").val(WebUtils.GetDate(34, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgCheckPlanDt").val("@ViewBag.Check.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        $("#txtDlgStandardPlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgStandardPlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.Standard.EstEndDt == null)
        {
            <text>$("#txtDlgStandardPlanDt").val(WebUtils.GetDate(35, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgStandardPlanDt").val("@ViewBag.Standard.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        $("#txtDlgWorkerEduPlanDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgWorkerEduPlanDt").jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light"
        });
        @if(ViewBag.WorkerEdu.EstEndDt == null)
        {
            <text>$("#txtDlgWorkerEduPlanDt").val(WebUtils.GetDate(40, "d", "-"))</text>
        }
        else
        {
            <text>$("#txtDlgWorkerEduPlanDt").val("@ViewBag.WorkerEdu.EstEndDt.ToString("yyyy-MM-dd")")</text>
        }

        @if (Model.PlanUserOID != Convert.ToInt32(Session["UserOID"]))
        {
            <text>
            $("#btnDlgBlockAdePlanUserSearch").jqxButton({ disabled:true });
            $("#btnDlgOccurrenceCausePlanUserSearch").jqxButton({ disabled:true });
            $("#btnDlgImproveCountermeasurePlanUserSearch").jqxButton({ disabled:true });
            $("#btnDlgErrorProofPlanUserSearch").jqxButton({ disabled:true });
            $("#btnDlgLpaUnfitPlanUserSearch").jqxButton({ disabled:true });
            $("#btnDlgCheckPlanUserSearch").jqxButton({ disabled:true });
            $("#btnDlgStandardPlanUserSearch").jqxButton({ disabled:true });
            $("#btnDlgWorkerEduPlanUserSearch").jqxButton({ disabled: true });
            
            $('#btnErrorProofUseFl').jqxSwitchButton({ disabled: true});
            $('#btnLpaUnfitUseFl').jqxSwitchButton({ disabled: true});
            $('#btnCheckUseFl').jqxSwitchButton({ disabled: true});
            $('#btnStandardUseFl').jqxSwitchButton({ disabled: true});
            $('#btnWorkerEduUseFl').jqxSwitchButton({ disabled: true});
            
            $("#txtDlgBloackAdePlanDt").jqxDateTimeInput({ disabled: true});
            $("#txtDlgOccurrenceCausePlanDt").jqxDateTimeInput({ disabled: true});
            $("#txtDlgImproveCountermeasurePlanDt").jqxDateTimeInput({ disabled: true});
            $("#txtDlgErrorProofPlanDt").jqxDateTimeInput({ disabled: true});
            $("#txtDlgLpaUnfitPlanDt").jqxDateTimeInput({ disabled: true});
            $("#txtDlgCheckPlanDt").jqxDateTimeInput({ disabled: true});
            $("#txtDlgStandardPlanDt").jqxDateTimeInput({ disabled: true});
            $("#txtDlgWorkerEduPlanDt").jqxDateTimeInput({ disabled: true});
            </text>           
        }


        $("#btnDlgSave").on("click", function () {
            SaveQuickResponse();
        })
    });

    var SelectModulePlanUser = function (textBoxID) {
        OpenApprovalPersonDialog(function (res) {
            if (res.length > 1) {
                alert("담당자는 한명만 지정 할 수 있습니다.");
                return;
            }

            $("#" + textBoxID).val(res[0].Name);
            $("#" + textBoxID).attr("UserOID", res[0].OID);

        }, null, null, '/Common/ApprovalPerson', '사용자 검색');
    };

    var SaveQuickResponse = function () {
        var params = [];

        var blockadd = {};
        blockadd.QuickOID = $("#hiddenDlgQuickOID").val();
        blockadd.OID = $("#hiddenDlgBlockadeOID").val();
        blockadd.ModuleFl = 1;
        blockadd.EstEndDt = $("#txtDlgBloackAdePlanDt").val();
        blockadd.ChargeUserOID = $("#txtDlgBlockAdePlanUserNm").attr("UserOID");
        params.push(blockadd);

        if (blockadd.ModuleFl && WebUtils.isBlank(blockadd.ChargeUserOID)) {
            alert("봉쇄조치 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        var occurrenceCause = {};
        occurrenceCause.QuickOID = $("#hiddenDlgQuickOID").val();
        occurrenceCause.OID = $("#hiddenDlgOccurrenceCauseOID").val();
        occurrenceCause.ModuleFl = 1;
        occurrenceCause.EstEndDt = $("#txtDlgOccurrenceCausePlanDt").val();
        occurrenceCause.ChargeUserOID = $("#txtDlgOccurrenceCausePlanUserNm").attr("UserOID");
        params.push(occurrenceCause);

        if (occurrenceCause.ModuleFl && WebUtils.isBlank(occurrenceCause.ChargeUserOID)) {
            alert("발생원인 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        var ImproveCountermeasure = {};
        ImproveCountermeasure.QuickOID = $("#hiddenDlgQuickOID").val();
        ImproveCountermeasure.OID = $("#hiddenDlgImproveCountermeasureOID").val();
        ImproveCountermeasure.ModuleFl = 1;
        ImproveCountermeasure.EstEndDt = $("#txtDlgImproveCountermeasurePlanDt").val();
        ImproveCountermeasure.ChargeUserOID =$("#txtDlgImproveCountermeasurePlanUserNm").attr("UserOID");
        params.push(ImproveCountermeasure);

        if (ImproveCountermeasure.ModuleFl && WebUtils.isBlank(ImproveCountermeasure.ChargeUserOID)) {
            alert("개선대책 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        var ErrorProof = {};
        ErrorProof.QuickOID = $("#hiddenDlgQuickOID").val();
        ErrorProof.OID = $("#hiddenDlgErrorProofOID").val();
        ErrorProof.ModuleFl = ($("#btnErrorProofUseFl").val() === true ? 1 : 0);
        ErrorProof.EstEndDt = $("#txtDlgErrorProofPlanDt").val();
        ErrorProof.ChargeUserOID = $("#txtDlgErrorProofPlanUserNm").attr("UserOID");
        params.push(ErrorProof);

        if (ErrorProof.ModuleFl && WebUtils.isBlank(ErrorProof.ChargeUserOID)) {
            alert("Error Proof 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        var lpa = {};
        lpa.QuickOID = $("#hiddenDlgQuickOID").val();
        lpa.OID = $("#hiddenDlgLpaOID").val();
        lpa.ModuleFl = ($("#btnLpaUnfitUseFl").val() === true ? 1 : 0);
        lpa.EstEndDt = $("#txtDlgLpaUnfitPlanDt").val();
        lpa.ChargeUserOID = $("#txtDlgLpaUnfitPlanUserNm").attr("UserOID");
        params.push(lpa);

        if (lpa.ModuleFl && WebUtils.isBlank(lpa.ChargeUserOID)) {
            alert("LPA 확인 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        var check = {};
        check.QuickOID = $("#hiddenDlgQuickOID").val();
        check.OID = $("#hiddenDlgCheckOID").val();
        check.ModuleFl = ($("#btnCheckUseFl").val() === true ? 1 : 0);
        check.EstEndDt = $("#txtDlgCheckPlanDt").val();
        check.ChargeUserOID = $("#txtDlgCheckPlanUserNm").attr("UserOID");
        params.push(check);

        if (check.ModuleFl && WebUtils.isBlank(check.ChargeUserOID)) {
            alert("유효성 검증 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        var standard = {};
        standard.QuickOID = $("#hiddenDlgQuickOID").val();
        standard.OID = $("#hiddenDlgStandardOID").val();
        standard.ModuleFl = ($("#btnStandardUseFl").val() === true ? 1 : 0);
        standard.EstEndDt = $("#txtDlgStandardPlanDt").val();
        standard.ChargeUserOID = $("#txtDlgStandardPlanUserNm").attr("UserOID");
        params.push(standard);

        if (standard.ModuleFl && WebUtils.isBlank(standard.ChargeUserOID)) {
            alert("표준화 & Follow-Up 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        var workeredu = {};
        workeredu.QuickOID = $("#hiddenDlgQuickOID").val();
        workeredu.OID = $("#hiddenDlgWorkerEduOID").val();
        workeredu.ModuleFl = ($("#btnWorkerEduUseFl").val() === true ? 1 : 0);
        workeredu.EstEndDt = $("#txtDlgWorkerEduPlanDt").val();
        workeredu.ChargeUserOID = $("#txtDlgWorkerEduPlanUserNm").attr("UserOID");
        params.push(workeredu);

        if (workeredu.ModuleFl && WebUtils.isBlank(workeredu.ChargeUserOID)) {
            alert("작업자교육 항목이 YES 인데 처리담당자가 없습니다.");
            return;
        }

        $.post('/Qms/SaveQuickResponseModule', { _params: params }, function (response) {
                if (response.isError) {
                alert(response.resultMessage);
                return;
            }
            alert("저장되었습니다.");
        }).fail(function (err) {
            alert(err.responseText);
        });

    }
    </script>