
@{
    Layout = null;
    ViewBag.Title = "비교시 검색";
}

<div style="width:100%; margin-right:20px;">
    <div class="searchBox">
        <div class="searchTitle">
            <label><i class="fas fa-folder-open"></i> &nbsp;EPart 검색</label>
        </div>
        <div class="searchContent">
            <div class="searchData">
                <div>품번</div>
                <div><input id="dlgSearchEPartName" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div>품명</div>
                <div><input id="dlgSearchEPartTitle" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div class="checkBoxLabel">구분</div>
                <div>
                    <div id="dlgSearchEPartAssemble" class="custom-checkbox">
                        조립도
                    </div>
                    <div id="dlgSearchEPartSingle" class="custom-checkbox">
                        단품도
                    </div>
                    <div id="dlgSearchEPartStandard" class="custom-checkbox">
                        스탠다드
                    </div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">ITEM_NO</div>
                <div> <div id="dlgSearchEPartItemNo" class="dlgSearchEPartComboBox"></div></div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">고객사</div>
                <div>
                    <div id="dlgSearchEPartOem" class="dlgSearchEPartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">차종</div>
                <div>
                    <div id="dlgSearchEPartCar" class="dlgSearchEPartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">작성일</div>
                <div><div id="dlgSearchEPartCreateDt" class="dlgSearchEPartDateTimeInput"></div></div>
            </div>
            <div class="searchButton">
                <button id="dlgSearchEPartbtn" class="searchBtn custom-button"><i class="fas fa-search"></i> 검색</button>
            </div>
        </div>
    </div>
</div>


<div id="digSearchEPartGrid"></div>

<script>
    var EPartDivision = null;
    $(function () {
        var dlgSearchEPartOemLib$ = $('#dlgSearchEPartOem');
        var dlgSearchEPartItemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.ItemList))');
        var dlgSearchEPartOemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.oemList))');
        var dlgSearchEPartItemLib$ = $('#dlgSearchEPartItemNo');
        var dlgSearchEPartCarLib$ = $('#dlgSearchEPartCar');

        var oemSource =
        {
            localdata: dlgSearchEPartOemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                    { name: 'Code1', type: 'string' },
                    { name: 'Code2', type: 'string' },
                ]
        };
        var oemAdapter = new $.jqx.dataAdapter(oemSource);
        dlgSearchEPartOemLib$.jqxComboBox({ source: oemAdapter, displayMember: "KorNm", valueMember: "OID", width: 250, height: 32 });
        dlgSearchEPartCarLib$.jqxComboBox({ width: 250, height: 32 });
        dlgSearchEPartOemLib$.on('change', function (evt) {
            var param = {};
            param.fromOID = dlgSearchEPartOemLib$.val();
            RequestData('/Manage/SelCodeLibrary', param, function (res) {

                var CarSource =
                {
                    localdata: res,
                    datatype: "json",
                    datafields:
                        [
                            { name: 'KorNm', type: 'string' },
                            { name: 'OID', type: 'int' },
                        ]
                };
                var CardataAdapter = new $.jqx.dataAdapter(CarSource);
                dlgSearchEPartCarLib$.jqxComboBox({ source: CardataAdapter, displayMember: "KorNm", valueMember: "OID", });
            });
        });
        var ItemSource =
        {
            localdata: dlgSearchEPartItemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                ]
        };
        var ItemdataAdapter = new $.jqx.dataAdapter(ItemSource);
        dlgSearchEPartItemLib$.jqxComboBox({ width: 250, height: 33, source: ItemdataAdapter, displayMember: "KorNm", valueMember: "OID", });

        $('#dlgSearchEPartAssemble').jqxRadioButton({ width: 100, height: 33, checked: false });
        $('#dlgSearchEPartSingle').jqxRadioButton({ width: 120, height: 33, checked: false });
        $('#dlgSearchEPartStandard').jqxRadioButton({ width: 120, height: 33, checked: false });
        $('#dlgSearchEPartCreateDt').jqxDateTimeInput({ width: 250, height: 33, selectionMode: 'range', formatString: 'yyyy/MM/dd' });

        $('#dlgSearchEPartAssemble').on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                EPartDivision = "@Common.Constant.EBomConstant.DIV_ASSEMBLY";
            }
        });
        $('#dlgSearchEPartSingle').on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                EPartDivision = "@Common.Constant.EBomConstant.DIV_SINGLE";
            }
        });
        $('#dlgSearchEPartStandard').on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                EPartDivision = "@Common.Constant.EBomConstant.DIV_STANDARD";
            }
        });


    });
</script>