<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>우리산업 PLM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Resource/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/Css/layout.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/Css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/jqwidgets-ver11.0.0/styles/jqx.kdc.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/fontawesome-free-5.14.0-web/css/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/fontawesome-free-5.14.0-web/css/brands.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/fontawesome-free-5.14.0-web/css/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/fontawesome-free-5.14.0-web/css/regular.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/fontawesome-free-5.14.0-web/css/solid.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/fontawesome-free-5.14.0-web/css/svg-with-js.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/fontawesome-free-5.14.0-web/css/v4-shims.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/Dropzone/basic.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/Dropzone/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/Dropzone/basic.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/Dropzone/dropzone.css" />
    <link rel="stylesheet" type="text/css" href="~/Resource/apexcharts-bundle/dist/apexcharts.css" />
</head>
<body>
    <header>
        <h1><a href="/" title="main"><img src="~/images/logo_.png" alt="logo"></a></h1>

        <nav>
            <ul class="gnb">
                @{Html.RenderAction("Menu", "Common");}
            </ul>
        </nav>

        <div class="lnb">
            @*<div class="search">
                    <input type="text" placeholder="검색어를 입력하세요">
                    <button><img src="~/images/search.png" alt="검색"></button>
                </div>*@
            <span class="btn_icon"><img src="~/images/user.png" alt="user"></span>
            <span class="btn_icon"><img src="~/images/settings.png" alt="settings"></span>
            <span class="btn_icon">
                @using (Html.BeginForm("TryLogOut", "Authority", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <img src="~/images/logout.png" alt="logout" onclick="javascript:document.getElementById('logoutForm').submit()">
                }
            </span>
        </div>

    </header>

    <div id="loading">
        <div class="loader-inner ball-grid-pulse">
            <div style="background:#3798ae;"></div>
            <div style="background:#ccc;"></div>
            <div style="background:#3798ae;"></div>
            <div style="background:#ccc;"></div>
            <div style="background:#d11e1e"></div>
            <div style="background:#ccc;"></div>
            <div style="background:#3798ae;"></div>
            <div style="background:#ccc;"></div>
            <div style="background:#3798ae;"></div>
        </div>
    </div>
    <div id="wrapContent" style="width:calc(100% - 2px);min-width:1920px;min-height:870px;">
        <div id='tabMenu' style="display:none;">
            <ul>
                <li>새로고침</li>
                <li>URL 보기</li>
                <li>닫기</li>
            </ul>
        </div>
        <div id='tabContent' style="float: left;">
            <ul style="margin-left: 10px;" id="tabList">
                <li>MAIN</li>
            </ul>
            <!--TAB을 이중으로 감싸서 각 Page들의 Div 에 Margin 값이 적용 안되게 처리함-->
            <div>
                <div class="wrapPage">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src=@Url.Content("~/Resource/jquery-ui-1.12.1/jquery-ui.js")></script>

    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/moment.min.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/underscore-master/underscore.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Dropzone/dropzone.js")></script>

    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebUtils.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebData.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebPopup.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebECO.js")></script>

    <!--PMS-->
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebPms.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebPmsUtils.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebPmsDialog.js")></script>

    <script defer type="text/javascript" src="@Url.Content("~/Resource/jQuerySimpleUpload/dist/jquery-simple-upload.js")"></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jquery-fancyfileuploader-master/jquery.fancy-fileupload.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jquery-fancyfileuploader-master/jquery.fileupload.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jquery-fancyfileuploader-master/jquery.iframe-transport.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jquery-fancyfileuploader-master/jquery.ui.widget.js")></script>

    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxcore.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdata.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxbuttons.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxscrollbar.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdatatable.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxtreegrid.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxtree.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxexpander.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxlistbox.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxcheckbox.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxradiobutton.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxmenu.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxtabs.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.sort.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.selection.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdragdrop.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.pager.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.filter.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.columnsresize.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.columnsreorder.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdropdownlist.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdropdownbutton.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxwindow.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.aggregates.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdatetimeinput.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxcalendar.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxcombobox.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.edit.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxnumberinput.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxgrid.export.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdata.export.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxeditor.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxtooltip.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxcolorpicker.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxloader.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxdraw.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxchart.core.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/scripts/jszip.min.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxSwitchButton.js")></script>
    <script defer type="text/javascript" src="@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxSortable.js")"></script>
    <script defer type="text/javascript" src="@Url.Content("~/Resource/jqwidgets-ver11.0.0/jqxkanban.js")"></script>

    <!--EPart-->
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebEPartUtils.js")></script>
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebEPartPopup.js")></script>

    <!--Econtents-->
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebEcontentsDialog.js")></script>

    <!--ECR-->
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebECR.js")></script>

    <!--DOCCLASS-->
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebDocClassDialog.js")></script>

    <!--QMS-->
    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebQMSUtils.js")></script>

    <script defer type="text/javascript" src=@Url.Content("~/Resource/Base/WebFileUpload.js")></script>

    <!--ApexChart-->
    <script defer type="text/javascript" src=@Url.Content("~/Resource/apexcharts-bundle/dist/apexcharts.min.js")></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            const jqxTabs$ = $('#tabContent');
            const tabList$ = $('#tabList');
            const loading = $('#loading');

            // 메뉴 마우스 오버
            $('.gnb > li').mouseover(function () {
                $(this).children('.sub').css('display', 'block');
            });
            $('.gnb > li').mouseout(function () {
                $(this).children('.sub').css('display', 'none');
            });

            var winHeight = $(window).innerHeight();
            $('#wrapContent').css('height', winHeight - 82);
            // jqx탭 생성
            jqxTabs$.jqxTabs({ width: '100%', height: '100%', showCloseButtons: true, theme: 'kdc' });
            loading.css('display', 'none');
            var tabHtml = jqxTabs$.jqxTabs('getContentAt', 0);
            $(tabHtml).children().attr("tabUrl", "/Home");

            // 메뉴 탭 추가
            $('.sub > li').click(function () {
                var this$ = $(this);
                var label = this$.text();
                var link = this$.attr('url');

                loading.css('display', 'block');
                $('.sub').css('display', 'none');

                if ($("div[tabUrl='" + link + "']").length > 0) {
                    var tabDiv = $("div[tabUrl='" + link + "']")[0].parentNode;
                    jqxTabs$.jqxTabs('val', $(tabDiv).index());
                    loading.css('display', 'none');
                    return;
                }

                var param = {};
                param.MenuUrl = $(this).attr('url');
                $.ajax({
                    url: "/Home/CallMenuView",
                    type: 'get',
                    dataType: 'html',
                    data: param,
                    async: true,
                    success: function (resHtml) {
                        if (WebUtils.isBlank(resHtml)) {
                            alert("현재 개발중인 화면입니다.");
                            loading.css('display', 'none');
                            return;
                        }

                        jqxTabs$.jqxTabs('addLast', label, 'Sample content');
                        jqxTabs$.jqxTabs('ensureVisible', -1);
                        var tabLength = jqxTabs$.jqxTabs('length');

                        var content = jqxTabs$.jqxTabs('getContentAt', tabLength - 1);
                        $(content).html("<div class='wrapPage' tabUrl='" + param.MenuUrl + "'>" + resHtml + "</div>");
                    }, error: function (res) {
                        if (res.status === 404) {
                            alert("현재 개발중인 화면입니다.");
                            return false;
                        }
                        alert(res.responseText);
                        console.log(res);
                    }
                    , complete: function () {
                        loading.css('display', 'none');
                    }
                });
            });

            var contextMenu = $("#tabMenu").jqxMenu({ width: '120px', height: '100px', autoOpenPopup: false, mode: 'popup' });
            $("#tabMenu").bind('itemclick', function (event) {
                var selectedItem = $('#tabContent').jqxTabs('selectedItem');
                var item = $(event.args).text();

                switch (item) {
                    case "새로고침":
                    case "":
                        PageReload();
                        break;
                    case "URL 보기":
                        var selectedItem = $('#tabContent').jqxTabs('selectedItem');
                        var tabHtml = $('#tabContent').jqxTabs('getContentAt', selectedItem);
                        alert($(tabHtml).children().attr("tabUrl"));
                        break;
                    case "닫기":
                        var items = $('#tabContent').jqxTabs('length');
                        if (items > 1)
                            $('#tabContent').jqxTabs('removeAt', selectedItem);
                        break;
                }
            });

            $("#tabContent").bind('mousedown', function (event) {
                var rightClick = WebUtils.IsRightClick(event);
                if (rightClick) {
                    var scrollTop = $(window).scrollTop();
                    var scrollLeft = $(window).scrollLeft();

                    contextMenu.jqxMenu('open', parseInt(event.clientX) + 5 + scrollLeft, parseInt(event.clientY) + 5 + scrollTop);
                    return false;
                }
            });

            $(document).bind('contextmenu', function (e) {
                return false;
            });

        });

        function PageReload() {
            var selectedItem = $('#tabContent').jqxTabs('selectedItem');
            var tabHtml = $('#tabContent').jqxTabs('getContentAt', selectedItem);

            var tabUrl = $(tabHtml).children().attr("tabUrl");
            $(tabHtml).children().children().remove();

            $.ajax({
                url: tabUrl,
                type: 'get',
                dataType: 'html',
                success: function (resHtml) {
                    $(tabHtml).children().html(resHtml);
                }, error: function (res) {
                    alert(res.responseText);
                    console.log(res);
                }
                , complete: function () {

                }
            });
        }

        function TabPageLoad(_linkUrl, _linkName) {
            if ($("div[tabUrl='" + _linkUrl + "']").length > 0) {
                var tabDiv = $("div[tabUrl='" + _linkUrl + "']")[0].parentNode;
                $('#tabContent').jqxTabs('select', $(tabDiv).index());
                return;
            }

            const loading$ = $('#loading');
            const tabContent$ = $('#tabContent');
            loading$.css('display', 'block');
            tabContent$.jqxTabs('addLast', _linkName, "");
            var tabLength = tabContent$.jqxTabs('length');
            $.ajax({
                url: _linkUrl,
                type: 'get',
                dataType: 'html',
                async: true,
                success: function (resHtml) {
                    var content = tabContent$.jqxTabs('getContentAt', tabLength - 1);
                    $(content).html("<div class='wrapPage' tabUrl='" + _linkUrl + "'>" + resHtml + "</div>");
                }, error: function (res) {
                    if (res.status === 404) {
                        alert("현재 개발중인 화면입니다.");
                        return false;
                    }
                    alert(res.responseText);
                    console.log(res);
                }
                , complete: function () {
                    loading$.css('display', 'none');
                }
            });
        }
    </script>
</body>
</html>
