
@{
    Layout = null;
}


<div id="InfoECR_@ViewBag.ECRDetail.OID" class="info_project clearfix">
    <div class="info_menubar" style="width:250px;">
        <ul>
            <li class="tab info_focus" info="properties"><i class="fas fa-info-circle"></i> 기본 정보</li>
            <li class="tab" info="Apphis"><i class="fas fa-file"></i> 결재이력</li>
            <li class="tab" info="Downhis"><i class="fas fa-file-medical"></i> 다운로드이력 </li>
            <li class="tab" info="EcrStatement"><i class="fas fa-stream"></i> 변경요청내역</li>
            <li class="tab" info="EcoRelation"><i class="fas fa-list"></i> 연관 설계변경 </li>
        </ul>
    </div>


    <div class="changeOrder_content">
        <div class="project_basic clearfix">
            <div class="basic_info">
                <h3>@ViewBag.ECRDetail.Name</h3>
                <p>품명 : <span>@ViewBag.ECRDetail.Title</span></p>
            </div>
            <div class="basic_image">
                <div class="image_inputbox">이미지<!--이미지 드래그 영역--></div>
                <div class="image_thumbnail"><!--이미지 썸네일 영역--></div>
            </div>
            <div class="basic_status">
                <div class="pointer_wrap">
                    @for (int i = 0; i < ViewBag.Status.Count; i++)
                    {
                        <div class="pointer" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                            <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                        </div>
                    }
                </div>
                <p>설명 : <span></span></p>
            </div>
        </div>
        <div id="properties" class="basic_grid">

            <table class="tableTopButtonBox">
                <tbody>
                    <tr>
                        <td>
                            <h3 style="padding-left:8px;"><i class="fas fa-file-alt"></i> &nbsp;ECR PROFILE</h3>
                        </td>
                        <td style="text-align: right;">
                            <button id="EditApprovalBtn_@ViewBag.ECRDetail.OID" class="custom-button"><i class="fas fa-pen-alt"></i> 결재</button>
                            <button id="EditBtn_@ViewBag.ECRDetail.OID" class="custom-button"><i class="fas fa-edit"></i> 수정</button>
                            <button id="EditSaveBtn_@ViewBag.ECRDetail.OID" class="custom-button"><i class="fas fa-check-square"></i> 저장</button>
                            <button id="EditCancelBtn_@ViewBag.ECRDetail.OID" class="custom-button"><i class="fas fa-window-close"></i> 취소</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="overflow-y:scroll;height:625px;">
                <table class="infoTable">
                    <colgroup>
                        <col width="10%" />
                        <col width="40%" />
                        <col width="10%" />
                        <col width="40%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>설계변경요청번호</th>
                            <td class="required"><input type="text" value="@ViewBag.ECRDetail.Name" readonly="readonly"/></td>
                            <th>품목그룹</th>
                            <td>
                                <input type="text" value="@ViewBag.ECRDetail.ItemGroup" readonly="readonly" id="InfoEcrItemGroup_@ViewBag.ECRDetail.OID" class="Modifiable_@ViewBag.ECRDetail.OID" />
                            </td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td class="required"><input type="text" value="@ViewBag.ECRDetail.Title" readonly="readonly" id="InfoEcrTitle_@ViewBag.ECRDetail.OID" class="Modifiable_@ViewBag.ECRDetail.OID"/></td>
                            <th>설계변경일자</th>
                            <td class="required">
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.DesignChangeDt" />
                                <div class="ECRDatetimeInput ModifiableEditCustomBox_@ViewBag.ECRDetail.OID" id="InfoEcrDesignChangeDt_@ViewBag.ECRDetail.OID"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>변경요청사유</th>
                            <td class="required">
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.ReasonChangeRequestNm" />
                                <div id="InfoEcrReasonChangeRequest_@ViewBag.ECRDetail.OID" class="ECRComboBox ModifiableEditCustomBox_@ViewBag.ECRDetail.OID"></div>
                            </td>
                            <th>호환성</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.CompatibleNm" />
                                <div class="ModifiableEditCustomBox_@ViewBag.ECRDetail.OID">
                                    <div id="InfoEcrCompatibleY" class="ECRRadioBtn" group="ECRcompatibleR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_YES">있음</div>
                                    <div id="InfoEcrCompatibleN" class="ECRRadioBtn" group="ECRcompatibleR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_NO">없음</div>
                                    <div id="InfoEcrCompatibleS" class="ECRRadioBtn" group="ECRcompatibleR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_SAME">동시적용품</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>금형수정</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.IsMoldNm" />
                                <div class="ModifiableEditCustomBox_@ViewBag.ECRDetail.OID">
                                    <div id="InfoEcrIsMoldI" class="ECRRadioBtn" group="ECRmoldModR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_IRRELEVANT">무관</div>
                                    <div id="InfoEcrIsMoldY" class="ECRRadioBtn" group="ECRmoldModR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_YES">있음</div>
                                    <div id="InfoEcrIsMoldN" class="ECRRadioBtn" group="ECRmoldModR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_NEW">신규제작</div>
                                </div>
                            </td>
                            <th>등록사유</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.ReasonRegistrationNm" />
                                <div class="ModifiableEditCustomBox_@ViewBag.ECRDetail.OID">
                                    <div id="InfoEcrReasonRegistrationCO" class="ECRRadioBtn" group="ECRreasonR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_ECO">설계변경</div>
                                    <div id="InfoEcrReasonRegistrationN" class="ECRRadioBtn" group="ECRreasonR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_NEW">신규</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>보안여부</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.SecurityNm" />
                                <div class="ModifiableEditCustomBox_@ViewBag.ECRDetail.OID">
                                    <div id="InfoEcrSecurityS" class="ECRRadioBtn" group="ECRsecurityR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_SECURITY">보안</div>
                                    <div id="InfoEcrSecurityI" class="ECRRadioBtn" group="ECRsecurityR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_IMPORTANT">중요</div>
                                    <div id="InfoEcrSecurityL" class="ECRRadioBtn" group="ECRsecurityR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_LAW">법규</div>
                                    <div id="InfoEcrSecurityN" class="ECRRadioBtn" group="ECRsecurityR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_COMMON">일반</div>
                                </div>
                            </td>
                            <th>변경내용</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.ChangesNm" />
                                <div class="ModifiableEditCustomBox_@ViewBag.ECRDetail.OID">
                                    <div id="InfoEcrChangesDrw" class="ECRCheckBox" name="InfochkECRChanges_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_DRW">도면</div>
                                    <div id="InfoEcrChangesBOM" class="ECRCheckBox" name="InfochkECRChanges_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_BOM">BOM</div>
                                    <div id="InfoEcrChangesProd" class="ECRCheckBox" name="InfochkECRChanges_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_PRODUCE">생산원단위</div>
                                    <div id="InfoEcrChangesNew" class="ECRCheckBox" name="InfochkECRChanges_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_NEW">신규사양</div>
                                    <div id="InfoEcrChangesAdd" class="ECRCheckBox" name="InfochkECRChanges_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_ADD">생관도번추가</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>재고처리</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.StockNm" />
                                <div class="ModifiableEditCustomBox_@ViewBag.ECRDetail.OID">
                                    <div id="InfoEcrStockS" class="ECRRadioBtn" group="ECRstockR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_IRRELEVANT">무관</div>
                                    <div id="InfoEcrStockI" class="ECRRadioBtn" group="ECRstockR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_EXHAUST">소진</div>
                                    <div id="InfoEcrStockL" class="ECRRadioBtn" group="ECRstockR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_REWORK">REWORK</div>
                                    <div id="InfoEcrStockN" class="ECRRadioBtn" group="ECRstockR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_DISPOSAL">폐기</div>
                                </div>
                            </td>
                            <th>메모사양</th>
                            <td>
                                <input type="text" value="@ViewBag.ECRDetail.Memo" id="InfoEcrMemo_@ViewBag.ECRDetail.OID" readonly="readonly" class="Modifiable_@ViewBag.ECRDetail.OID"/>
                            </td>
                        </tr>
                        <tr>
                            <th>유첨자료</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.IsAttachedNm" />
                                <div class="ModifiableEditCustomBox_@ViewBag.ECRDetail.OID">
                                    <div id="InfoEcrIsAttachedN" class="ECRRadioBtn" group="ECRdataYNR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_NO">없음</div>
                                    <div id="InfoEcrIsAttachedY" class="ECRRadioBtn" group="ECRdataYNR_@ViewBag.ECRDetail.OID" data-value="@Common.Constant.EoConstant.TYPE_YES">있음</div>
                                </div>
                            </td>
                            <th>고객요구일자</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.SelRequestDt" />
                                <div id="InfoEcrSelRequestDt_@ViewBag.ECRDetail.OID" class="ECRDatetimeInput ModifiableEditCustomBox_@ViewBag.ECRDetail.OID"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>고객품번</th>
                            <td><input type="text" value="@ViewBag.ECRDetail.SelPartNo" id="InfoEcrSelPartNo_@ViewBag.ECRDetail.OID" readonly="readonly" class="Modifiable_@ViewBag.ECRDetail.OID"/></td>
                            <th>E-BOM</th>
                            <td>
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.EBom" />
                                <div class="ECRDatetimeInput ModifiableEditCustomBox_@ViewBag.ECRDetail.OID" id="InfoEcrEBom_@ViewBag.ECRDetail.OID"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>개발/양산 구분</th>
                            <td class="required">
                                <input type="text" class="ModifiableCustomBox_@ViewBag.ECRDetail.OID" value="@ViewBag.ECRDetail.DevMPNm" />
                                <div id="InfoEcrDevMP_@ViewBag.ECRDetail.OID" class="ECRComboBox ModifiableEditCustomBox_@ViewBag.ECRDetail.OID"></div>
                            </td>
                            <th>차종</th>
                            <td><input type="text" value="@ViewBag.ECRDetail.CarType" id="CarType_@ViewBag.ECRDetail.OID" readonly="readonly" class="Modifiable_@ViewBag.ECRDetail.OID"/></td>
                        </tr>
                        <tr>
                            <th style="vertical-align:text-top;line-height:32px;">세부설명</th>
                            <td colspan="3">
                                <textarea id="InfoEcrDescription_@ViewBag.ECRDetail.OID" class="Modifiable_@ViewBag.ECRDetail.OID" style="width:100%; height: 100px;" readonly="readonly">@ViewBag.ECRDetail.Description</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="Apphis" class="basic_grid dective">
            <div id="ApphisInfo_@ViewBag.ECRDetail.OID">
            </div>
        </div>

        <div id="Downhis" class="basic_grid dective">
            <div id="DownhisInfo_@ViewBag.ECRDetail.OID">
            </div>
        </div>

        <div id="EcrStatement" class="basic_grid dective">
            <div id="EcrStatementInfo_@ViewBag.ECRDetail.OID">
            </div>
        </div>

        <div id="EcoRelation" class="basic_grid dective">
            <div id="EcoRelationInfo_@ViewBag.ECRDetail.OID">
            </div>
        </div>

    </div>
</div>

<script>
    var EcoRelationData = null;
    $(function () {
        $('.ECRComboBox').jqxComboBox({ width: '50%', height: 32 });
        $('.ECRCheckBox').jqxCheckBox({ width: 120, height: 32 });
        $('.ECRDatetimeInput').jqxDateTimeInput({ width: 225, height: 32, formatString: 'yyyy-MM-dd' });

        $('.ECRRadioBtn').jqxRadioButton({ width: 120, height: 32 });
        $('[group="ECRcompatibleR_@ViewBag.ECRDetail.OID"]').jqxRadioButton({ groupName: 'compatibleR' });
        $('[group="ECRmoldModR_@ViewBag.ECRDetail.OID"]').jqxRadioButton({ groupName: 'moldModR' });
        $('[group="ECRreasonR_@ViewBag.ECRDetail.OID"]').jqxRadioButton({ groupName: 'reasonR' });
        $('[group="ECRsecurityR_@ViewBag.ECRDetail.OID"]').jqxRadioButton({ groupName: 'securityR' });
        $('[group="ECRstockR_@ViewBag.ECRDetail.OID"]').jqxRadioButton({ groupName: 'stockR' });
        $('[group="ECRdataYNR_@ViewBag.ECRDetail.OID"]').jqxRadioButton({ groupName: 'dataYNR' });

        var InfoEcrCompatible = null;
        var InfoEcrIsMold = null;
        var InfoEcrReasonRegistration = null;
        var InfoEcrSecurity = null;
        var InfoEcrStock = null;
        var InfoEcrIsAttached = null;

        $('div[group="ECRcompatibleR_@ViewBag.ECRDetail.OID"]').on('checked', function (event) {
            InfoEcrCompatible = $(this).data('value'); //호환성
        });
        $('div[group="ECRmoldModR_@ViewBag.ECRDetail.OID"]').on('checked', function (event) {
            InfoEcrIsMold = $(this).data('value'); //금형
        });
        $('div[group="ECRreasonR_@ViewBag.ECRDetail.OID"]').on('checked', function (event) {
            InfoEcrReasonRegistration = $(this).data('value'); //등록사유
        });
        $('div[group="ECRsecurityR_@ViewBag.ECRDetail.OID"]').on('checked', function (event) {
            InfoEcrSecurity = $(this).data('value'); //보안여부
        });
        $('div[group="ECRstockR_@ViewBag.ECRDetail.OID"]').on('checked', function (event) {
            InfoEcrStock = $(this).data('value'); //재고
        });
        $('div[group="ECRdataYNR_@ViewBag.ECRDetail.OID"]').on('checked', function (event) {
            InfoEcrIsAttached = $(this).data('value'); //유첨
        });

        _.each($('div[group="ECRcompatibleR_@ViewBag.ECRDetail.OID"]'), function (item) {
            if ($(item).data('value') == "@ViewBag.ECRDetail.Compatible") {
                $(item).jqxRadioButton('check');
            }
        });

        _.each($('div[group="ECRmoldModR_@ViewBag.ECRDetail.OID"]'), function (item) {
            if ($(item).data('value') == "@ViewBag.ECRDetail.IsMold") {
                $(item).jqxRadioButton('check');
            }
        });

        _.each($('div[group="ECRreasonR_@ViewBag.ECRDetail.OID"]'), function (item) {
            if ($(item).data('value') == "@ViewBag.ECRDetail.ReasonRegistration") {
                $(item).jqxRadioButton('check');
            }
        });

        _.each($('div[group="ECRsecurityR_@ViewBag.ECRDetail.OID"]'), function (item) {
            if ($(item).data('value') == "@ViewBag.ECRDetail.Security") {
                $(item).jqxRadioButton('check');
            }
        });

        _.each($('div[group="ECRstockR_@ViewBag.ECRDetail.OID"]'), function (item) {
            if ($(item).data('value') == "@ViewBag.ECRDetail.Stock") {
                $(item).jqxRadioButton('check');
            }
        });

        _.each($('div[group="ECRdataYNR_@ViewBag.ECRDetail.OID"]'), function (item) {
            if ($(item).data('value') == "@ViewBag.ECRDetail.IsAttached") {
                $(item).jqxRadioButton('check');
            }
        });

        var InfoEcrDesignChangeDt$ = $('#InfoEcrDesignChangeDt_@ViewBag.ECRDetail.OID');
        InfoEcrDesignChangeDt$.jqxDateTimeInput(DateFormat);

        var DesignChangeDt = "@ViewBag.ECRDetail.DesignChangeDt";

        if (DesignChangeDt == null || DesignChangeDt == "") {
            InfoEcrDesignChangeDt$.jqxDateTimeInput({ width: 225, height: 32, value: null });
        } else {
            DesignChangeDt = DesignChangeDt.substring(0, 10);
            InfoEcrDesignChangeDt$.jqxDateTimeInput('setDate', DesignChangeDt);
            InfoEcrDesignChangeDt$.jqxDateTimeInput({ width: 225, height: 32, formatString: 'yyyy-MM-dd' });
        }

        var InfoEcrSelRequestDt$ = $('#InfoEcrSelRequestDt_@ViewBag.ECRDetail.OID'); //EO일자
        InfoEcrSelRequestDt$.jqxDateTimeInput(DateFormat);

        var SelRequestDt = "@ViewBag.ECRDetail.SelRequestDt";

        if (SelRequestDt == null || SelRequestDt == "") {
            InfoEcrSelRequestDt$.jqxDateTimeInput({ width: 225, height: 32, value: null });
        } else {
            SelRequestDt = SelRequestDt.substring(0, 10);
            InfoEcrSelRequestDt$.jqxDateTimeInput('setDate', SelRequestDt);
            InfoEcrSelRequestDt$.jqxDateTimeInput({ width: 225, height: 32, formatString: 'yyyy-MM-dd' });
        }

        var InfoEcrEBom$ = $('#InfoEcrEBom_@ViewBag.ECRDetail.OID');
        InfoEcrEBom$.jqxDateTimeInput(DateFormat);

        var EBom = "@ViewBag.ECRDetail.EBom";

        if (EBom == null || EBom == "") {
            InfoEcrEBom$.jqxDateTimeInput({ width: 225, height: 32, value: null });
        } else {
            EBom = EBom.substring(0, 10);
            InfoEcrEBom$.jqxDateTimeInput('setDate', EBom);
            InfoEcrEBom$.jqxDateTimeInput({ width: 225, height: 32, formatString: 'yyyy-MM-dd' });
        }


        var InfoEcrChanges = "@ViewBag.ECRDetail.Changes";
        var InfoEcrChange = InfoEcrChanges.split(',');
        _.each($('div[name="InfochkECRChanges_@ViewBag.ECRDetail.OID"]'), function (item) {
            if (InfoEcrChanges.indexOf(',') > -1) {
                _.each(InfoEcrChanges.split(','), function (Changes) {
                    if ($(item).data('value') == Changes) {
                        $(item).jqxCheckBox('check');
                    }
                });
            } else {
                if ($(item).data('value') == InfoEcrChanges) {
                    $(item).jqxCheckBox('check');
                }
            }
        });

        var InfoEcrDevMP$ = $('#InfoEcrDevMP_@ViewBag.ECRDetail.OID');
        var ECRDevTypeList = [
            { type: "@Common.Constant.EoConstant.TYPE_DEV_KorNm", value: "@Common.Constant.EoConstant.TYPE_DEV" },
            { type: "@Common.Constant.EoConstant.TYPE_MP_KorNm", value: "@Common.Constant.EoConstant.TYPE_MP" }
        ];
        var InfoECRDevSource =
        {
            localdata: ECRDevTypeList,
            datatype: "json",
            datafields:
                [
                    { name: 'type', type: 'string' },
                    { name: 'value', type: 'string' },
                ]
        };
        var InfoECRDevAdapter = new $.jqx.dataAdapter(InfoECRDevSource);
        InfoEcrDevMP$.jqxComboBox({ source: InfoECRDevAdapter, displayMember: "type", valueMember: "value" });
        InfoEcrDevMP$.jqxComboBox('selectItem', "@ViewBag.ECRDetail.DevMP");

        var InfoECRreasonChange$ = $('#InfoEcrReasonChangeRequest_@ViewBag.ECRDetail.OID');
        var ECRreasonList$ =  @Html.Raw(Json.Encode(ViewBag.ECRreasonList));
        var ECRreasonSource =
        {
            localdata: ECRreasonList$,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                ]
        };
        var ECRreasonAdapter = new $.jqx.dataAdapter(ECRreasonSource);
        InfoECRreasonChange$.jqxComboBox({ source: ECRreasonAdapter, displayMember: "KorNm", valueMember: "OID" });
        InfoECRreasonChange$.jqxComboBox('selectItem', @ViewBag.ECRDetail.ReasonChangeRequest);

        $('.ModifiableCustomBox_@ViewBag.ECRDetail.OID').attr('hidden', false);
        $('.ModifiableEditCustomBox_@ViewBag.ECRDetail.OID').attr('hidden', true);

        var ECROID = '@ViewBag.ECRDetail.OID';
        const DocDiv$ = $('#InfoECR_' + ECROID);
        const headerStatus = $('#InfoECR_' + ECROID + ' .pointer_wrap .pointer');
        const current = @ViewBag.ECRDetail.BPolicyOID;

        if (headerStatus != null && headerStatus.length > 0) {
            headerStatus.removeClass('pointer_focus');
            const currentStatus = headerStatus.filter(function (index, item) {
                return item.getAttribute('data-Status') == current;
            });
            if (currentStatus != null && currentStatus.length > 0) {
                currentStatus[0].className += ' ' + 'pointer_focus';
            }
        }

        $('#EditApprovalBtn_' + ECROID).on('click', function () {
            OpenApprovalDialog(function () {
                PageReload();
            }, null, { TargetOID: ECROID }, '/Common/Approval', '결재');
        });

        $('#InfoECR_' + ECROID + ' .tab').on('click', function () {
            const self$ = $(this);
            const infoValue = self$.attr('info');
            DocDiv$.find('[class="tab info_focus"]').removeClass('info_focus');
            self$.addClass('info_focus');
            DocDiv$.find('[class="basic_grid"]').addClass('dective');
            DocDiv$.find('[id="' + infoValue + '"]').removeClass('dective');

            if (infoValue == 'properties') {
                $('#EditBtn_@ViewBag.ECRDetail.OID').on('click', function () {
                    $('.Modifiable_@ViewBag.ECRDetail.OID').removeAttr('readonly');
                    $('.ModifiableCustomBox_@ViewBag.ECRDetail.OID').attr('hidden', true);
                    $('.ModifiableEditCustomBox_@ViewBag.ECRDetail.OID').attr('hidden', false);

                    var modifyTag = document.createElement('div');
                    modifyTag.className = "modifyTag";

                    $('.Modifiable_@ViewBag.ECRDetail.OID').parent().css('position', 'relative');
                    $('.ModifiableEditCustomBox_@ViewBag.ECRDetail.OID').parent().css('position', 'relative');

                    $('.Modifiable_@ViewBag.ECRDetail.OID').parent().append(modifyTag);
                    $('.ModifiableEditCustomBox_@ViewBag.ECRDetail.OID').parent().append(modifyTag);
                });

                $('#EditSaveBtn_@ViewBag.ECRDetail.OID').on('click', function () {
                    var InfoEcrEditParam = {};
                    InfoEcrEditParam.OID = @ViewBag.ECRDetail.OID;
                    InfoEcrEditParam.Description            =           $('#InfoEcrDescription_@ViewBag.ECRDetail.OID').val();


                    InfoEcrEditParam.ItemGroup              =           $('#InfoEcrItemGroup_@ViewBag.ECRDetail.OID').val();
                    InfoEcrEditParam.Title                  =           $('#InfoEcrTitle_@ViewBag.ECRDetail.OID').val();
                    InfoEcrEditParam.DesignChangeDt         =           $('#InfoEcrDesignChangeDt_@ViewBag.ECRDetail.OID').val();
                    InfoEcrEditParam.ReasonChangeRequest    =           InfoECRreasonChange$.val();
                    InfoEcrEditParam.Compatible             =           InfoEcrCompatible;
                    InfoEcrEditParam.IsMold                 =           InfoEcrIsMold;
                    InfoEcrEditParam.ReasonRegistration     =           InfoEcrReasonRegistration;
                    InfoEcrEditParam.Security               =           InfoEcrSecurity;

                    var InfochkECRChanges = [];
                    for (var i = 0; i < $('input[name="InfochkECRChanges_@ViewBag.ECRDetail.OID"]').length; i++) {
                        if ($('input[name="InfochkECRChanges_@ViewBag.ECRDetail.OID"]')[i].value == "true") {
                            InfochkECRChanges.push($('div[name="InfochkECRChanges_@ViewBag.ECRDetail.OID"]').eq(i).data('value'));
                        }
                    }

                    InfoEcrEditParam.Changes                =           InfochkECRChanges.join(',');;

                    InfoEcrEditParam.Stock                  =           InfoEcrStock;
                    InfoEcrEditParam.Memo                   =           $('#InfoEcrMemo_@ViewBag.ECRDetail.OID').val();
                    InfoEcrEditParam.IsAttached             =           InfoEcrIsAttached;
                    InfoEcrEditParam.SelRequestDt           =           InfoEcrSelRequestDt$.val();
                    InfoEcrEditParam.SelPartNo              =           $('#InfoEcrSelPartNo_@ViewBag.ECRDetail.OID').val();
                    InfoEcrEditParam.EBom                   =           InfoEcrEBom$.val();
                    InfoEcrEditParam.DevMP                  =           InfoEcrDevMP$.val();
                    InfoEcrEditParam.CarType                =           $('#CarType_@ViewBag.ECRDetail.OID').val();

                    RequestData('/ChangeRequest/UdtEcrObj', InfoEcrEditParam, function (response) {
                        if (response.isError) {
                            alert(response.resultMessage);
                            return;
                        }
                        alert("저장되었습니다.");
                        PageReload();
                    });
                });
            } else if (infoValue == 'Apphis') {
                RequestHtml('/Common/ApprovalHistory', { OID: ECROID }, function (res) {
                    $('#ApphisInfo_' + ECROID).html(res);
                });
            } else if (infoValue == 'Downhis') {

            } else if (infoValue == 'EcrStatement') {
                var selRow;
                var rowKey = null;
                var rowDataField = null;
                var param = {};
                param.Type = '@Common.Constant.EoConstant.TYPE_ECR_STATEMENT';
                param.RootOID = @ViewBag.ECRDetail.OID;

                var EcrStatementSource = {
                    datatype: 'json',
                    datafields: [
                        { name: 'OID' },
                        { name: 'PNo' },
                        { name: 'RootOID' },
                        { name: 'Type' },
                        { name: 'PName' },
                        { name: 'BfThumbnail' },
                        { name: 'AfThumbnail' },
                        { name: 'Statement' },
                        { name: 'Description' },
                        { name: 'Stamp' },
                        { name: 'CreateUsNm' },
                        { name: 'CreateDt', type: 'date' },
                    ],
                    updateRow: function (rowID, rowData, commit) {
                        commit(true);

                    }
                }

                const EcrStatementGrid$ = $('#EcrStatementInfo_@ViewBag.ECRDetail.OID');
                EcrStatementGrid$.jqxGrid('render');
                EcrStatementGrid$.jqxGrid({
                    theme: "kdnc",
                    width: "100%",
                    height: 665,
                    rowsheight: 200,
                    columnsheight: 30,
                    //autorowheight: true,
                    editable: true,
                    //autoheight: true,
                    selectionmode: 'checkbox',
                    sortable: false,
                    pageable: false,
                    columns: [
                        {
                            text: 'NO', width: "3%", cellsalign: 'center', columntype: 'number', align: 'center',
                            cellsrenderer: function (row, column, value) {
                                return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                            }
                        },
                        {
                            text: 'P/NO', datafield: 'PNo', width: "11%", align: 'center', cellsalign: 'center',
                            validation: function (cell, value) {
                                if (value == '' || value == null) {
                                    return { result: false, message: "P/NO를 입력해주세요" };
                                }
                                return true;
                            }
                        },
                        {
                            text: 'P/NAME', datafield: 'PName', width: "20%", align: 'center', cellsalign: 'center',
                        },
                        {
                            text: '변경 전', datafield: 'BfThumbnail', width: "12%", align: 'center', cellsalign: 'center',
                            createwidget: function (row, column, value, htmlElement) {
                                var uid = row.bounddata.uid;
                                var div = '<div class="basic_image ChangeRequestImg">';
                                div += '<input type="file" name="file1_' + uid + '" multiple="true" id="imageDrag1_' + uid + '" style="display:none;">';
                                div += '<div class="image_inputbox" id="dropZone1_' + uid + '"><span class="imgPlaceholder">이미지</span></div>';
                                div += '<ul class="image_thumbnail" id="uploadResult1_' + uid + '"></div>';
                                $(htmlElement).append(div);
                                if (value != null && value != '') {
                                    $(htmlElement).find('#dropZone1_' + uid).empty();
                                    $(htmlElement).find('#dropZone1_' + uid).append('<img class="img-thumbnail" src="@Url.Content("~/images/Thumbnail/")' + value + '" />');
                                }
                            },
                            initwidget: function (row, column, value, htmlElement) {

                            }
                        },
                        {
                            text: '변경 후', datafield: 'AfThumbnail', width: "12%", align: 'center', cellsalign: 'center',
                            createwidget: function (row, column, value, htmlElement) {
                                var uid = row.bounddata.uid;
                                var div = '<div class="basic_image ChangeRequestImg">';
                                div += '<input type="file" name="file2_' + uid + '" multiple="true" id="imageDrag2_' + uid + '" style="display:none;">';
                                div += '<div class="image_inputbox" id="dropZone2_' + uid + '"><span class="imgPlaceholder">이미지</span></div>';
                                div += '<ul class="image_thumbnail" id="uploadResult2_' + uid + '"></div>';
                                $(htmlElement).append(div);

                                if (value != null && value != '') {
                                    $(htmlElement).find('#dropZone2_' + uid).empty();
                                    $(htmlElement).find('#dropZone2_' + uid).append('<img class="img-thumbnail" src="@Url.Content("~/images/Thumbnail/")' + value + '" />');
                                }
                                dropImage(uid);
                            },
                            initwidget: function (row, column, value, htmlElement) {

                            }
                        },
                        { text: '변경 내역', datafield: 'Statement', width: "20%", align: 'center', cellsalign: 'center', },
                        { text: '비고', datafield: 'Description', width: "20%", align: 'center', cellsalign: 'center', },

                        { text: '작성자', datafield: 'CreatUsNm', width: "6%", align: 'center', cellsalign: 'center', hidden: true },
                        { text: '작성일', datafield: 'CreateDt', width: "8%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', hidden: true },
                    ],
                    showtoolbar: true,
                    toolbarheight: 45,
                    renderToolbar: function (statusbar) {

                        var container$ = $('<div class="lGridComponent"></div>');
                        var EcrStatementAddBtn$ = $('<button class="custom-button"><i class="fas fa-plus-square"></i> 추가</button>').jqxButton();
                        var EcrStatementDelBtn$ = $('<button class="custom-button"><i class="fas fa-minus-square"></i> 삭제</button>').jqxButton();
                        var EcrStatementSaveBtn$ = $('<button class="custom-button"><i class="fas fa-save"></i> 저장</button>').jqxButton();

                        container$.append(EcrStatementAddBtn$);
                        container$.append(EcrStatementDelBtn$);
                        container$.append(EcrStatementSaveBtn$);
                        statusbar.append(container$);
                        ////행 추가
                        EcrStatementAddBtn$.on('click', function (e) {
                            var rowData = {};
                            rowData.RootOID = @ViewBag.ECRDetail.OID;
                            rowData.Type = '@Common.Constant.EoConstant.TYPE_ECR_STATEMENT';
                            EcrStatementGrid$.jqxGrid('addrow', null, rowData);
                            EcrStatementGrid$.jqxGrid({ editable: true });
                        });

                        EcrStatementGrid$.on('cellclick', function (event) {
                            // event arguments.
                            var args = event.args;
                            rowKey = args.rowindex;
                            rowDataField = args.datafield;

                        });

                        EcrStatementSaveBtn$.on('click', function (e) {
                            EcrStatementGrid$.jqxGrid('endcelledit', rowKey, rowDataField, false);
                            var data = EcrStatementGrid$.jqxGrid('getrows');
                            for (var i = 0; i < data.length; i++) {
                                var cellData = EcrStatementGrid$.jqxGrid('getcelltext', i, 'PNo');
                                if (cellData == null || cellData == undefined || cellData == '') {
                                    alert('P/NO를 입력해주세요');
                                    return false;
                                }
                            }
                            if (confirm("저장하시겠습니까?")) {
                                var iData = {};
                                iData.RootOID = @ViewBag.ECRDetail.OID;
                                iData.Type = '@Common.Constant.EoConstant.TYPE_ECR_STATEMENT';

                                RequestData('/ChangeRequest/InsECRContents', { _param: data, delData: iData }, function (response) {
                                    if (response.isError) {
                                        alert(response.resultMessage);
                                        return;
                                    }
                                    alert("저장되었습니다.");
                                    getBomList(EcrStatementSource, EcrStatementGrid$, param);
                                });
                            }

                        });

                        EcrStatementDelBtn$.on('click', function (e) {
                            var rowindex = EcrStatementGrid$.jqxGrid('selectedrowindexes');
                            rowindex.sort();
                            if (rowindex == null || rowindex == undefined) {
                                alert('삭제할 행을 선택하여 주세요');
                            } else {
                                if (confirm('삭제하시겠습니까?')) {
                                    for (var i = rowindex.length - 1; i >= 0; i--) {
                                        var id = EcrStatementGrid$.jqxGrid('getrowid', rowindex[i]);
                                        EcrStatementGrid$.jqxGrid('deleterow', id);
                                    }
                                }
                            }
                        });
                    }
                });
                getBomList(EcrStatementSource, EcrStatementGrid$, param);
            } else if (infoValue == 'EcoRelation') {
                var EcoRelationParam = {};

                EcoRelationParam.Type = '@Common.Constant.EoConstant.TYPE_ECO_RELATION';
                EcoRelationParam.RootOID = @ViewBag.ECRDetail.OID;

                var InfoECRRelatedSource = {
                    datatype: 'json',
                    datafields: [
                        { name: 'OID' },
                        { name: 'Name' },
                        { name: 'DesignChangeDt', type: 'date'},
                        { name: 'CreateUs' },
                        { name: 'BPolicy' },
                        { name: 'BPolicyOID' },
                    ],
                };
                const InfoECRRelatedGrid$ = $('#EcoRelationInfo_@ViewBag.ECRDetail.OID');
                InfoECRRelatedGrid$.jqxGrid('render');
                InfoECRRelatedGrid$.jqxGrid({
                    theme: "kdnc",
                    width: "100%",
                    height: 665,
                    columnsheight: 30,
                    editable: false,
                    selectionmode: 'checkbox',
                    sortable: false,
                    pageable: false,
                    columns: [
                        { text: 'NO', width: '5%', cellsalign: 'center', columntype: 'number', align: 'center', },
                        { text: 'ECO_NO', datafield: 'Name', width: '30%', },
                        { text: 'ECO_NO 일자', datafield: 'DesignChangeDt', width: '15%', type: 'text', align: 'center', cellsalign: 'center', text: '설계변경일자', cellsFormat: 'yyyy-MM-dd' },
                        { text: '작성자', datafield: 'CreateUs', width: '10%', },
                        { text: '상태', datafield: 'BPolicyOID', width: '40%', },
                    ],
                    showtoolbar: true,
                    toolbarheight: 45,
                    renderToolbar: function (statusbar) {
                        statusbar.empty();
                        var container$ = $('<div class="lGridComponent"></div>');
                        var EcrRelatedAddBtn$ = $('<button class="custom-button"><i class="fas fa-plus-square"></i> 추가</button>').jqxButton();
                        var EcrRelatedDelBtn$ = $('<button class="custom-button"><i class="fas fa-minus-square"></i> 삭제</button>').jqxButton();

                        container$.append(EcrRelatedAddBtn$);
                        container$.append(EcrRelatedDelBtn$);
                        statusbar.append(container$);

                        EcrRelatedAddBtn$.on('click', function (e) {
                            OpenSearchECODialog(
                                function (res) {
                                    getECRRelatedList(InfoECRRelatedSource, InfoECRRelatedGrid$, EcoRelationParam);
                                }, null, EcoRelationData, '/ChangeRequest/dlgSearchECO', 'ECO 검색', InfoECRRelatedGrid$, InfoECRRelatedSource, 'Edit', @ViewBag.ECRDetail.OID);
                        });

                        EcrRelatedDelBtn$.on('click', function (e) {
                            var rowindex = InfoECRRelatedGrid$.jqxGrid('selectedrowindexes');
                            rowindex.sort();
                            if (rowindex == null || rowindex == undefined) {
                                alert('삭제할 행을 선택하여 주세요');
                            } else {
                                if (confirm('삭제하시겠습니까?')) {
                                    var DelECORelationData = [];
                                    for (var i = rowindex.length - 1; i >= 0; i--) {
                                        var id = InfoECRRelatedGrid$.jqxGrid('getrowid', rowindex[i]);
                                        DelECORelationData.push(InfoECRRelatedGrid$.jqxGrid('getrowdata', id));
                                        //CreateECRRelatedData.splice(id, 1);
                                        //InfoECRRelatedGrid$.jqxGrid('deleterow', id);
                                    }
                                    RequestData("/ChangeRequest/DelEOContents", { Param : EcoRelationParam, DelData: DelECORelationData }, function (res) {
                                        getECRRelatedList(InfoECRRelatedSource, InfoECRRelatedGrid$, EcoRelationParam);
                                    });

                                }
                            }
                        });
                    }
                });
                getECRRelatedList(InfoECRRelatedSource, InfoECRRelatedGrid$, EcoRelationParam);
            }
        });
        $('.info_focus').click();
    });

    function getBomList(_Source, _Grid$, _param) {
        RequestData("/ChangeOrder/SelEOContents", _param, function (res) {
            PrintJqxGrid(_Source, _Grid$, res);
        });
    }

    function getECRRelatedList(_Source, _Grid$, _param) {
        RequestData("/ChangeRequest/SelEOContents", _param, function (res) {
            EcoRelationData = res;
            PrintJqxGrid(_Source, _Grid$, res);
        });
    }

    function dropImage(uid) {
        $('#imageDrag1_' + uid).simpleUpload({
            url: '/Common/ImgUploadFile',
            params: {},
            method: 'post',
            maxFileNum: 1,
            maxFileSize: 1000000,
            allowedMimeType: ['image/jpeg', 'image/png', 'image/gif', 'image/jpg'],
            dropZone: '#dropZone1_' + uid,
        }).on('upload:over', function (e, files) {
            alert('Number of files is over');
        }).on('upload:invalid', function (e, files) {
            for (var i = 0; i < files.length; i++) {
                alert('Invalid ' + files[i].reason + ': ' + files[i].name);
            }
        }).on('upload:done', function (e, file, index, data, xhr) {
            $('#uploadResult1_' + uid).empty();
            $('#uploadResult1_' + uid).append('<li>' + '<img class="img-thumbnail" src="@Url.Content("~/images/Thumbnail/")' + data + '" />' + '</li>');
            var rowd = $('#EcrStatementInfo_@ViewBag.ECRDetail.OID').jqxGrid('getrowdatabyid', uid);
            rowd.BfThumbnail = data;
            $('#EcrStatementInfo_@ViewBag.ECRDetail.OID').jqxGrid('updaterow', uid, rowd);
            $('.imgPlaceholder').hide();
        });

        $('#imageDrag2_' + uid).simpleUpload({
            url: '/Common/ImgUploadFile',
            params: {},
            method: 'post',
            maxFileNum: 1,
            maxFileSize: 1000000,
            allowedMimeType: ['image/jpeg', 'image/png', 'image/gif', 'image/jpg'],
            dropZone: '#dropZone2_' + uid,
        }).on('upload:over', function (e, files) {
            alert('Number of files is over');
        }).on('upload:invalid', function (e, files) {
            for (var i = 0; i < files.length; i++) {
                alert('Invalid ' + files[i].reason + ': ' + files[i].name);
            }
        }).on('upload:done', function (e, file, index, data, xhr) {
            $('#uploadResult2_' + uid).empty();
            $('#uploadResult2_' + uid).append('<li>' + '<img class="img-thumbnail" src="@Url.Content("~/images/Thumbnail/")' + data + '" />' + '</li>');
            var rowd = $('#EcrStatementInfo_@ViewBag.ECRDetail.OID').jqxGrid('getrowdatabyid', uid);
            rowd.AfThumbnail = data;
            $('#EcrStatementInfo_@ViewBag.ECRDetail.OID').jqxGrid('updaterow', uid, rowd);
            $('.imgPlaceholder').hide();
        });
    }
</script>