@{
    Layout = null;
}

<div id="listView">
    <div class="user_tree clearfix">
        <div class="treeButtonWrap">
            <h3><i class="fas fa-building"></i> &nbsp;고객사/차종</h3>
        </div>
        <div id="ProjOemCarTree" style="overflow-y: auto;"></div>
    </div>
    <div class="user_list">
        <!--검색창-->
        <div class="searchBox">
            <div class="searchTitle">
                <label><i class="fas fa-folder-open"></i> &nbsp;프로젝트 검색</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div class="comboBoxLabel">구분</div>
                    <div>
                        <div id="projType" style="margin-left:5px;"></div>
                    </div>
                </div>
                <div class="searchData">
                    <div>프로젝트명</div>
                    <div>
                        <input type="text" class="txtBox" id="txtProjName" />
                    </div>
                </div>
                <div class="searchData">
                    <div>상태</div>
                    <div>
                        <div id="projStatus" style="margin-left:5px;"></div>
                    </div>
                </div>
                <div class="searchData">
                    <div>내용</div>
                    <div>
                        <input type="text" class="txtBox" id="txtContent" />
                    </div>
                </div>
                <div class="searchButton">
                    <button id="btnSearch" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
                </div>
            </div>
        </div>
        <div id="grd"></div>
    </div>
</div>

<script type="text/javascript">
    var selCarOID =null;
    var selCarText = "";
    var selOemOID = null;
    var selOemText = "";
    var selProjOID = null;
    var selRowKey = null;
    var param = {};
    $(function () {

        var ProjectSource = {
            datatype: 'json',
            datafields: [
                { name: 'OID' },
                { name: 'Name' },
                { name: 'ProjectType' },
                { name: 'BPolicy' },
                { name: 'BPolicyAuths', type: 'Array' },
                { name: 'CreateUsNm' },
                { name: 'Oem_Lib_OID' },
                { name: 'Oem_Lib_Nm' },
                { name: 'Car_Lib_OID' },
                { name: 'Car_Lib_Nm' },
                { name: 'EstStartDt', type: "date" },
                { name: 'EstEndDt', type: "date" },
                { name: 'ActEndDt', type: "date" },
                { name: 'CreateDt', type: 'date' },
                { name: 'Description' },
            ],
        }

        var ProjOemCarTree$ = $('#ProjOemCarTree');
        //var ProjOemCarSource = @Html.Raw(Json.Encode(ViewBag.ProjOemCarSource));
        ProjOemCarTree$.jqxTree({
            width: '100%',
            height: 757,
            //source: ProjOemCarSource,
        });

        RequestData("/Pms/SelOemCarData", {}, function (res) {
            ProjOemCarTree$.jqxTree({ source: res });
        });

        ProjOemCarTree$.on('select', function (event) {
            var args = event.args;
            var item = ProjOemCarTree$.jqxTree('getItem', args.element);

            if (item.type == "@Common.Constant.PmsConstant.ATTRIBUTE_OEM") {
                param.Oem_Lib_OID = item.id;
                param.Car_Lib_OID = null;
                selOemOID = item.id;
                selCarOID = null;
                getPmsProjectList(ProjectSource, Grd$, param);
                Grd$.jqxGrid('clearselection');
                selProjOID = null;
            } else if (item.type == "@Common.Constant.PmsConstant.ATTRIBUTE_CAR") {
                selCarOID = item.id;
                selCarText = item.label;
                selOemOID = item.parentId;

                var parentval = ProjOemCarTree$.jqxTree('getItem', args.element.parentElement.parentElement);
                if (parentval != null) {
                    selOemText = parentval.label;
                }

                param.Oem_Lib_OID = selOemOID;
                param.Car_Lib_OID = selCarOID;

                getPmsProjectList(ProjectSource, Grd$, param);
                Grd$.jqxGrid('clearselection');
                selProjOID = null;
            }
        });

        const Grd$ = $('#grd');
        Grd$.jqxGrid({
            theme: "kdnc",
            width: "100%",
            height: 675,
            rowsheight: 28,
            columnsheight: 30,
            sortable: false,
            pageable: true,
            pagesize: 20,
            selectionmode: 'singlerow',
            columnsresize: true,
            columns: [
                {
                    text: 'NO', width: "3%", cellsalign: 'center', columntype: 'number', align: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                { text: '프로젝트명', datafield: 'Name', width: "20%", align: 'center', cellsalign: 'left', },
                { text: 'OEM', datafield: 'Oem_Lib_Nm', width: "12%", align: 'center', cellsalign: 'center', },
                { text: '차종', datafield: 'Car_Lib_Nm', width: "8%", align: 'center', cellsalign: 'center', },
                { text: '구분', datafield: 'ProjectType', width: "5%", align: 'center', cellsalign: 'center', },
                {
                    text: '상태', datafield: 'BPolicy', width: "5%", align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + value.StatusNm + "</div>";
                    },
                },
                { text: '작성자', datafield: 'CreateUsNm', width: "7%", align: 'center', cellsalign: 'center', },
                { text: '기준일', datafield: 'EstStartDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '예상 종료일', datafield: 'EstEndDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '실제 종료일', datafield: 'ActEndDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '생성일', datafield: 'CreateDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
               // { text: '내용', datafield: 'Description', width: "25%", align: 'center', cellsalign: 'center', },
            ],
            showtoolbar: true,
            toolbarheight: 45,
            rendertoolbar: function (statusbar) {
                statusbar.empty();
                var container = $("<div class='rGridComponent'></div>");
                var btnAdd = $("<button class='custom-button'><i class='fas fa-plus-square'></i> 프로젝트 등록</button>").jqxButton();
                var btnMod = $("<button class='custom-button'><i class='fas fa-edit'></i> 프로젝트 수정</button>").jqxButton();
                var btnDelete = $("<button class='custom-button'><i class='fas fa-minus-square'></i> 선택 삭제</button>").jqxButton();

                container.append(btnAdd);
                container.append(btnMod);
                container.append(btnDelete);
                statusbar.append(container);

                btnAdd.on('click', function () {

                    if (selCarOID == null || selCarOID == "") {
                        alert('차종을 선택하여주세요.');
                        return;
                    }
                    OpenPmsCreateDialog(function () {
                        getPmsProjectList(ProjectSource, Grd$, param);
                    }, null, null, '/Pms/CreateProject', '프로젝트 등록');
                });

                btnMod.on('click', function () {
                    if (selProjOID == null || selProjOID == "") {
                        alert('프로젝트를 선택하여주세요.');
                        return;
                    }
                    OpenPmsCreateDialog(function () {
                        getPmsProjectList(ProjectSource, Grd$, param);
                    }, null, { ProjectOID: selProjOID }, '/Pms/ModifyProject?OID=' + selProjOID, '프로젝트 수정');
                });

                btnDelete.on('click', function () {
                    if (selProjOID == null || selProjOID == "") {
                        alert('프로젝트를 선택하여주세요.');
                        return;
                    }
                    var data = Grd$.jqxGrid('getrowdata', selRowKey);
                    if (data.BPolicyAuths != null) {
                        var chkAuths = data.BPolicyAuths.findIndex(function (item) {
                            return item.AuthNm == '@Common.Constant.CommonConstant.AUTH_DELETE';
                        });
                        if (chkAuths > -1) {
                            if (confirm('삭제 하시겠습니까?')) {
                                RequestData('/Pms/DelProject', { OID: selProjOID }, function (res) {
                                    if (res.isError) {
                                        alert(res.resultMessage);
                                        return;
                                    }
                                    alert("삭제 되었습니다.");
                                    getPmsProjectList(ProjectSource, Grd$, param);
                                });
                            }
                        } else {
                            alert('권한이 없습니다.');
                            return;
                        }
                    }
                });
            },
        });

        Grd$.on('rowselect', function (event) {
            var args = event.args;
            var rowData = args.row;
            selRowKey = rowData.uid;
            selProjOID = rowData.OID;
        });

        Grd$.on('celldoubleclick', function (e) {
            const linkUrl = '/Pms/InfoProject?OID=' + e.args.row.bounddata.OID;
            if ($("div[tabUrl='" + linkUrl + "']").length > 0) {
                var tabDiv = $("div[tabUrl='" + linkUrl + "']")[0].parentNode;
                $('#tabContent').jqxTabs('select', $(tabDiv).index());
                return;
            }

            const loading$ = $('#loading');
            const tabContent$ = $('#tabContent');
            loading$.css('display', 'block');
            var linkName = e.args.row.bounddata.Name;
            tabContent$.jqxTabs('addLast', linkName, "");
            var tabLength = tabContent$.jqxTabs('length');
            $.ajax({
                url: linkUrl,
                type: 'get',
                dataType: 'html',
                async: true,
                success: function (resHtml) {
                    var content = tabContent$.jqxTabs('getContentAt', tabLength - 1);
                    $(content).html("<div class='wrapPage' tabUrl='" + linkUrl + "'>" + resHtml + "</div>");
                }, error: function (res) {
                    if (res.status === 404) {
                        alert("현재 개발중인 화면입니다.");
                        return false;
                    }
                    alert(res.responseText);
                    console.log(res);
                }
                , complete: function () {
                    loading$.css('display', 'none');
                }
            });
        });

        $('#projType').jqxComboBox({ source: ['', '선행', '개발', '양산'], selectedIndex: 0, width: 170, height: 32, });

        var projStatusList =  @Html.Raw(Json.Encode(ViewBag.BPolicies));
        projStatusList.unshift({ 'OID': '', 'Name': '' });
        var spProjSource =
        {
            localdata: projStatusList,
            datatype: "json",
            datafields:
                [
                    { name: 'OID', type: 'int' },
                    { name: 'Name', type: 'string' },
                    { name: 'StatusNm', type: 'string' },
                ]
        };
        var spProjAdapter = new $.jqx.dataAdapter(spProjSource);
        $('#projStatus').jqxComboBox({ source: spProjAdapter, displayMember: "StatusNm", valueMember: "OID", selectedIndex: 0, width: 170, height: 32, });
        $('#projStatus').find('input, textarea, select').attr('disabled', 'disabled');
        getPmsProjectList(ProjectSource, Grd$, null);

        $('#btnSearch').on('click', function () {
            var searchParam = {};
            searchParam.ProjectType = $('#projType').val();
            searchParam.Name = $('#txtProjName').val();
            searchParam.Description = $('#txtContent').val();
            searchParam.Car_Lib_OID = selCarOID;
            searchParam.Oem_Lib_OID = selOemOID;
            searchParam.BPolicyOID = $('#projStatus').val();
            getPmsProjectList(ProjectSource, Grd$, searchParam);
        });

        $('#txtContent, #txtProjName').keydown(function (key) {
            if (key.keyCode == 13) {
                $('#btnSearch').trigger('click');
            }
        });
    });

    function getPmsProjectList(_Source, _Grid$,_Param) {
        RequestData("/Pms/SelProjects", _Param, function (res) {
            PrintJqxGrid(_Source, _Grid$, res);
        });
    }
</script>