@{
    Layout = null;
}


<div class="gateview_@ViewBag.ProjectOID">
    <ul class="gateColumn" style="width:154px;">
        <li class="gateTop">
            <span>프로젝트</span>
            <h2>GATE</h2>
        </li>
        <li>구분</li>
        <li>이름</li>
        <li>진행 &amp; 상태</li>
        <li>예상 시작일</li>
        <li>예상 완료일</li>
        <li>실제 시작일</li>
        <li>실제 완료일</li>
    </ul>
</div>

<script type="text/javascript">

    $(function () {
        var gateBox = document.querySelector(".gateview_@ViewBag.ProjectOID");
        var projOid = @ViewBag.ProjectOID;
        function addGate(params) {
            var project = document.createElement("div");
            var gateImg = document.createElement("div");
            var gateType = document.createElement("span");
            var gateName = document.createElement("h3");
            var gateStatus = document.createElement("div");
            var gateESdate = document.createElement("p");
            var gateEFdate = document.createElement("p");
            var gateASdate = document.createElement("p");
            var gateAFdate = document.createElement("p");
            var gateIcon = document.createElement("div");

            project.className = "gatebox";
            gateStatus.className = "gatestatus";
            gateIcon.className = "gateicons";

            gateImg.innerHTML = "<img src='/Images/gate.png' alt='gate' style='border:0px;padding:12px 40px;'>";
            gateStatus.innerHTML = "<span onclick='fProcess(" + projOid + ", " + params.OID + ", " + "\"" + params.BPolicy.Name + "\"" + ", " + "\"" + params.ApprovStatus + "\"" + ")' style='cursor:pointer;'>" + params.BPolicy.StatusNm + "</span><div class='level' style='width:" + params.Complete + "%;'></div>";
            gateIcon.innerHTML = "<button onclick='fMetting(" + projOid + ", " + params.OID + ")'><img src='/Images/group.png' alt='Metting' style='border:0px;'>회의록</button>";
            gateIcon.innerHTML += "<button onclick='fCheckList(" + projOid + ", " + params.OID + ")'><img src= '/Images/checklist.png' alt='Check List' style='border:0px;'>체크리스트</button>";
            gateIcon.innerHTML += "<button onclick='fSignOffReport(" + projOid + ", " + params.OID + ")'><img src= '/Images/report.png' alt='Report' style='border:0px;'>Sign Off 보고서</button>";
            gateIcon.innerHTML += "<button onclick='fDeliveres(" + projOid + ", " + params.OID + ")'><img src='/Images/inbox.png' alt='Resources' style='border:0px;'>산출물</button>";
            gateIcon.innerHTML += "<button onclick='fOpenIssue(" + projOid + ", " + params.OID + ")'><img src='/Images/issue.png' alt='Open Issue' style='border:0px;'>오픈 이슈</button>";
            gateType.innerHTML = params.Type;
            gateName.innerHTML = params.Name;
            //gateName.innerHTML = "<span>" + params.Type + "</span>" + (params.Name.length > 9 ? params.Name.substring(0, 9) + '..' : params.Name);
            gateESdate.innerHTML = params.EstStartDt != null ? moment(params.EstStartDt).format('YYYY-MM-DD') : '<br/>';
            gateEFdate.innerHTML = params.EstEndDt != null ? moment(params.EstEndDt).format('YYYY-MM-DD') : '<br/>';
            gateASdate.innerHTML = params.ActStartDt != null ? moment(params.ActStartDt).format('YYYY-MM-DD') : '<br/>';
            gateAFdate.innerHTML = params.ActEndDt != null ? moment(params.ActEndDt).format('YYYY-MM-DD') : '<br/>';

            gateBox.appendChild(project);
            project.appendChild(gateImg);
            project.appendChild(gateType);
            project.appendChild(gateName);
            project.appendChild(gateStatus);
            project.appendChild(gateESdate);
            project.appendChild(gateEFdate);
            project.appendChild(gateASdate);
            project.appendChild(gateAFdate);
            project.appendChild(gateIcon);

            $(document).ready(function () {
                $(".gatebox").addClass("gates");
                $(".gatebox").css('width', '256px');
                $(".gatebox > span").addClass("gateType");
                $(".gatebox > h3").addClass("gateName");
                $(".gatestatus").addClass("status");
                $(".gatebox > p").addClass("gateDates");
                $(".gatestatus > span").addClass("progress");
            });
        }
        @{
             var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
             var gateVals = jss.Serialize(ViewBag.lGateView);
        }
        var gateVal = '@Html.Raw(gateVals)';
        var gateArr = $.parseJSON(gateVal);
        for (var index = 0; index < gateArr.length; index++) {
            addGate(gateArr[index]);
        }
    });

    function fProcess(_projOID, _processOID, _bpolicyNm, _approvStatus) {
        console.log(_approvStatus);
        if (_bpolicyNm == '@Common.Constant.PmsConstant.POLICY_PROCESS_STARTED') {
            if (_approvStatus == '@Common.Constant.CommonConstant.POLICY_APPROVAL_STARTED') {
                alert('결재진행 중입니다.');
                return;
            }
            RequestData('/Pms/ApprovProcess', { 'OID': _processOID }, function (res) {
                OpenApprovalDialog(function () {
                    PageReload();
                }, null, { TargetOID: _processOID, AutoStatus: false }, '/Common/Approval', '결재');
            });
        } else if (_bpolicyNm == '@Common.Constant.PmsConstant.POLICY_PROCESS_PAUSED') {
            RequestData('/Pms/ApprovProcess', { 'OID': _processOID }, function (res) {
                OpenApprovalDialog(function () {
                    PageReload();
                }, null, { TargetOID: _processOID, AutoStatus: true }, '/Common/Approval', '결재');
            });
        } else {
            alert('결재할 수 있는 상태가 아닙니다.');
        }
    }

    function fSignOffReport(_projOID, _processOID) {
        OpenGateSignOffDialog(null, null, {
            ProjectOID: _projOID, ProcessOID: _processOID
        }, '/Pms/GateSignOffReport', 'Gate Review Sign Off 보고서');
    }

    function fMetting(_projOID, _processOID) {
        OpenAddModifyGateViewDetailDialog(null, null, {
            ProjectOID: _projOID, ProcessOID: _processOID
        }, '/Pms/DetailGateViewMeeting', '회의록');
    }
    function fDeliveres(_projOID, _processOID) {
        OpenAddModifyGateViewDetailDialog(null, null, {
            ProjectOID: _projOID, ProcessOID: _processOID
        }, '/Pms/DetailGateViewDeliveres', '산출물')
    }

    function fCheckList(_projOID, _processOID) {
        OpenGateCheckListDialog(null, null, {
            ProjectOID: _projOID, ProcessOID: _processOID
        }, '/Pms/DetailGateCheckList', '체크리스트')
    }
</script>