@{
    Layout = null;
}
<div class="searchBox" id="dlgSearchEPart_searchForm">
    <div class="searchContent" style="padding-bottom:0px;">
        <input type="hidden" id="parentOID" />
        <div class="searchData">
            <div>부품번호</div>
            <div><input id="dlgSearchEPart_Name" type="text" class="txtBox" value="" style="height:32px;" /></div>
        </div>
        <div class="searchData">
            <div class="checkBoxLabel">구분</div>
            <div>
                <div id="dlgSearchEPartAssemble" class="custom-checkbox">
                    조립도
                </div>
                <div id="dlgSearchEPartSingle" class="custom-checkbox">
                    단품도
                </div>
                <div id="dlgSearchEPartStandard" class="custom-checkbox">
                    스탠다드
                </div>
            </div>
        </div>
        <div class="searchData">
            <div class="comboBoxLabel">ITEM_NO</div>
            <div> <div id="dlgSearchEPartItemNo" class="dlgSearchEPartComboBox"></div></div>
        </div>
        <div class="searchData">
            <div class="comboBoxLabel">고객사</div>
            <div>
                <div id="dlgSearchEPartOem" class="dlgSearchEPartComboBox"></div>
            </div>
        </div>
        <div class="searchData">
            <div class="comboBoxLabel">차종</div>
            <div>
                <div id="dlgSearchEPartCar" class="dlgSearchEPartComboBox"></div>
            </div>
        </div>
        @*<div class="searchData">
            <div class="comboBoxLabel">작성일</div>
            <div><div id="dlgSearchEPartCreateDt" class="dlgSearchEPartDateTimeInput"></div></div>
        </div>*@
        <div class="searchButton">
            <button id="dlgSearchEPartbtn" class="searchBtn custom-button"><i class="fas fa-search"></i> 검색</button>
        </div>
    </div>
</div>
<div id="dlgSearchEPart_grid"></div>


<script>
    var SearchDivision = null;
    var partOIDList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.partOIDList))');
    var dlgSearchEPartItemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.ItemList))');
    var dlgSearchEPartOemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.oemList))');
    var dlgSerarchEPartOemLib$ = $('#dlgSearchEPartOem');
        var dlgSearchEPartItemLib$ = $('#dlgSearchEPartItemNo');
        var dlgSearchEPartCarLib$ = $('#dlgSearchEPartCar');
    var EPartSearch = $('#dlgSearchEPart_Name');
    $(function () {

        var oemSource =
        {
            localdata: dlgSearchEPartOemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                    { name: 'Code1', type: 'string' },
                    { name: 'Code2', type: 'string' },
                ]
        };
        var oemAdapter = new $.jqx.dataAdapter(oemSource);
        dlgSerarchEPartOemLib$.jqxComboBox({ source: oemAdapter, displayMember: "KorNm", valueMember: "OID", width: 250, height: 32 });
        dlgSearchEPartCarLib$.jqxComboBox({ width: 250, height: 32 });
        dlgSerarchEPartOemLib$.on('change', function (evt) {
            var param = {};
            param.fromOID = dlgSerarchEPartOemLib$.val();
            RequestData('/Manage/SelCodeLibrary', param, function (res) {

                var CarSource =
                {
                    localdata: res,
                    datatype: "json",
                    datafields:
                        [
                            { name: 'KorNm', type: 'string' },
                            { name: 'OID', type: 'int' },
                        ]
                };
                var CardataAdapter = new $.jqx.dataAdapter(CarSource);
                dlgSearchEPartCarLib$.jqxComboBox({ source: CardataAdapter, displayMember: "KorNm", valueMember: "OID", });
            });
        });
       

        var ItemSource =
        {
            localdata: dlgSearchEPartItemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                ]
        };
        var ItemdataAdapter = new $.jqx.dataAdapter(ItemSource);
        dlgSearchEPartItemLib$.jqxComboBox({ width: 250, height: 32, source: ItemdataAdapter, displayMember: "KorNm", valueMember: "OID", });


        $('#dlgSearchEPartAssemble').jqxRadioButton({ width: 100, height: 30, checked: true });
        $('#dlgSearchEPartSingle').jqxRadioButton({ width: 120, height: 30, checked: false });
        $('#dlgSearchEPartStandard').jqxRadioButton({ width: 120, height: 30, checked: false });


        $("#dlgSearchEPartAssemble").on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                SearchDivision = "@Common.Constant.EBomConstant.DIV_ASSEMBLY";
            }
        });

        $("#dlgSearchEPartSingle").on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                SearchDivision = "@Common.Constant.EBomConstant.DIV_SINGLE";
            }
        });

        $("#dlgSearchEPartStandard").on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                SearchDivision = "@Common.Constant.EBomConstant.DIV_STANDARD";
            }
        });

    });

    function getEPartList(_Source, _Grid$) {
        RequestData('/EBom/SelEPart', {}, function (res) {
            PrintJqxGrid(_Source, _Grid$, res);
        });
    }



</script>