
@{
    Layout = null;
}


<div style="width:100%; margin-right:20px;">
    <!--검색창-->
    <div class="searchBox">
        <div class="searchTitle">
            <label><i class="fas fa-folder-open"></i> &nbsp;E-BOM 검색</label>
        </div>
        <div class="searchContent">
            <div class="searchData">
                <div>부품번호</div>
                <div><input id="SearchEPartName" type="text" class="txtBox" value="" /></div>
            </div>
            <div class="searchData">
                <div class="checkBoxLabel">구분</div>
                <div>
                    <div id="SearchEPartAssemble" class="custom-checkbox">
                        조립도
                    </div>
                    <div id="SearchEPartSingle" class="custom-checkbox">
                        단품도
                    </div>
                    <div id="SearchEPartStandard" class="custom-checkbox">
                        스탠다드
                    </div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">ITEM_NO</div>
                <div> <div id="SearchEPartItemNo" class="searchEpartComboBox"></div></div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">고객사</div>
                <div>
                    <div id="SearchEPartOem" class="dlgSearchEPartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">차종</div>
                <div>
                    <div id="SearchEPartCar" class="searchEpartComboBox"></div>
                </div>
            </div>
            <div class="searchData">
                <div class="comboBoxLabel">작성일</div>
                <div><div id="SearchEPartCreateDt" class="searchEpartDateTimeInput"></div></div>
            </div>
            <div class="searchButton">
                <button id="SearchEPartbtn" class="searchBtn custom-button"><i class="fas fa-search"></i> 검색</button>
            </div>
        </div>
    </div>
</div>
<div id="SearchEPartGrid"></div>
<script type="text/javascript">

    $(function () {
        //const CreEPartEoAppDate$ = $('#CreateEPartEo_No_ApplyDate');
        //
        //CreEPartEoAppDate$.jqxDateTimeInput(DateFormat);
        //CreEPartEoAppDate$.val(WebUtils.GetDate(-1, "m", "-"));
        //CreEPartEoAppDate$.jqxDateTimeInput({ width: "98%", height: 32 });
        //
        //const CreEPartSelEoDate$ = $('#CreateEPartSel_Eo_Date');
        //
        //CreEPartSelEoDate$.jqxDateTimeInput(DateFormat);
        //CreEPartSelEoDate$.val(WebUtils.GetDate(-1, "m", "-"));
        //CreEPartSelEoDate$.jqxDateTimeInput({ width: "98%", height: 32 });
        var SearchEPartOemLib$ = $('#SearchEPartOem');
        var SearchEPartItemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.ItemList))');
        var SearchEPartOemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.oemList))');
        var SearchEPartItemLib$ = $('#SearchEPartItemNo');
        var SearchEPartCarLib$ = $('#SearchEPartCar');
        var oemSource =
        {
            localdata: SearchEPartOemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                    { name: 'Code1', type: 'string' },
                    { name: 'Code2', type: 'string' },
                ]
        };
        var oemAdapter = new $.jqx.dataAdapter(oemSource);
        SearchEPartOemLib$.jqxComboBox({ source: oemAdapter, displayMember: "KorNm", valueMember: "OID", width:250, height: 32 });
        SearchEPartCarLib$.jqxComboBox({ width: 250, height: 32 });
        SearchEPartOemLib$.on('change', function (evt) {
            var param = {};
            param.fromOID = SearchEPartOemLib$.val();
            param.Code1 = '@Common.Constant.CommonConstant.ATTRIBUTE_CARTYPE';
            RequestData('/Manage/SelCodeLibraryChild', param, function (res) {

                var CarSource =
                {
                    localdata: res,
                    datatype: "json",
                    datafields:
                        [
                            { name: 'KorNm', type: 'string' },
                            { name: 'OID', type: 'int' },
                        ]
                };
                var CardataAdapter = new $.jqx.dataAdapter(CarSource);
                SearchEPartCarLib$.jqxComboBox({ source: CardataAdapter, displayMember: "KorNm", valueMember: "OID", });
            });
        });

        var ItemSource =
        {
            localdata: SearchEPartItemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                ]
        };
        var ItemdataAdapter = new $.jqx.dataAdapter(ItemSource);
        SearchEPartItemLib$.jqxComboBox({ width: 250, height: 32, source: ItemdataAdapter, displayMember: "KorNm", valueMember: "OID", });


        $('#SearchEPartAssemble').jqxRadioButton({ width: 100, height: 30, checked: true });
        $('#SearchEPartSingle').jqxRadioButton({ width: 120, height: 30, checked: false });
        $('#SearchEPartStandard').jqxRadioButton({ width: 120, height: 30, checked: false });
        $('#SearchEPartCreateDt').jqxDateTimeInput({ width: 250, height: 32, selectionMode: 'range', formatString: 'yyyy/MM/dd' });

        var SearchEPartSource = {
            datatype: 'json',
            datafields: [
                { name: 'OID' },
                { name: 'Name' },
                { name: 'BPolicyOID' },
                { name: 'BPolicy'},
                { name: 'CreateUsNm' },
                { name: 'CreateDt', type: 'date' },
                { name: 'Car_Lib_OID' },
                { name: 'Car_Lib_Nm' },
                { name: 'ITEM_No' },
                { name: 'ITEM_NoNm' },
                { name: 'Block_No' },
                { name: 'Block_NoNm' },
                { name: 'Material_OID' },
                { name: 'Material_Nm' },
                { name: 'EPartType' },
                { name: 'Sel_Eo' },
                { name: 'Sel_Eo_Dt', type: 'date' },
                { name: 'Thumbnail' },
                { name: 'Revision' },
            ],
        }

        const SearchEPartGrid$ = $('#SearchEPartGrid');
        SearchEPartGrid$.jqxGrid({
            theme: "kdnc",
            width: "100%",
            height: 620,
            rowsheight: 28,
            columnsheight: 30,
            //source: SearchEPartSource,
            sortable: false,
            pageable: true,
            columns: [
                {
                    text: 'NO', width: "3%", cellsalign: 'center', columntype: 'number', align: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                { text: '차종', datafield: 'Car_Lib_Nm', width: "10%", align: 'center', cellsalign: 'center', },
                { text: '품번', datafield: 'Name', width: "15%", align: 'center', cellsalign: 'center', },
                { text: 'ITEM_NO', datafield: 'ITEM_NoNm', width: "15%", align: 'center', cellsalign: 'center', },
                { text: '재질', datafield: 'Material_Nm', width: "10%", align: 'center', cellsalign: 'center', },
                { text: 'Block_No', datafield: 'Block_NoNm', width: "15%", align: 'center', cellsalign: 'center', },
                { text: 'Rev', datafield: 'Revision', width: "6%", align: 'center', cellsalign: 'center', },
                { text: '작성일', datafield: 'CreateDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '작성자', datafield: 'CreateUsNm', width: "8%", align: 'center', cellsalign: 'center', },
                {
                    text: '상태', datafield: 'BPolicy', width: "8%", align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + value.StatusNm + "</div>";
                    }
                },
                //{ text: '2D', datafield: 'Thumbnail', width: "7%", align: 'center', cellsalign: 'center', },
                //{ text: '3D', datafield: 'Description', width: "7%", align: 'center', cellsalign: 'center', }
            ],
            showtoolbar: true,
            toolbarheight: 45,
            rendertoolbar: function (statusbar) {
            }
        });

        SearchEPartGrid$.on('celldoubleclick', function (e) {
            const linkUrl = '/EBom/InfoEPart?OID=' + e.args.row.bounddata.OID;
            if ($("div[tabUrl='" + linkUrl + "']").length > 0) {
                var tabDiv = $("div[tabUrl='" + linkUrl + "']")[0].parentNode;
                $('#tabContent').jqxTabs('select', $(tabDiv).index());
                return;
            }

            const loading$ = $('#loading');
            const tabContent$ = $('#tabContent');
            loading$.css('display', 'block');
            var linkName = e.args.row.bounddata.Name;
            tabContent$.jqxTabs('addLast', linkName, "");
            var tabLength = tabContent$.jqxTabs('length');
            $.ajax({
                url: linkUrl,
                type: 'get',
                dataType: 'html',
                async: true,
                success: function (resHtml) {
                    var content = tabContent$.jqxTabs('getContentAt', tabLength - 1);
                    $(content).html("<div class='wrapPage' tabUrl='" + linkUrl + "'>" + resHtml + "</div>");
                }, error: function (res) {
                    if (res.status === 404) {
                        alert("현재 개발중인 화면입니다.");
                        return false;
                    }
                    alert(res.responseText);
                }
                , complete: function () {
                    loading$.css('display', 'none');
                }
            });
        });

        //$('#projType').jqxComboBox({ source: ['', '선행', '양산'], selectedIndex: 0, width: 170, height: 33, });
        getSearchEPartList(SearchEPartSource, SearchEPartGrid$, {});

        var SearchDivision=null;
        $("#SearchEPartAssemble").on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                SearchDivision = "@Common.Constant.EBomConstant.DIV_ASSEMBLY";
            }
        });

        $("#SearchEPartSingle").on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                SearchDivision = "@Common.Constant.EBomConstant.DIV_SINGLE";
            }
        });

        $("#SearchEPartStandard").on('change', function (event) {
            checked = event.args.checked;
            if (checked) {
                SearchDivision = "@Common.Constant.EBomConstant.DIV_STANDARD";
            }
        });

        $('#SearchEPartbtn').on('click', function () {
            var SearchEPartCreateDt = $('#SearchEPartCreateDt').val();
            var SearchEPartCreateDtArray = SearchEPartCreateDt.split('-');

            var param = {};
            param.Name = $('#SearchEPartName').val();
            param.Division = SearchDivision;
            param.Car_Lib_OID = SearchEPartCarLib$.val();
            param.ITEM_No = SearchEPartItemLib$.val();
            param.StartCreateDt = SearchEPartCreateDtArray[0];
            param.EndCreateDt = SearchEPartCreateDtArray[1]+" 23:59:59";
            console.log(param);
            getSearchEPartList(SearchEPartSource, SearchEPartGrid$, param);
        });
    });

    function getSearchEPartList(_Source, _Grid$, param) {
        RequestData("/Ebom/SelEPart", param, function (res) {
            PrintJqxGrid(_Source, _Grid$, res);
        });
    }
</script>
