
@{
    Layout = null;
}
<div id="listView">
    <div style="width:100%; margin-right:20px;">
        <!--검색창-->
        <div class="searchBox">
            <div class="searchTitle">
                <label><i class="fas fa-folder-open"></i> &nbsp;ECO 검색</label>
            </div>
            <div class="searchContent">
                <div class="searchData">
                    <div>구분</div>
                    <div>
                        <div  id="SearchChangeOrder_devMP"></div>
                    </div>
                </div>
                <div class="searchData">
                    <div>품번</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchChangeOrder_Name" />
                    </div>
                </div>
                <div class="searchData">
                    <div>제목</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchChangeOrder_Title" />
                    </div>
                </div>
                @*<div class="searchData">
            <div class="comboBoxLabel">OEM</div>
            <div>
                <div id="SearchChangeOrder_Oem_Lib"></div>
            </div>
        </div>
        <div class="searchData">
            <div class="comboBoxLabel">차종</div>
            <div>
                <div id="SearchChangeOrder_Car_Lib"></div>
            </div>
        </div>
        <div class="searchData">
            <div class="comboBoxLabel">프로젝트</div>
            <div>
                <div id="SearchChangeOrder_Pms_Lib"></div>
            </div>*@
                <div class="searchData">
                    <div>설계변경일자</div>
                    <div>
                        <div id="SearchChangeOrder_DesignChangeDt"></div>
                    </div>
                </div>
                <div class="searchData">
                    <div>작성자</div>
                    <div>
                        <input type="text" class="txtBox" id="SearchChangeOrder_CreatUs" />
                    </div>
                </div>
                <div class="searchButton">
                    <button id="SearchChangeOrder_btnSearch" class="searchBtn custom-button" onclick=""><i class="fas fa-search"></i> 검색</button>
                </div>
            </div>

        </div>
    </div>
    <div id="SearchChangeOrder_Grid"></div>
</div>

<script>
   // var SearchECO_OemList = JSON.parse('@Html.Raw(Json.Encode(ViewBag.oemList))');
    //var SearchECO_OemLib$ = $('#SearchChangeOrder_Oem_Lib');
    //var SearchECO_CarLib$ = $('#SearchChangeOrder_Car_Lib');
    //var SearchECO_PmsLib$ = $('#SearchChangeOrder_Pms_Lib');
    var SearchECO_serchbtn$ = $('#SearchChangeOrder_btnSearch');
    var SearchECO_DesignChangeDt$ = $('#SearchChangeOrder_DesignChangeDt');
    var SearchECODevMP$ = $('#SearchChangeOrder_devMP');
    var SearchECOBPolicyList$ =  @Html.Raw(Json.Encode(ViewBag.BPolicies));
    $(function () {
        SearchECO_DesignChangeDt$.jqxDateTimeInput({ width: 250, height: 32, selectionMode: 'range', formatString: 'yyyy/MM/dd' });

        var DevTypeList = [{type: "", value : null},{ type: '@Common.Constant.EoConstant.TYPE_DEV_KorNm', value: '@Common.Constant.EoConstant.TYPE_DEV' },
        { type: '@Common.Constant.EoConstant.TYPE_MP_KorNm', value: '@Common.Constant.EoConstant.TYPE_MP' }];
        var DevTypeSource =
        {
            localdata: DevTypeList,
            datatype: "json",
            datafields:
                [
                    { name: 'type', type: 'string' },
                    { name: 'value', type: 'string' },
                ]
        };
                var devAdapter = new $.jqx.dataAdapter(DevTypeSource);
        SearchECODevMP$.jqxComboBox({ width: 100, height: 32, source: devAdapter, displayMember: "type", valueMember: "value" });


        var SearchECOGrdSource = {
            datatype: 'json',
            datafields: [
                { name: 'OID' },
                { name: 'Name' },
                { name: 'ItemGroup' },
                { name: 'Title' },
                { name: 'ReasonChange' },
                { name: 'ReasonChangeNm' },
                { name: 'DevMP' },
                { name: 'DevMPNm' },
                { name: 'CreateDt', type: 'date' },
                { name: 'CreateUs' },
                { name: 'CreateUsNm' },
                { name: 'Description' },
                { name: 'BPolicy' },
                { name: 'BPolicyOID' },
                { name: 'ApprovDt' },
            ],
        }

        const SearchECOGrd$ = $('#SearchChangeOrder_Grid');
        SearchECOGrd$.jqxGrid({
            theme: "kdnc",
            width: "100%",
            height: 675,
            rowsheight: 28,
            columnsheight: 30,
            //source: ProjectSource,
            sortable: false,
            pageable: true,
            columns: [
                {
                    text: 'NO', width: "3%", cellsalign: 'center', columntype: 'number', align: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + (value + 1) + "</div>";
                    }
                },
                { text: '구분', datafield: 'DevMPNm', width: "9%", align: 'center', cellsalign: 'center', },
                { text: '품번', datafield: 'Name', width: "9%", align: 'center', cellsalign: 'center', },
                { text: '제목', datafield: 'Title', width: "30%", align: 'center', cellsalign: 'center', },
                { text: '품목 그룹', datafield: 'ItemGroup', width: "10%", align: 'center', cellsalign: 'center', },
                {
                    text: '상태', datafield: 'BPolicy', width: "10%", align: 'center', cellsalign: 'center',
                    cellsrenderer: function (row, column, value) {
                        return "<div style='width:100%;height:100%;text-align:center;vertical-align:middle;line-height:1.9;'>" + value.StatusNm + "</div>";
                    },
                },
                { text: '작성자', datafield: 'CreateUsNm', width: "10%", align: 'center', cellsalign: 'center' },
                { text: '작성일', datafield: 'CreateDt', width: "10%", align: 'center', cellsalign: 'center', cellsFormat: 'yyyy-MM-dd', },
                { text: '승인일', datafield: 'ApprovDt', width: "9%", align: 'center', cellsalign: 'center', },
                //   { text: '내용', datafield: 'Description', width: "30%", align: 'center', cellsalign: 'center', },
            ],
            showtoolbar: true,
            toolbarheight: 45,
        });

        SearchECOGrd$.on('celldoubleclick', function (e) {
            const linkUrl = '/ChangeOrder/InfoChangeOrder?OID=' + e.args.row.bounddata.OID;
            if ($("div[tabUrl='" + linkUrl + "']").length > 0) {
                var tabDiv = $("div[tabUrl='" + linkUrl + "']")[0].parentNode;
                $('#tabContent').jqxTabs('select', $(tabDiv).index());
                return;
            }

            const loading$ = $('#loading');
            const tabContent$ = $('#tabContent');
            loading$.css('display', 'block');
            var linkName = e.args.row.bounddata.Name;
            tabContent$.jqxTabs('addLast', linkName, "");
            var tabLength = tabContent$.jqxTabs('length');
            $.ajax({
                url: linkUrl,
                type: 'get',
                dataType: 'html',
                async: true,
                success: function (resHtml) {
                    var content = tabContent$.jqxTabs('getContentAt', tabLength - 1);
                    $(content).html("<div class='wrapPage' tabUrl='" + linkUrl + "'>" + resHtml + "</div>");
                }, error: function (res) {
                    if (res.status === 404) {
                        alert("현재 개발중인 화면입니다.");
                        return false;
                    }
                    alert(res.responseText);
                }
                , complete: function () {
                    loading$.css('display', 'none');
                }
            });
        });


        getSearchECOList(SearchECOGrdSource, SearchECOGrd$, null);

        SearchECO_serchbtn$.on('click', function () {
            var SearchECODesignDt = SearchECO_DesignChangeDt$.val();
            var SearchECODesignDtArray = SearchECODesignDt.split('-');
            var param = {};
            param.DevMP = SearchECODevMP$.val();
            param.Name = $('#SearchChangeOrder_Name').val();
            param.Title = $('#SearchChangeOrder_Title').val();
            param.StartDesignChangeDt = SearchECODesignDtArray[0];
            param.EndDesignChangeDt = SearchECODesignDtArray[1] + " 23:59:59";
            getSearchECOList(SearchECOGrdSource, SearchECOGrd$, param);

        });


    });

    function getSearchECOList(_Source, _Grid$, _param) {
        RequestData("/ChangeOrder/SelChangeOrder", _param, function (res) {
            var completeIdx = SearchECOBPolicyList$.findIndex(function (item) {
                return item.Name == '@Common.Constant.EoConstant.POLICY_EO_COMPLETED';
            });
            var result = [];
            for (var i = 0; i < res.length; i++) {
                if (res[i].BPolicy.Name == SearchECOBPolicyList$[completeIdx].Name) {

                } else {
                    result.push(res[i]);
                }
            }
            PrintJqxGrid(_Source, _Grid$, result);
        });
    }

    function changeSearchECOComboBox(ID, OID) {
        var ChangeECOComboBox$ = SearchECO_CarLib$
        var param = {};
        param.fromOID = OID;
        var ChangeECOComboSource;
        RequestData("/Manage/SelLibrary", param, function (res) {
            if (res.length > 0) {
                ChangeECOComboSource =
                {
                    localdata: res,
                    datatype: "json",
                    datafields:
                        [
                            { name: 'KorNm', type: 'string' },
                            { name: 'OID', type: 'int' },
                        ]
                };
                var ChangeECOComboAdapter = new $.jqx.dataAdapter(ChangeECOComboSource);
                ChangeECOComboBox$.jqxComboBox({ source: ChangeECOComboAdapter, displayMember: "KorNm", valueMember: "OID"});
            } else {
                CreateECOComboSource = [{ KorNm: '등록 차종 없음', OID: null }];
                var ChangeECOComboAdapter = new $.jqx.dataAdapter(ChangeECOComboSource);
                ChangeECOComboBox$.jqxComboBox({ source: ChangeECOComboAdapter, displayMember: "KorNm", valueMember: "OID"});
                ChangeECOComboBox$.jqxComboBox({ selectedIndex: 0 });
            }
        });
    }

</script>