@using Common.Constant;
@{
    Layout = null;
    string StoragePath = System.Configuration.ConfigurationManager.AppSettings["FileStorage"];
    string imgTempPath = System.Configuration.ConfigurationManager.AppSettings["ImageTempPath"];
    string TempPath = QmsConstant.TYPE_QUICK_RESPONSE;

    string FullImgPath = StoragePath + "/" + imgTempPath + "/" + TempPath;
}
<input type="hidden" id="hidImgFileNameDlgPoorPicture" value="" />
<input type="hidden" id="hidImgFileNameDlgGoodPicture" value="" />

<div style="padding:5px;">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <h2><i class="fas fa-edit"></i> 신속대응 등록</h2>
                </td>
                <td style="text-align: right;">
                    <button id="btnDlgQuickResponseSave" onclick="" class="custom-button"><i class="fas fa-plus-square"></i> 등록</button>
                    @*<button id="btnDlgCancle" onclick="" class="custom-button"><i class="fas fa-window-close"></i> 취소</button>*@
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="qmsDlgTable">
    <label><i class="fas fa-caret-square-down"></i> 기본정보</label>
    <table class="infoTable" style="table-layout:fixed;">
        <colgroup>
            <col style="width:210px;" />
            <col style="width:auto;" />
            <col style="width:210px;" />
            <col style="width:auto;" />
            <col style="width:210px;" />
            <col style="width:auto;" />
        </colgroup>
        <tbody>
            <tr>
                <th><label class="lbText">공장 구분</label></th>
                <td><div id="cbDlgPlant"></div></td>
                <th><label class="lbText">발생유형</label></th>
                <td><div id="cbDlgOccurrence"></div></td>
                <th><label class="lbText">고객사</label></th>
                <td><div id="cbDlgOem" style="display:none;"></div></td>
            </tr>
            <tr>
                <th><label class="lbText">품목</label></th>
                <td>
                    <div id="cbDlgItem"></div>
                </td>
                <th><label class="lbText">품번</label></th>
                <td>
                    <input type="text" id="txtDlgPartNo" style="width:150px;" value="" readonly="readonly" />
                    <button id="btnEditPartSearch" class="custom-button"><i class="fas fa-search"></i> 검색</button>
                </td>
                <th><label class="lbText">품명</label></th>
                <td>
                    <input type="text" id="txtDlgPartNm" style="width:150px;" value="" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <th><label class="lbText">차종</label></th>
                <td><input type="text" id="txtDlgCarCode" value="@ViewBag.CarLibNm" readonly="readonly" /></td>
                <th><label class="lbText">발생LOT</label></th>
                <td><input type="text" id="txtDlgLotNo" value="" /></td>
                <th><label class="lbText">불량수량</label></th>
                <td><input type="text" id="txtDlgPoorCnt" value="" /></td>
            </tr>
            <tr>
                <th><label class="lbText">작성일자</label></th>
                <td><input type="text" id="txtDlgWriteDt" value="" /></td>
                <th><label class="lbText">품질담당자</label></th>
                <td colspan="3">
                    <input type="text" id="txtDlgWorkUserNm" style="width:120px;" value="" readonly="readonly" />
                    <button id="btnEditWorkUserSearch" class="custom-button"><i class="fas fa-search"></i> 검색</button>
                </td>
            </tr>
        </tbody>

    </table>

    <label><i class="fas fa-caret-square-down"></i> 문제요약</label>
    <table class="infoTable" style="table-layout:fixed;">
        <colgroup>
            <col style="width:210px;" />
            <col style="width:auto;" />
            <col style="width:210px;" />
            <col style="width:auto;" />
            <col style="width:210px;" />
            <col style="width:auto;" />
        </colgroup>
        <tbody>
            <tr>
                <th><label class="lbText">제목</label></th>
                <td colspan="5">
                    <input type="text" id="txtDlgSummary" style="width:98%;" />
                </td>
            <tr>

                <th><label class="lbText">발생처</label></th>
                <td><div id="cbDlgOccurrenceArea"></div></td>
                <th><label class="lbText">발생장소</label></th>
                <td><input type="text" id="txtDlgOccurrencePlace" value="" /></td>
                @*<th><label class="lbText">유발공정</label></th>
                    <td><div id="cbDlgInduce"></div></td>*@
                <th><label class="lbText">귀책구분</label></th>
                <td>
                    <div style="display:flex;flex-direction:row;">
                        <div id="cbDlgImpute"></div>
                        <div id="cbDlgImputeDepartment" style="display:none;"></div>
                        <div id="cbDlgImputePartners" style="display:none;"></div>
                        @*<input type="text" id="txtDlgImputeSupplier" value="" style="display:none;width:140px;height:30px;" readonly="readonly" />
        <button id="btnImputeSaerchSupplier" class="custom-button" style="display:none;height:30px;"><i class="fas fa-search"></i> 검색</button>*@
                    </div>
                </td>
            </tr>
            <tr>
                <th><label class="lbText">재발여부 </label></th>
                <td> <div id="chkDlgRecurrenceFl">재발여부 선택</div></td>
                <th><label class="lbText">발생일자</label></th>
                <td><input type="text" id="txtDlgOccurrenceDt" value="" /></td>
                <th><label class="lbText">결함정도</label></th>
                <td><div id="cbDlgDefectDegree"></div></td>
            </tr>
            <tr>
                <th><label class="lbText">불량상세내용</label></th>
                <td colspan="3">
                    <textarea id="txtDlgPoorDetail" style="width:98%;"></textarea>
                </td>
                <th><label class="lbText">대책서회신요구일자</label></th>
                <td><input type="text" id="txtDlgMeasureResponseDt" value="" /></td>
            </tr>
            @*<tr>
                    <th><label class="lbText">QA</label></th>
                    <td colspan="5">
                        <textarea id="txtDlgQa" style="width:98%;"></textarea>
                    </td>
                </tr>*@
            <tr>
                <th><label class="lbText">등록구분</label></th>
                <td colspan="5"><div id="cbDlgEnrollmentType"></div></td>
                @*<th><label class="lbText">시정판정</label></th>
                    <td><div id="cbDlgCorrectDecision"></div></td>*@
            </tr>
        </tbody>
    </table>

    <label><i class="fas fa-caret-square-down"></i> 고품사진/양품사진</label>
    <table class="infoTable" style="table-layout:fixed;">
        <colgroup>
            <col style="width:210px;" />
            <col style="width:auto;" />
            <col style="width:210px;" />
            <col style="width:auto;" />
            <col style="width:210px;" />
            <col style="width:auto;" />
        </colgroup>
        <tbody>
            <tr>
                <th><label class="lbText">고품사진</label></th>
                <td colspan="3">
                    <div style="width:200px; height:240px; position:relative;">
                        <input type="file" multiple="true" id="imgDlgPoorPicture" style="display:none;">
                        <div class="inputImg" style="z-index:100" id="imgZoneDlgPoorPicture">
                            <span id="imghereDlgPoorPicture">고품 사진</span>
                        </div>
                        <div class="showImg" id="imgResultDlgPoorPicture">
                        </div>
                    </div>
                </td>
                <th><label class="lbText">양품사진</label></th>
                <td colspan="3">
                    <div style="width:200px; height:240px; position:relative;">
                        <input type="file" multiple="true" id="imgDlgGoodPicture" style="display:none;">
                        <div class="inputImg" style="z-index:100" id="imgZoneDlgGoodPicture">
                            <span id="imghereDlgGoodPicture">양품 사진</span>
                        </div>
                        <div class="showImg" id="imgResultDlgGoodPicture">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <label><i class="fas fa-caret-square-down"></i> 일정계획담당자</label>
    <table class="infoTable" style="table-layout:fixed;">
        <colgroup>
            <col style="width:210px;" />
            <col style="width:auto;" />
            @*<col style="width:210px;" />
            <col style="width:auto;" />
            <col style="width:210px;" />
            <col style="width:auto;" />*@
        </colgroup>
        <tbody>
            <tr>
                @*<th><label class="lbText">봉쇄조치 범위선택</label></th>
                <td colspan="3">
                    <div style="display:flex;flex-direction:row;">
                        <div id="chkDlgBlockadeMaterial">원재료</div>
                        <div id="chkDlgBlockadeOutProduct">외주품</div>
                        <div id="chkDlgBlockadeProcessProduct">공정품</div>
                        <div id="chkDlgBlockadeFinishProduct">완성품</div>
                        <div id="chkDlgBlockadeStorageProduct">창고재고</div>
                        <div id="chkDlgBlockadeShipProduct">고객출하</div>
                    </div>

                </td>*@
                <th><label class="lbText">일정계획담당자</label></th>
                <td>
                    <input type="text" id="txtPlanUserNm" style="width:60%;" value="" readonly="readonly" />
                    <button id="btnEditPlanUserSearch" class="custom-button"><i class="fas fa-search"></i> 검색</button>
                </td>
            </tr>
        </tbody>
    </table>

        @*<label><i class="fas fa-caret-square-down"></i> 일정계획담당자</label>
        <table class="infoTable" style="table-layout:fixed;">
            <colgroup>
                <col style="width:210px;" />
                <col style="width:auto;" />
                <col style="width:210px;" />
                <col style="width:auto;" />
                <col style="width:210px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th><label class="lbText">일정계획담당자</label></th>
                    <td colspan="5">
                        <input type="text" id="txtPlanUserNm" style="width:120px;" value="" readonly="readonly" />
                        <button id="btnEditPlanUserSearch" class="custom-button"><i class="fas fa-search"></i> 검색</button>
                    </td>
                </tr>
            </tbody>
        </table>*@

    <label><i class="fas fa-caret-square-down"></i> 첨부파일</label>
    <div id="fileDlgQuickList">

    </div>
</div>

<script type="text/javascript">
    var fileUpload = $("#fileDlgQuickList").FileUpload({ OID: null });

    $(document).ready(function () {
        fileUpload.EditMode();

        $("#cbDlgOem").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.oemList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#cbDlgPlant").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.factoryList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#cbDlgOccurrence").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.occurrenceList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#cbDlgOccurrenceArea").jqxComboBox({ selectedIndex: 0, source: {}, displayMember: "text", valueMember: "value", width: 160, height: 30 });
        @*$("#cbDlgInduce").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.induceList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });*@
        $("#cbDlgDefectDegree").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.defectDegreeList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#cbDlgImpute").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.imputeList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#cbDlgEnrollmentType").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.EnrollmentTypeList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        @*$("#cbDlgImputeDepartment").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.oemList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 150, height: 25 });*@
        @*$("#cbDlgCorrectDecision").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.correctDecisionList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });*@
        $("#cbDlgItem").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.ItemList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 250, height: 30 });

        $("#cbDlgImputeDepartment").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.imputeDeptList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });
        $("#cbDlgImputePartners").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.partnersList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30 });

        // 발생유형에 따라 발생처 변경
        $("#cbDlgOccurrence").on('select', function (event) {
            var args = event.args;

            var name = args.item.label === "사외" ? "OCCURRENCE_AREA_OUT" : args.item.label === "사내" ? "OCCURRENCE_AREA_INSIDE" : null;
            if (!WebUtils.isEmpty(name)) {
                if (name === "OCCURRENCE_AREA_OUT") {
                    $("#cbDlgOem").css("display", "");
                } else {
                    $("#cbDlgOem").css("display", "none");
                    $("#cbDlgOem").jqxComboBox("clearSelection");
                }

                RequestData("/Manage/SelLibraryObject", { Name: name }, function (res1) {
                    var OID = res1.OID;

                    RequestData("/Manage/SelLibrary", { FromOID: OID, IsUse : "Y" }, function (res2) {
                        $("#cbDlgOccurrenceArea").jqxComboBox({ source: WebUtils.ConvComboData(res2, "OID", "KorNm", true) })
                    });
                });
            } else {
                $("#cbDlgOccurrenceArea").jqxComboBox("clearSelection");
                $("#cbDlgOccurrenceArea").jqxComboBox({ source: {} })
            }
        });

        $("#cbDlgImpute").on('select', function (event) {
            var args = event.args;
            if (args.item.label === "자체") {
                $("#cbDlgImputeDepartment").css("display", "block");
                $("#cbDlgImputePartners").css("display", "none");
                $("#cbDlgImputePartners").jqxComboBox("clearSelection");
                @*$("#txtDlgImputeSupplier").css("display", "none");
                $("#btnImputeSaerchSupplier").css("display", "none");*@
            } else if (args.item.label === "협력사") {
                $("#cbDlgImputeDepartment").css("display", "none");
                $("#cbDlgImputePartners").css("display", "block");
                $("#cbDlgImputeDepartment").jqxComboBox("clearSelection");
                @*$("#txtDlgImputeSupplier").css("display", "block");
                $("#btnImputeSaerchSupplier").css("display", "block");*@
            } else {
                $("#cbDlgImputeDepartment").css("display", "none");
                $("#cbDlgImputePartners").css("display", "none");
                $("#cbDlgImputeDepartment").jqxComboBox("clearSelection");
                $("#cbDlgImputePartners").jqxComboBox("clearSelection");
                @*$("#txtDlgImputeSupplier").css("display", "none");
                $("#btnImputeSaerchSupplier").css("display", "none");*@
            }
        });


        $("#txtDlgWriteDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgWriteDt").jqxDateTimeInput({
            width: 160,
            height: 30,
            theme: "Light"
        });

        $("#txtDlgOccurrenceDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgOccurrenceDt").jqxDateTimeInput({
            width: 160,
            height: 30,
            theme: "Light"
        });

        $("#txtDlgMeasureResponseDt").jqxDateTimeInput(DateFormat);
        $("#txtDlgMeasureResponseDt").jqxDateTimeInput({
            width: 160,
            height: 30,
            theme: "Light"
        });

        $("#chkDlgRecurrenceFl").jqxCheckBox({ width: 130, checked: true });
        //$("#chkDlgBlockadeMaterial").jqxCheckBox({ width: 130, checked: true });
        //$("#chkDlgBlockadeOutProduct").jqxCheckBox({ width: 130, checked: true });
        //$("#chkDlgBlockadeProcessProduct").jqxCheckBox({ width: 130, checked: true });
        //$("#chkDlgBlockadeFinishProduct").jqxCheckBox({ width: 130, checked: true });
        //$("#chkDlgBlockadeStorageProduct").jqxCheckBox({ width: 130, checked: true });
        //$("#chkDlgBlockadeShipProduct").jqxCheckBox({ width: 130, checked: true });

        var btnDlgPlanUserSearch$ = $("#btnEditPlanUserSearch").jqxButton();
        btnDlgPlanUserSearch$.on("click", function () {
            OpenApprovalPersonDialog(function (res) {
                if (res.length > 1) {
                    alert("담당자는 한명만 지정 할 수 있습니다.");
                    return;
                }

                $("#txtPlanUserNm").val(res[0].Name);
                $("#txtPlanUserNm").attr("PlanUserOID", res[0].OID);

            }, null, null, '/Common/ApprovalPerson', '사용자 검색');
        });

        // 제품 검색
        var btnDlgPartSearch$ = $("#btnEditPartSearch").jqxButton();
        btnDlgPartSearch$.on("click", function () {
            OpenSearchEPartDataDialog(function (res) {
                $("#txtDlgPartNo").val(res.Name);
                $("#txtDlgPartNm").val(res.Title);
                $("#txtDlgPartNo").attr("PartOID", res.OID);
            }, null, null, '/EBom/dlgSearchEPartAssy', 'EPART 검색');
        });

        var btnDlgWorkerUserSearch$ = $("#btnEditWorkUserSearch").jqxButton();
        btnDlgWorkerUserSearch$.on("click", function () {
            OpenApprovalPersonDialog(function (res) {
                if (res.length > 1) {
                    alert("담당자는 한명만 지정 할 수 있습니다.");
                    return;
                }

                $("#txtDlgWorkUserNm").val(res[0].Name);
                $("#txtDlgWorkUserNm").attr("WorkUserOID", res[0].OID);

            }, null, null, '/Common/ApprovalPerson', '사용자 검색');
        });

        // 고품사진
        if ($('.showImg').children().length == 1) {
            $('#imghereDlgPoorPicture').hide();
        }

        $("#imgDlgPoorPicture").simpleUpload({
            url: '/Qms/ImgUploadFile',
            params: {},
            method: 'post',
            maxFileNum: 1,
            maxFileSize: 1000000,
            allowedMimeType: ['image/jpeg', 'image/png', 'image/gif'],
            dropZone: '#imgZoneDlgPoorPicture',
        }).on('upload:over', function (e, files) {
            alert('Number of files is over');
        }).on('upload:invalid', function (e, files) {
            for (var i = 0; i < files.length; i++) {
                alert('Invalid ' + files[i].reason + ': ' + files[i].name);
            }
        }).on('upload:done', function (e, file, index, data, xhr) {
            var imgPictureResult$ = $('#imgResultDlgPoorPicture');
            imgPictureResult$.empty();
            imgPictureResult$.append('<img class="img-thumbnail" src="@(Url.Content(FullImgPath) + "/")' + data +'" />');
            $('#hidImgFileNameDlgPoorPicture').val(data);
            $('#imghereDlgPoorPicture').hide();
            $('.img-thumbnail').next().on('click', function () {
                $(this).parent('li').remove();
            });
        });

        // 양품사진
        if ($('.showImg').children().length == 1) {
            $('#imghereDlgGoodPicture').hide();
        }

        $("#imgDlgGoodPicture").simpleUpload({
            url: '/Qms/ImgUploadFile',
            params: {},
            method: 'post',
            maxFileNum: 1,
            maxFileSize: 1000000,
            allowedMimeType: ['image/jpeg', 'image/png', 'image/gif'],
            dropZone: '#imgZoneDlgGoodPicture',
        }).on('upload:over', function (e, files) {
            alert('Number of files is over');
        }).on('upload:invalid', function (e, files) {
            for (var i = 0; i < files.length; i++) {
                alert('Invalid ' + files[i].reason + ': ' + files[i].name);
            }
        }).on('upload:done', function (e, file, index, data, xhr) {
            var imgPictureResult$ = $('#imgResultDlgGoodPicture');
            imgPictureResult$.empty();
            imgPictureResult$.append('<img class="img-thumbnail" src="@(Url.Content(FullImgPath) + "/")' + data +'" />');
            $('#hidImgFileNameDlgGoodPicture').val(data);
            $('#imghereDlgGoodPicture').hide();
            $('.img-thumbnail').next().on('click', function () {
                $(this).parent('li').remove();
            });
        });


        var btnDlgSave$ = $("#btnDlgQuickResponseSave");
        btnDlgSave$.on("click", function () {
            var param = {};

            param.OID = null;
            param.ProjectOID = "@ViewBag.ProjectOID";
            param.PlantLibOID = WebUtils.GetComboValue("cbDlgPlant");
            param.OccurrenceLibOID = WebUtils.GetComboValue("cbDlgOccurrence");
            param.ItemLibOID = WebUtils.GetComboValue("cbDlgItem");
            param.PartOID = WebUtils.isEmpty($("#txtDlgPartNo").attr("PartOID")) === true ? 156 : $("#txtDlgPartNo").attr("PartOID");
            param.LotNo = $("#txtDlgLotNo").val();
            param.OemLibOID = WebUtils.GetComboValue("cbDlgOem");
            param.CarCode = $("#txtDlgCarCode").val();
            param.WorkUserOID = $("#txtDlgWorkUserNm").attr("WorkUserOID");
            param.WriteDt = $("#txtDlgWriteDt").val();
            param.PoorCnt = $("#txtDlgPoorCnt").val();
            param.Title = $("#txtDlgSummary").val();
            param.Summary = $("#txtDlgSummary").val();
            param.EnrollmentLibOID = WebUtils.GetComboValue("cbDlgEnrollmentType");
            param.OccurrenceAreaLibOID = WebUtils.GetComboValue("cbDlgOccurrenceArea");
            @*param.InduceLibOID = WebUtils.GetComboValue("cbDlgInduce");*@
            param.DefectDegreeLibOID = WebUtils.GetComboValue("cbDlgDefectDegree");
            param.ImputeLibOID = WebUtils.GetComboValue("cbDlgImpute");

            var item = $("#cbDlgImpute").jqxComboBox('getItemByValue', param.ImputeLibOID);

            if (item.label === "자체") {
                param.ImputeDepartmentOID = WebUtils.GetComboValue("cbDlgImputeDepartment");
            } else if (item.label === "협력사") {
                param.ImputeSupplierOID = WebUtils.GetComboValue("cbDlgImputePartners");
            }

            //param.Summary = $("#txtDlgSummary").val();
            param.PoorDetail = $("#txtDlgPoorDetail").val();
            param.RecurrenceFl = WebUtils.GetCheckBoxValue("chkDlgRecurrenceFl");
            param.OccurrencePlace = $("#txtDlgOccurrencePlace").val();
            param.OccurrenceDt = $("#txtDlgOccurrenceDt").val();
            @*param.CorrectDecisionLibOID = WebUtils.GetComboValue("cbDlgCorrectDecision");*@
            param.MeasureResponseDt = $("#txtDlgMeasureResponseDt").val();
            @*param.Qa = $("#txtDlgQa").val();*@
            //param.BlockadeMaterialFl = WebUtils.GetCheckBoxValue("chkDlgBlockadeMaterial");
            //param.BlockadeOutProductFl = WebUtils.GetCheckBoxValue("chkDlgBlockadeOutProduct");
            //param.BlockadeProcessProductFl = WebUtils.GetCheckBoxValue("chkDlgBlockadeProcessProduct");
            //param.BlockadeFinishProductFl = WebUtils.GetCheckBoxValue("chkDlgBlockadeFinishProduct");
            //param.BlockadeStorageProductFl = WebUtils.GetCheckBoxValue("chkDlgBlockadeStorageProduct");
            //param.BlockadeShipProductFl = WebUtils.GetCheckBoxValue("chkDlgBlockadeShipProduct");
            param.PlanUserOID = $("#txtPlanUserNm").attr("PlanUserOID");
            param.PoorPicture = $("#hidImgFileNameDlgPoorPicture").val();
            param.GoodPicture = $("#hidImgFileNameDlgGoodPicture").val();

            var OccurrenceLibItem = $("#cbDlgOccurrence").jqxComboBox('getItemByValue', param.OccurrenceLibOID);

            if (WebUtils.isEmpty(param.PlantLibOID)) {
                alert("공장구분을 선택 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.OccurrenceLibOID)) {
                alert("발생유형을 선택 해주세요.");
                return;
            }

            if (!WebUtils.isEmpty(OccurrenceLibItem) && OccurrenceLibItem.label == "사외") {
                if (WebUtils.isEmpty(param.OemLibOID)) {
                    alert("고객사를 선택 해주세요.");
                    return;
                }
            }

            if (WebUtils.isEmpty(param.ItemLibOID)) {
                alert("품목을 선택 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.PartOID)) {
                alert("품번을 선택 해주세요.");
                return;
            }

            @*if (WebUtils.isEmpty(param.CarCode)) {
                alert("차종을 입력 해주세요.");
                return;
            }*@

            if (WebUtils.isEmpty(param.WorkUserOID)) {
                alert("품질담당자을 선택 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.PoorCnt)) {
                alert("불량수량을 입력 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.Title)) {
                alert("제목을 입력 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.EnrollmentLibOID)) {
                alert("등록구분을 선택 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.OccurrenceAreaLibOID)) {
                alert("발생처를 선택 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.OccurrencePlace)) {
                alert("발생장소를 입력 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.ImputeLibOID)) {
                alert("귀책구분을 선택 해주세요.");
                return;
            }

            if (item.label === "자체") {
                if (WebUtils.isEmpty(param.ImputeDepartmentOID)) {
                    alert("부서를 선택 해주세요.");
                    return;
                }
            } else if (item.label === "협력사") {
                if (WebUtils.isEmpty(param.ImputeSupplierOID)) {
                    alert("협력사를 선택 해주세요.");
                    return;
                }
            }

            if (item.label === "협력사" && WebUtils.isEmpty(param.ImputeSupplierOID)) {
                alert("협력사를 선택 해주세요.");
                return;
            }@* else if (WebUtils.isEmpty(param.ImputeDepartmentOID)){
                alert("부서를 선택 해주세요.");
                return;
            }*@

            if (WebUtils.isEmpty(param.OccurrenceDt)) {
                alert("발생일자를 선택 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.DefectDegreeLibOID)) {
                alert("결함정도를 선택 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.PoorDetail)) {
                alert("불량내용상세을 입력 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.PoorPicture)) {
                alert("고품사진을 등록 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.GoodPicture)) {
                alert("양품사진을 등록 해주세요.");
                return;
            }

            if (WebUtils.isEmpty(param.PlanUserOID)) {
                alert("일정계획담당자을 선택 해주세요.");
                return;
            }

            var Files = fileUpload.Files();

            var removeFiles = fileUpload.RemoveFiles();
            if (!WebUtils.isEmpty(removeFiles)) {
                param.delFiles = [];
                param.delFiles = removeFiles;
            }

            SendDataWithFile("/Qms/InsQuickResponse", param, Files, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }
                alert("저장되었습니다.");

                PageReload();
                //var linkName = "[신속대응상세] " + response.Title;
                //var linkUrl = '/Qms/InfoQuickResponseDetail?OID=' + response.OID;
                //TabPageLoad(linkName, linkUrl)
            });
        });

        $("#txtDlgPoorCnt").on("keyup", function () {
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
        });
    })
</script>