@using Common.Constant;
@{
    Layout = null;
    string StoragePath = System.Configuration.ConfigurationManager.AppSettings["FileStorage"];
    string imgVaulePath = System.Configuration.ConfigurationManager.AppSettings["ImageValutPath"];
    string SavePath = QmsConstant.TYPE_QUICK_RESPONSE + "/" + ViewBag.QuickDetail.OID.ToString();

    string imgTempPath = System.Configuration.ConfigurationManager.AppSettings["ImageTempPath"];
    string TempPath = QmsConstant.TYPE_QUICK_RESPONSE;

    string FullImgPath = StoragePath + "/" + imgVaulePath + "/" + SavePath;

    string TempImgPath = StoragePath + "/" + imgTempPath + "/" + TempPath;
}
<input type="hidden" id="hidInfoQuickResponsePoorPicture_@ViewBag.QuickDetail.OID" value="@ViewBag.QuickDetail.PoorPicture" />

<div id="InfoQuickResponse_@ViewBag.QuickDetail.OID" class="info_project clearfix">
    <div class="info_menubar">
        <ul>
            <li class="tab info_focus" info="properties"><i class="fas fa-info-circle"></i> 기본 정보</li>
            <li class="tab" info="Apphis"><i class="fas fa-stream"></i> 결재이력</li>
            <li class="tab" info="Downhis"><i class="fas fa-users"></i> 다운로드 이력</li>
        </ul>
    </div>
    <div class="doc_content">
        <div class="project_basic clearfix">
            <div class="basic_info">
                <h3>신속대응</h3>
                <p>제 목 : <span>@ViewBag.QuickDetail.Title</span></p>
            </div>
            <div class="basic_image">
                <div class="image_inputbox">이미지<!--이미지 드래그 영역--></div>
                <div class="image_thumbnail"><!--이미지 썸네일 영역--></div>
            </div>
            <div class="basic_status">
                <div class="pointer_wrap">
                    @for (int i = 0; i < ViewBag.Status.Count; i++)
                    {
                        if (ViewBag.QuickDetail.BPolicyOID == ViewBag.Status[i].StatusOID)
                        {
                            <div class="pointer pointer_focus" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                        else
                        {
                            <div class="pointer" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                    }
                </div>
                <p>설명 : <span></span></p>
            </div>
        </div>
        <div style="overflow-y:scroll;height:668px;box-sizing:border-box;">
            <div id="properties" class="basic_grid">
                <table class="tableTopButtonBox" style="border-bottom:1px solid #c5c5c5;">
                    <tbody>
                        <tr>
                            <td style="text-align: right;" id="InfoQuickResponse_defaultBtn_@ViewBag.QuickDetail.OID">
                                <button id="InfoQuickResponse_EditBtn_@ViewBag.QuickDetail.OID" class="custom-button"><i class="fas fa-edit"></i> 수정</button>
                                @*<button id="InfoQuickResponse_AppDrwEditBtn_@ViewBag.QuickDetail.OID" class="custom-button"><i class="fas fa-highlighter"></i>문서 정정</button>*@
                                <button id="InfoQuickResponse_EditCancleBtn_@ViewBag.QuickDetail.OID" class="custom-button" style="display:none;"><i class="fas fa-times"></i> 취소</button>
                                <button id="InfoQuickResponse_SaveBtn_@ViewBag.QuickDetail.OID" class="custom-button" style="display:none;"><i class="fas fa-save"></i> 저장</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <label><i class="fas fa-caret-square-down"></i> 기본정보</label>
                <table class="infoTable" style="table-layout:fixed;">
                    <colgroup>
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label class="lbText">공장 구분</label></th>
                            <td><div id="InfoQuickResponse_cbPlant_@ViewBag.QuickDetail.OID"></div></td>
                            <th><label class="lbText">검사유형</label></th>
                            <td><div id="InfoQuickResponse_cbOccurrence_@ViewBag.QuickDetail.OID"></div></td>
                            <th><label class="lbText">고객사</label></th>
                            <td><div id="InfoQuickResponse_cbOem_@ViewBag.QuickDetail.OID"></div></td>
                        </tr>
                        <tr>
                            <th><label class="lbText">품번</label></th>
                            <td><input type="text" readonly="readonly" id="InfoQuickResponse_txtPartNo_@ViewBag.QuickDetail.OID" value="@ViewBag.QuickDetail.PartNo" /></td>
                            <th><label class="lbText">LOT번호</label></th>
                            <td><input type="text" readonly="readonly" id="InfoQuickResponse_txtLotNo_@ViewBag.QuickDetail.OID" value="@ViewBag.QuickDetail.LotNo" /></td>
                            <th><label class="lbText">품질담당자</label></th>
                            <td>
                                <input type="text" readonly="readonly" id="InfoQuickResponse_txtWorkUserNm_@ViewBag.QuickDetail.OID" style="width:60%;" WorkUserOID="@ViewBag.QuickDetail.WorkUserOID" value="@ViewBag.QuickDetail.WorkUserNm" />
                                <button id="InfoQuickResponse_btnWorkUserSearch_@ViewBag.QuickDetail.OID" class="custom-button" style="display:none;"><i class="fas fa-search"></i> 검색</button>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="lbText">작성일시</label></th>
                            <td><input type="text" readonly="readonly" id="InfoQuickResponse_txtWriteDt_@ViewBag.QuickDetail.OID" value="@(ViewBag.QuickDetail.OccurrenceDt == null ? "" : ViewBag.QuickDetail.WriteDt.ToString("yyyy-MM-dd"))" /></td>
                            <th><label class="lbText">불량수량</label></th>
                            <td><input type="text" readonly="readonly" id="InfoQuickResponse_txtPoorCnt_@ViewBag.QuickDetail.OID" value="@ViewBag.QuickDetail.PoorCnt" /></td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>

                </table>

                <label><i class="fas fa-caret-square-down"></i> 문제요약</label>
                <table class="infoTable" style="table-layout:fixed;">
                    <colgroup>
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label class="lbText">제목</label></th>
                            <td colspan="5">
                                <input type="text" class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="TEXT" readonly="readonly" id="txtDlgTitle" style="width:98%;" value="@ViewBag.QuickDetail.Title" />
                            </td>
                        <tr>
                            <th><label class="lbText">발생처</label></th>
                            <td><div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="COMBO" id="InfoQuickResponse_cbOccurrenceArea_@ViewBag.QuickDetail.OID"></div></td>
                            <th><label class="lbText">유발공정</label></th>
                            <td><div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="COMBO" id="InfoQuickResponse_cbInduce_@ViewBag.QuickDetail.OID"></div></td>
                            <th><label class="lbText">귀책구분</label></th>
                            <td>
                                <div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="COMBO" id="InfoQuickResponse_cbImpute_@ViewBag.QuickDetail.OID"></div>
                                <div id="InfoQuickResponse_cbImputeDepartment_@ViewBag.QuickDetail.OID" style="display:none;"></div>
                                <input type="text" readonly="readonly" id="InfoQuickResponse_txtImputeSupplier_@ViewBag.QuickDetail.OID" value="@ViewBag.QuickDetail.ImputeSupplierNm" style="display:none;" />
                            </td>
                        </tr>
                        <tr>
                            <th><label class="lbText">발생장소</label></th>
                            <td><input class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="TEXT" type="text" readonly="readonly" id="InfoQuickResponse_txtOccurrencePlace_@ViewBag.QuickDetail.OID" value="@ViewBag.QuickDetail.OccurrencePlace" /></td>
                            <th><label class="lbText">발생일자</label></th>
                            <td><div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="DATE" id="InfoQuickResponse_txtOccurrenceDt_@ViewBag.QuickDetail.OID" value="@(ViewBag.QuickDetail.OccurrenceDt == null ? "" : ViewBag.QuickDetail.OccurrenceDt.ToString("yyyy-MM-dd"))"></div></td>
                            <th><label class="lbText">결함정도</label></th>
                            <td><div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="COMBO" id="InfoQuickResponse_cbDefectDegree_@ViewBag.QuickDetail.OID"></div></td>
                        </tr>
                        <tr>
                            <th><label class="lbText">재발여부 </label></th>
                            <td> <div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="CHECKBOX" id="InfoQuickResponse_chkRecurrenceFl_@ViewBag.QuickDetail.OID">재발여부 선택</div></td>
                            <th><label class="lbText">시정판정</label></th>
                            <td><div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="COMBO" id="InfoQuickResponse_cbCorrectDecision_@ViewBag.QuickDetail.OID"></div></td>
                            <th><label class="lbText">대책서회신요구일자</label></th>
                            <td><div class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="DATE" id="InfoQuickResponse_txtMeasureResponseDt_@ViewBag.QuickDetail.OID" value="@(ViewBag.QuickDetail.MeasureResponseDt == null ? "" : ViewBag.QuickDetail.MeasureResponseDt.ToString("yyyy-MM-dd"))"></div></td>
                        </tr>
                        <tr>
                            <th><label class="lbText">불량내용상세</label></th>
                            <td colspan="5">
                                <textarea class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="TEXTAREA" readonly="readonly" id="InfoQuickResponse_txtPoorDetail_@ViewBag.QuickDetail.OID" style="width:98%;">@ViewBag.QuickDetail.PoorDetail</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th><label class="lbText">QA</label></th>
                            <td colspan="5">
                                <textarea class="Modifiable_@ViewBag.QuickDetail.OID" AttrType="TEXTAREA" readonly="readonly" id="InfoQuickResponse_txtQa_@ViewBag.QuickDetail.OID" style="width:98%;">@ViewBag.QuickDetail.Qa</textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <label><i class="fas fa-caret-square-down"></i> 고품사진</label>
                <table class="infoTable" style="table-layout:fixed;">
                    <colgroup>
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label class="lbText">고품사진</label></th>
                            <td colspan="5">
                                <div style="width:200px; height:240px; position:relative;">
                                    <input type="file" multiple="true" id="InfoQuickResponse_imgPoorPicture_@ViewBag.QuickDetail.OID" style="display:none;">
                                    <div class="Modifiable_@ViewBag.QuickDetail.OID inputImg" AttrType="IMGDROPZONE" style="z-index:100; display:none;" id="InfoQuickResponse_imgZone_@ViewBag.QuickDetail.OID">
                                        <span id="InfoQuickResponse_imghere_@ViewBag.QuickDetail.OID"></span>
                                    </div>
                                    <div class="showImg" id="InfoQuickResponse_imgResult_@ViewBag.QuickDetail.OID">
                                        @if (ViewBag.QuickDetail.OID != null && ViewBag.QuickDetail.PoorPicture != null)
                                        {
                                            @*<img class="img-thumbnail" src="@Url.Content("~/images/Qms/PoorPicture/")@ViewBag.QuickDetail.PoorPicture" />*@
                                            <img class="img-thumbnail" src="@(Url.Content(FullImgPath) + "/" + ViewBag.QuickDetail.PoorPicture)" />
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <label><i class="fas fa-caret-square-down"></i> 봉쇄조치</label>
                <table class="infoTable" style="table-layout:fixed;">
                    <colgroup>
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                        <col style="width:190px;" />
                        <col style="width:auto;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label class="lbText">봉쇄조치 </label></th>
                            <td colspan="3">
                                <div style="display:flex;flex-direction:row;">
                                    <div id="InfoQuickResponse_chkBlockadeMaterial_@ViewBag.QuickDetail.OID">원재료</div>
                                    <div id="InfoQuickResponse_chkBlockadeOutProduct_@ViewBag.QuickDetail.OID">외주품</div>
                                    <div id="InfoQuickResponse_chkBlockadeProcessProduct_@ViewBag.QuickDetail.OID">공정품</div>
                                    <div id="InfoQuickResponse_chkBlockadeFinishProduct_@ViewBag.QuickDetail.OID">완성품</div>
                                    <div id="InfoQuickResponse_chkBlockadeStorageProduct_@ViewBag.QuickDetail.OID">창고재고</div>
                                    <div id="InfoQuickResponse_chkBlockadeShipProduct_@ViewBag.QuickDetail.OID">고객출하</div>
                                </div>

                            </td>
                            <th><label class="lbText">일정계획담당자</label></th>
                            <td>
                                <input type="text" readonly="readonly" id="InfoQuickResponse_txtPlanUserNm_@ViewBag.QuickDetail.OID" style="width:60%;" PlanUserOID="@ViewBag.QuickDetail.PlanUserOID" value="@ViewBag.QuickDetail.PlanUserNm" />
                                <button id="InfoQuickResponse_btnPlanUserSearch_@ViewBag.QuickDetail.OID" class="custom-button" style="display:none;"><i class="fas fa-search"></i> 검색</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        const QuickDetailOID = '@ViewBag.QuickDetail.OID';
        const QuickDetailDiv$ = $('#InfoQuickResponse_' + QuickDetailOID);

        $("#InfoQuickResponse_cbOem_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.oemList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });
        $("#InfoQuickResponse_cbPlant_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.oemList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });
        $("#InfoQuickResponse_cbOccurrence_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.occurrenceList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });
        $("#InfoQuickResponse_cbOccurrenceArea_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.occurrenceAreaList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });
        $("#InfoQuickResponse_cbInduce_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.induceList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });
        $("#InfoQuickResponse_cbDefectDegree_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.defectDegreeList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });
        $("#InfoQuickResponse_cbImpute_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.imputeList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });
        @*$("#InfoQuickResponse_cbImputeDepartment_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.oemList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 150, height: 25 });*@
        $("#InfoQuickResponse_cbCorrectDecision_@ViewBag.QuickDetail.OID").jqxComboBox({ selectedIndex: 0, source: WebUtils.ConvComboData(@Html.Raw(Json.Encode(ViewBag.correctDecisionList)), "OID", "KorNm", true), displayMember: "text", valueMember: "value", width: 160, height: 30, disabled: true });

         $("#InfoQuickResponse_cbOem_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.OemLibOID");
         $("#InfoQuickResponse_cbPlant_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.PlantLibOID");
         $("#InfoQuickResponse_cbOccurrence_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.OccurrenceLibOID");
         $("#InfoQuickResponse_cbOccurrenceArea_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.OccurrenceAreaLibOID");
         $("#InfoQuickResponse_cbInduce_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.InduceLibOID");
         $("#InfoQuickResponse_cbDefectDegree_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.DefectDegreeLibOID");
         $("#InfoQuickResponse_cbImpute_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.ImputeLibOID");
         $("#InfoQuickResponse_cbCorrectDecision_@ViewBag.QuickDetail.OID").jqxComboBox('val', "@ViewBag.QuickDetail.CorrectDecisionLibOID");

        $("#InfoQuickResponse_txtWriteDt_@ViewBag.QuickDetail.OID").jqxDateTimeInput(DateFormat);
        $("#InfoQuickResponse_txtWriteDt_@ViewBag.QuickDetail.OID").jqxDateTimeInput({
            width: 160,
            height: 30,
            theme: "Light",
            disabled: true
        });

        $("#InfoQuickResponse_txtOccurrenceDt_@ViewBag.QuickDetail.OID").jqxDateTimeInput(DateFormat);
        $("#InfoQuickResponse_txtOccurrenceDt_@ViewBag.QuickDetail.OID").jqxDateTimeInput({
            width: 160,
            height: 30,
            theme: "Light",
            disabled: true
        });

        $("#InfoQuickResponse_txtMeasureResponseDt_@ViewBag.QuickDetail.OID").jqxDateTimeInput(DateFormat);
        $("#InfoQuickResponse_txtMeasureResponseDt_@ViewBag.QuickDetail.OID").jqxDateTimeInput({
            width: 160,
            height: 30,
            theme: "Light",
            disabled: true
        });

        $("#InfoQuickResponse_chkRecurrenceFl_@ViewBag.QuickDetail.OID").jqxCheckBox({ width: 130, checked: ("@ViewBag.QuickDetail.RecurrenceFl" == "True" ? true : false), disabled: true });
        $("#InfoQuickResponse_chkBlockadeMaterial_@ViewBag.QuickDetail.OID").jqxCheckBox({ width: 130, checked: ("@ViewBag.QuickDetail.BlockadeMaterialFl" == "True"? true : false), disabled: true });
        $("#InfoQuickResponse_chkBlockadeOutProduct_@ViewBag.QuickDetail.OID").jqxCheckBox({ width: 130, checked: ("@ViewBag.QuickDetail.BlockadeOutProductFl" == "True"? true : false), disabled: true });
        $("#InfoQuickResponse_chkBlockadeProcessProduct_@ViewBag.QuickDetail.OID").jqxCheckBox({ width: 130, checked: ("@ViewBag.QuickDetail.BlockadeProcessProductFl" == "True"? true : false), disabled: true });
        $("#InfoQuickResponse_chkBlockadeFinishProduct_@ViewBag.QuickDetail.OID").jqxCheckBox({ width: 130, checked: ("@ViewBag.QuickDetail.BlockadeFinishProductFl" == "True"? true : false), disabled: true });
        $("#InfoQuickResponse_chkBlockadeStorageProduct_@ViewBag.QuickDetail.OID").jqxCheckBox({ width: 130, checked: ("@ViewBag.QuickDetail.BlockadeStorageProductFl" == "True"? true : false) , disabled: true});
        $("#InfoQuickResponse_chkBlockadeShipProduct_@ViewBag.QuickDetail.OID").jqxCheckBox({ width: 130, checked: ("@ViewBag.QuickDetail.BlockadeShipProductFl" == "True"? true : false), disabled: true });

        // 고품사진
        if ($('.showImg').children().length == 1) {
            $('#InfoQuickResponse_imghere_@ViewBag.QuickDetail.OID').hide();
        }

        $("#InfoQuickResponse_imgPoorPicture_@ViewBag.QuickDetail.OID").simpleUpload({
            url: '/Qms/ImgUploadFile',
            params: {},
            method: 'post',
            maxFileNum: 1,
            maxFileSize: 1000000,
            allowedMimeType: ['image/jpeg', 'image/png', 'image/gif'],
            dropZone: '#InfoQuickResponse_imgZone_@(ViewBag.QuickDetail.OID != null ? ViewBag.QuickDetail.OID : "")',
        }).on('upload:over', function (e, files) {
            alert('Number of files is over');
        }).on('upload:invalid', function (e, files) {
            for (var i = 0; i < files.length; i++) {
                alert('Invalid ' + files[i].reason + ': ' + files[i].name);
            }
        }).on('upload:done', function (e, file, index, data, xhr) {
            var imgPictureResult$ = $('#InfoQuickResponse_imgResult_@ViewBag.QuickDetail.OID');
            imgPictureResult$.empty();
            imgPictureResult$.append('<img class="img-thumbnail" src="@(Url.Content(TempImgPath) + "/")' + data +'" />');
            $('#hidInfoQuickResponsePoorPicture_@ViewBag.QuickDetail.OID').val(data);
            $('#InfoQuickResponse_imghere_@ViewBag.QuickDetail.OID').hide();
            $('.img-thumbnail').next().on('click', function () {
                $(this).parent('li').remove();
            });
        });

        var btnDlgPlanUserSearch$ = $("#InfoQuickResponse_btnPlanUserSearch_@ViewBag.QuickDetail.OID").jqxButton({disabled: true});
        btnDlgPlanUserSearch$.on("click", function () {
            OpenApprovalPersonDialog(function (res) {
                if (res.length > 1) {
                    alert("담당자는 한명만 지정 할 수 있습니다.");
                    return;
                }

                $("#InfoQuickResponse_txtPlanUserNm_@ViewBag.QuickDetail.OID").val(res[0].Name);
                $("#InfoQuickResponse_txtPlanUserNm_@ViewBag.QuickDetail.OID").attr("PlanUserOID", res[0].OID);

            }, null, null, '/Common/ApprovalPerson', '사용자 검색');
        });

        var btnDlgWorkerUserSearch$ = $("#InfoQuickResponse_btnWorkUserSearch_@ViewBag.QuickDetail.OID").jqxButton();
        btnDlgWorkerUserSearch$.on("click", function () {
            OpenApprovalPersonDialog(function (res) {
                if (res.length > 1) {
                    alert("담당자는 한명만 지정 할 수 있습니다.");
                    return;
                }

                $("#InfoQuickResponse_txtWorkUserNm_@ViewBag.QuickDetail.OID").val(res[0].Name);
                $("#InfoQuickResponse_txtWorkUserNm_@ViewBag.QuickDetail.OID").attr("WorkUserOID", res[0].OID);

            }, null, null, '/Common/ApprovalPerson', '사용자 검색');
        });

        $('#InfoQuickResponse_EditBtn_' + QuickDetailOID).on('click', function () {
            var ModifyAttr = $('.Modifiable_' + QuickDetailOID);

            ModifyAttr.each(function (i, v) {
                ContentEditMode(v);
            });

            //수정 가능한 항목을 표시
            var modifyTag = document.createElement('div');
            modifyTag.className = "modifyTag";

            $('.Modifiable_' + QuickDetailOID).parent().css('position', 'relative');

            $('.Modifiable_' + QuickDetailOID).parent().append(modifyTag);

            $("#InfoQuickResponse_EditBtn_" + QuickDetailOID).css("display", "none");
            $("#InfoQuickResponse_SaveBtn_" + QuickDetailOID).css("display", "inline-block");
            $("#InfoQuickResponse_EditCancleBtn_" + QuickDetailOID).css("display", "inline-block");
            $("#InfoQuickResponse_imgZone_" + QuickDetailOID).css("display", "inline-block");
        });

        $("#InfoQuickResponse_EditCancleBtn_" + QuickDetailOID).jqxButton();
        $("#InfoQuickResponse_EditCancleBtn_" + QuickDetailOID).on("click", function () {
            var ModifyAttr = $('.Modifiable_' + QuickDetailOID);

            ModifyAttr.each(function (i, v) {
                ContentReadMode(v);
            });

            $(".modifyTag").remove();
            $("#InfoQuickResponse_EditBtn_" + QuickDetailOID).css("display", "inline-block");
            $("#InfoQuickResponse_SaveBtn_" + QuickDetailOID).css("display", "none");
            $("#InfoQuickResponse_EditCancleBtn_" + QuickDetailOID).css("display", "none");
            $("#InfoQuickResponse_imgZone_" + QuickDetailOID).css("display", "none");
            $('#hidInfoQuickResponsePoorPicture_@ViewBag.QuickDetail.OID').val(null);

            // 저장 안하고 취소 시 이전 고품사진 보여주도록 설정
            @if (ViewBag.QuickDetail.PoorPicture != null)
            {
                <text>
                var imgPictureResult$ = $('#InfoQuickResponse_imgResult_@ViewBag.QuickDetail.OID');
                imgPictureResult$.empty();
                imgPictureResult$.append('<img class="img-thumbnail" src="@(Url.Content(FullImgPath) + "/" + ViewBag.QuickDetail.PoorPicture)" />');
                $('#InfoQuickResponse_imghere_@ViewBag.QuickDetail.OID').hide();
                $('.img-thumbnail').next().on('click', function () {
                    $(this).parent('li').remove();
                });
                </text>
            }
        });


        $("#InfoQuickResponse_SaveBtn_" + QuickDetailOID).jqxButton();
        $('#InfoQuickResponse_SaveBtn_' + QuickDetailOID).on("click", function () {
            var param = {};

            param.OID = "@ViewBag.QuickDetail.OID";
            @*param.PlantLibOID = WebUtils.GetComboValue("InfoQuickResponse_cbPlant_@ViewBag.QuickDetail.OID");
            param.OccurrenceLibOID =WebUtils.GetComboValue("InfoQuickResponse_cbOccurrence_@ViewBag.QuickDetail.OID");*@
            //param.PartOID = 156;
            //param.LotNo = "ABC";
            @*param.OemLibOID = WebUtils.GetComboValue("InfoQuickResponse_cbOem_@ViewBag.QuickDetail.OID");
            param.WorkUserOID = $("#txtWorkUserNm").attr("WorkUserOID");
            param.WriteDt = $("#InfoQuickResponse_txtWriteDt_@ViewBag.QuickDetail.OID").val();
            param.PoorCnt = $("#InfoQuickResponse_txtPoorCnt_@ViewBag.QuickDetail.OID").val();*@
            param.Title = $("#txtDlgTitle").val();
            param.OccurrenceAreaLibOID = WebUtils.GetComboValue("InfoQuickResponse_cbOccurrenceArea_@ViewBag.QuickDetail.OID");
            param.InduceLibOID = WebUtils.GetComboValue("InfoQuickResponse_cbInduce_@ViewBag.QuickDetail.OID");
            param.DefectDegreeLibOID = WebUtils.GetComboValue("InfoQuickResponse_cbDefectDegree_@ViewBag.QuickDetail.OID");
            param.ImputeLibOID = WebUtils.GetComboValue("InfoQuickResponse_cbImpute_@ViewBag.QuickDetail.OID");
            param.ImputeDepartmentOID = null;
            param.ImputeSupplierOID = null;
            //param.Summary = $("#txtDlgSummary").val();
            param.PoorDetail = $("#InfoQuickResponse_txtPoorDetail_@ViewBag.QuickDetail.OID").val();
            param.RecurrenceFl = WebUtils.GetCheckBoxValue("InfoQuickResponse_chkRecurrenceFl_@ViewBag.QuickDetail.OID");
            param.OccurrencePlace = $("#InfoQuickResponse_txtOccurrencePlace_@ViewBag.QuickDetail.OID").val();
            param.OccurrenceDt = $("#InfoQuickResponse_txtOccurrenceDt_@ViewBag.QuickDetail.OID").val();
            param.CorrectDecisionLibOID = WebUtils.GetComboValue("InfoQuickResponse_cbCorrectDecision_@ViewBag.QuickDetail.OID");
            param.MeasureResponseDt = $("#InfoQuickResponse_txtMeasureResponseDt_@ViewBag.QuickDetail.OID").val();
            param.Qa = $("#InfoQuickResponse_txtQa_@ViewBag.QuickDetail.OID").val();
            param.BlockadeMaterialFl = WebUtils.GetCheckBoxValue("InfoQuickResponse_chkBlockadeMaterial_@ViewBag.QuickDetail.OID");
            param.BlockadeOutProductFl = WebUtils.GetCheckBoxValue("InfoQuickResponse_chkBlockadeOutProduct_@ViewBag.QuickDetail.OID");
            param.BlockadeProcessProductFl = WebUtils.GetCheckBoxValue("InfoQuickResponse_chkBlockadeProcessProduct_@ViewBag.QuickDetail.OID");
            param.BlockadeFinishProductFl = WebUtils.GetCheckBoxValue("InfoQuickResponse_chkBlockadeFinishProduct_@ViewBag.QuickDetail.OID");
            param.BlockadeStorageProductFl = WebUtils.GetCheckBoxValue("InfoQuickResponse_chkBlockadeStorageProduct_@ViewBag.QuickDetail.OID");
            param.BlockadeShipProductFl = WebUtils.GetCheckBoxValue("InfoQuickResponse_chkBlockadeShipProduct_@ViewBag.QuickDetail.OID");
            param.PlanUserOID = $("#InfoQuickResponse_txtPlanUserNm_@ViewBag.QuickDetail.OID").attr("PlanUserOID");
            param.PoorPicture = $('#hidInfoQuickResponsePoorPicture_@ViewBag.QuickDetail.OID').val();

            $.post('/Qms/UdtQuickResponse', param, function (response) {
                  if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }
                alert("저장되었습니다.");

                PageReload();
            }).fail(function (err) {
                alert(err.responseText);
            });
        });
    })

</script>
