@{
    Layout = null;
}

<div id="InfoWorkerEducation_@ViewBag.WorkerEdu.OID" class="info_project clearfix">
    <div class="info_menubar">
        <ul>
            <li class="tab info_focus" info="properties"><i class="fas fa-info-circle"></i> 기본 정보</li>
            <li class="tab" info="Apphis"><i class="fas fa-stream"></i> 결재이력</li>
            <li class="tab" info="Downhis"><i class="fas fa-users"></i> 다운로드 이력</li>
        </ul>
    </div>
    <div class="doc_content">
        <div class="project_basic clearfix">
            <div class="basic_info">
                <h3>작업자교육</h3>
                <p>제 목 : <span>@ViewBag.QuickDetail.Title</span></p>
            </div>
            <div class="basic_image">
                <div class="image_inputbox">이미지<!--이미지 드래그 영역--></div>
                <div class="image_thumbnail"><!--이미지 썸네일 영역--></div>
            </div>
            <div class="basic_status">
                <div class="pointer_wrap">
                    @for (int i = 0; i < ViewBag.Status.Count; i++)
                    {
                        if (ViewBag.WorkerEdu.BPolicyOID == ViewBag.Status[i].StatusOID)
                        {
                            <div class="pointer pointer_focus" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                        else
                        {
                            <div class="pointer" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                    }
                </div>
                <p>설명 : <span></span></p>
            </div>
        </div>
        <div id="properties" class="basic_grid">
            @if ((ViewBag.WorkerEdu.BPolicyNm == Common.Constant.QmsConstant.POLICY_QMS_MODULE_STARTED || ViewBag.WorkerEdu.BPolicyNm == Common.Constant.QmsConstant.POLICY_QMS_MODULE_REJECTED) && ViewBag.WorkerEdu.ChargeUserOID == Convert.ToInt32(Session["UserOID"]))
            {
                <table class="tableTopButtonBox">
                    <tbody>
                        <tr>
                            <td style="text-align: right;" id="InfoWorkerEducation_defaultBtn_@ViewBag.WorkerEdu.OID">
                                <button id="InfoWorkerEducation_EditBtn_@ViewBag.WorkerEdu.OID" class="custom-button"><i class="fas fa-edit"></i> 수정</button>
                                <button id="InfoWorkerEducation_EditCancleBtn_@ViewBag.WorkerEdu.OID" class="custom-button" style="display:none;"><i class="fas fa-times"></i> 취소</button>
                                <button id="InfoWorkerEducation_SaveBtn_@ViewBag.WorkerEdu.OID" class="custom-button" style="display:none;"><i class="fas fa-save"></i> 저장</button>
                                <button id="InfoWorkerEducation_ApprovalBtn_@ViewBag.WorkerEdu.OID" class="custom-button"><i class="fas fa-pen-alt"></i> 결재</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }

            <label><i class="fas fa-caret-square-down"></i> 기본정보</label>
            <table class="infoTable" style="table-layout:fixed;">
                <colgroup>
                    <col style="width:190px;" />
                    <col style="width:auto;" />
                    <col style="width:190px;" />
                    <col style="width:auto;" />
                </colgroup>
                <tbody>
                    <tr>
                        <th><label class="lbText">교육일자</label></th>
                        <td>
                            <div class="Modifiable_@ViewBag.WorkerEdu.OID" AttrType="DATE" id="InfoWorkerEducation_txtEduDt_@ViewBag.WorkerEdu.OID" value="@(ViewBag.WorkerEdu.EduDt == null ? "" : ViewBag.WorkerEdu.EduDt.ToString("yyyy-MM-dd"))"></div>
                        </td>
                        <th><label class="lbText">담당자</label></th>
                        <td>
                            <div style="display:flex">
                                <input type="text" readonly="readonly" id="InfoWorkerEducation_txtEduUser_@ViewBag.WorkerEdu.OID" style="width:120px;" EduUserOID="@ViewBag.WorkerEdu.EduUserOID" value="@ViewBag.WorkerEdu.EduUserNm" />
                                <button id="InfoWorkerEducation_btnEduUser_@ViewBag.WorkerEdu.OID" class="Modifiable_@ViewBag.WorkerEdu.OID" AttrType="BUTTON" style="display:none;"><i class="fas fa-search"></i>검색</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><label class="lbText">교육인원</label></th>
                        <td><input class="Modifiable_@ViewBag.WorkerEdu.OID" type="text" AttrType="TEXT" readonly="readonly" id="InfoWorkerEducation_txtEduPersonnel_@ViewBag.WorkerEdu.OID" value="@ViewBag.WorkerEdu.EduPersonnel" /></td>
                        <th><label class="lbText">교육장소</label></th>
                        <td><input class="Modifiable_@ViewBag.WorkerEdu.OID" type="text" AttrType="TEXT" readonly="readonly" id="InfoWorkerEducation_txtEduPlace_@ViewBag.WorkerEdu.OID" value="@ViewBag.WorkerEdu.EduPlace" /></td>
                    </tr>
                    @*<tr>
                        <th><label class="lbText">교육계획</label></th>
                        <td><input class="Modifiable_@ViewBag.WorkerEdu.OID" type="text" AttrType="TEXT" readonly="readonly" id="InfoWorkerEducation_txtEduPlan_@ViewBag.WorkerEdu.OID" value="@ViewBag.WorkerEdu.EduPlan" /></td>
                    </tr>*@
                    <tr>
                        <th><label class="lbText">교육내용</label></th>
                        <td colspan="3"><input class="Modifiable_@ViewBag.WorkerEdu.OID" type="text" AttrType="TEXT" readonly="readonly" id="InfoWorkerEducation_txtEduDetail_@ViewBag.WorkerEdu.OID" value="@ViewBag.WorkerEdu.EduDetail" /></td>
                    </tr>
                </tbody>
            </table>

            <label><i class="fas fa-caret-square-down"></i> 교육자료</label>
            <div id="InfoWorkerEducation_FileList_@ViewBag.WorkerEdu.OID">

            </div>
        </div>
        <div id="Apphis" class="basic_grid dective">
            <div id="ApphisInfo_@ViewBag.WorkerEdu.OID">
            </div>
        </div>
        <div id="Downhis" class="basic_grid dective">
            @{Html.RenderAction("FileHistory", "Common", new { OID = ViewBag.WorkerEdu.OID });}
        </div>
    </div>
</div>
<script type="text/javascript">
    var fileUpload = $("#InfoWorkerEducation_FileList_@ViewBag.WorkerEdu.OID").FileUpload({ OID: '@ViewBag.WorkerEdu.OID' });

    $(document).ready(function () {
        const WorkerEduOID = '@ViewBag.WorkerEdu.OID';
        const WorkerEduDetailDiv$ = $('#InfoWorkerEducation_' + WorkerEduOID);

        $("#InfoWorkerEducation_txtEduDt_" + WorkerEduOID).jqxDateTimeInput(DateFormat);
        $("#InfoWorkerEducation_txtEduDt_" + WorkerEduOID).jqxDateTimeInput({
            width: 160,
            height: 30,
            theme: "Light",
            disabled: true
        });

        var btnEduUserSearch$ = $("#InfoWorkerEducation_btnEduUser_" + WorkerEduOID).jqxButton();
        btnEduUserSearch$.on("click", function () {
            OpenApprovalPersonDialog(function (res) {
                if (res.length > 1) {
                    alert("담당자는 한명만 지정 할 수 있습니다.");
                    return;
                }

                $("#InfoWorkerEducation_txtEduUser_"+ WorkerEduOID).val(res[0].Name);
                $("#InfoWorkerEducation_txtEduUser_"+ WorkerEduOID).attr("EduUserOID", res[0].OID);

            }, null, null, '/Common/ApprovalPerson', '사용자 검색');
        });

        $("#InfoWorkerEducation_txtEduPersonnel_" + WorkerEduOID).on("keyup", function () {
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
        });

        const WorkerEduDiv$ = $('#InfoWorkerEducation_' + WorkerEduOID);
        $('#InfoWorkerEducation_' + WorkerEduOID + ' .tab').on('click', function () {
            const self$ = $(this);
            const infoValue = self$.attr('info');
            //control side menu
            WorkerEduDiv$.find('[class="tab info_focus"]').removeClass('info_focus');
            self$.addClass('info_focus');
            WorkerEduDiv$.find('[class="basic_grid"]').addClass('dective');
            WorkerEduDiv$.find('[id="' + infoValue + '"]').removeClass('dective');

            if (infoValue == 'properties') {

            } else if (infoValue == 'Apphis') {
                RequestHtml('/Common/ApprovalHistory', { OID: WorkerEduOID }, function (res) {
                    $('#ApphisInfo_' + WorkerEduOID).html(res);
                });
            }
        });

        @if ((ViewBag.WorkerEdu.BPolicyNm == Common.Constant.QmsConstant.POLICY_QMS_MODULE_STARTED || ViewBag.WorkerEdu.BPolicyNm == Common.Constant.QmsConstant.POLICY_QMS_MODULE_REJECTED) && ViewBag.WorkerEdu.ChargeUserOID == Convert.ToInt32(Session["UserOID"]))
        {
            <text>
            // 수정
            $('#InfoWorkerEducation_EditBtn_' + WorkerEduOID).on('click', function () {
                var ModifyAttr = $('.Modifiable_' + WorkerEduOID);

                ModifyAttr.each(function (i, v) {
                    ContentEditMode(v);
                });

                //수정 가능한 항목을 표시
                var modifyTag = document.createElement('div');
                modifyTag.className = "modifyTag";

                $('.Modifiable_' + WorkerEduOID).parent().css('position', 'relative');

                $('.Modifiable_' + WorkerEduOID).parent().append(modifyTag);

                $("#InfoWorkerEducation_EditBtn_" + WorkerEduOID).css("display", "none");
                $("#InfoWorkerEducation_SaveBtn_" + WorkerEduOID).css("display", "inline-block");
                $("#InfoWorkerEducation_EditCancleBtn_" + WorkerEduOID).css("display", "inline-block");

                fileUpload.EditMode();
            });

            // 취소
            $("#InfoWorkerEducation_EditCancleBtn_" + WorkerEduOID).jqxButton();
            $("#InfoWorkerEducation_EditCancleBtn_" + WorkerEduOID).on("click", function () {
                var ModifyAttr = $('.Modifiable_' + WorkerEduOID);

                ModifyAttr.each(function (i, v) {
                    ContentReadMode(v);
                });

                $(".modifyTag").remove();
                $("#InfoWorkerEducation_EditBtn_" + WorkerEduOID).css("display", "inline-block");
                $("#InfoWorkerEducation_SaveBtn_" + WorkerEduOID).css("display", "none");
                $("#InfoWorkerEducation_EditCancleBtn_" + WorkerEduOID).css("display", "none");

                fileUpload.ReadOnlyMode();
            });

            // 저장
            $("#InfoWorkerEducation_SaveBtn_" + WorkerEduOID).jqxButton();
            $('#InfoWorkerEducation_SaveBtn_' + WorkerEduOID).on("click", function () {
                var param = {};

                param.OID = WorkerEduOID;
                param.ModuleOID = "@ViewBag.WorkerEdu.ModuleOID";
                param.EduDetail = $("#InfoWorkerEducation_txtEduDetail_" + WorkerEduOID).val();
                @*param.EduPlan = $("#InfoWorkerEducation_txtEduPlan_" + WorkerEduOID).val();*@
                param.EduPersonnel = $("#InfoWorkerEducation_txtEduPersonnel_" + WorkerEduOID).val();
                param.EduPlace = $("#InfoWorkerEducation_txtEduPlace_" + WorkerEduOID).val();
                param.EduDt = $("#InfoWorkerEducation_txtEduDt_" + WorkerEduOID).jqxDateTimeInput("val");
                param.EduUserOID = $("#InfoWorkerEducation_txtEduUser_" + WorkerEduOID).attr("EduUserOID");

                if (WebUtils.isEmpty(param.EduDt)) {
                    alert("교육일자를 선택해주세요.");
                    return;
                }

                if (WebUtils.isEmpty(param.EduUserOID)) {
                    alert("교육담당자를 선택해주세요.");
                    return;
                }

                if (WebUtils.isEmpty(param.EduPersonnel)) {
                    alert("교육인원을 입력해주세요.");
                    return;
                }

                var Files = fileUpload.Files();

                var removeFiles = fileUpload.RemoveFiles();
                if (!WebUtils.isEmpty(removeFiles)) {
                    param.delFiles = [];
                    param.delFiles = removeFiles;
                }

                SendDataWithFile("/Qms/SaveWorkerEducation", param, Files, function (response) {
                    if (response.isError) {
                        alert(response.resultMessage);
                        return;
                    }
                    alert("저장되었습니다.");
                    PageReload();
                });
            });

            // 결재
            $('#InfoWorkerEducation_ApprovalBtn_' + WorkerEduOID).on('click', function () {
                OpenApprovalDialog(function () {
                    PageReload();
                }, null, { TargetOID: WorkerEduOID }, '/Common/Approval', '결재');
            });
            </text>
        }
    })
</script>
