@{
    Layout = null;
}

<div id="InfoQuickValidation_@ViewBag.QmsCheck.OID" class="info_project clearfix">
    <div class="info_menubar">
        <ul>
            <li class="tab info_focus" info="properties"><i class="fas fa-info-circle"></i> 기본 정보</li>
            <li class="tab" info="Apphis"><i class="fas fa-stream"></i> 결재이력</li>
            <li class="tab" info="Downhis"><i class="fas fa-users"></i> 다운로드 이력</li>
        </ul>
    </div>
    <div class="doc_content">
        <div class="project_basic clearfix">
            <div class="basic_info">
                <h3>유효성 검증</h3>
                <p>제 목 : <span>@ViewBag.QuickDetail.Title</span></p>
            </div>
            <div class="basic_image">
                <div class="image_inputbox">이미지<!--이미지 드래그 영역--></div>
                <div class="image_thumbnail"><!--이미지 썸네일 영역--></div>
            </div>
            <div class="basic_status">
                <div class="pointer_wrap">
                    @for (int i = 0; i < ViewBag.Status.Count; i++)
                    {
                        if (ViewBag.QmsCheck.BPolicyOID == ViewBag.Status[i].StatusOID)
                        {
                            <div class="pointer pointer_focus" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                        else
                        {
                            <div class="pointer" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                    }
                </div>
                <p>설명 : <span></span></p>
            </div>
        </div>
        <div id="properties" class="basic_grid">
            @if ((ViewBag.QmsCheck.BPolicyOID == 88 || ViewBag.QmsCheck.BPolicyOID == 90) && ViewBag.QmsCheck.ChargeUserOID == Convert.ToInt32(Session["UserOID"]))
            { 
            <table class="tableTopButtonBox">
                <tbody>
                    <tr>
                        <td style="text-align: right;" id="InfoQuickValidation_defaultBtn_@ViewBag.QmsCheck.OID">
                            <button id="InfoQuickValidation_EditBtn_@ViewBag.QmsCheck.OID" class="custom-button"><i class="fas fa-edit"></i> 수정</button>
                            <button id="InfoQuickValidation_EditCancleBtn_@ViewBag.QmsCheck.OID" class="custom-button" style="display:none;"><i class="fas fa-times"></i> 취소</button>
                            <button id="InfoQuickValidation_SaveBtn_@ViewBag.QmsCheck.OID" class="custom-button" style="display:none;"><i class="fas fa-save"></i> 저장</button>
                            <button id="InfoQuickValidation_ApprovalBtn_@ViewBag.QmsCheck.OID" class="custom-button"><i class="fas fa-pen-alt"></i> 결재</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            }
            
            <label><i class="fas fa-caret-square-down"></i> 유효성검증</label>
            <table id="tbQmsCheckList_@ViewBag.QmsCheck.OID" class="infoTable" style="table-layout:fixed;">
                <colgroup>
                    <col style="width:10%" />
                    <col style="width:30%" />
                    <col style="width:30%" />
                    <col style="width:30%" />
                </colgroup>
                <tr>
                    <th>구분</th>
                    <th>1차 유효성검증</th>
                    <th>2차 유효성검증</th>
                    <th>3차 유효성검증</th>
                </tr>
                @*<tr id="tbQmsCheckListConfirmSt_@ViewBag.QmsCheck.OID">
                    <th>검증시작일</th>
                </tr>*@
                <tr id="tbQmsCheckListConfirmEt_@ViewBag.QmsCheck.OID">
                    <th>검증완료일</th>
                </tr>
                <tr id="tbQmsCheckListUser_@ViewBag.QmsCheck.OID">
                    <th>담당자</th>
                </tr>
                <tr id="tbQmsCheckListConfirmBaseDt_@ViewBag.QmsCheck.OID">
                    <th>검증일</th>
                </tr>
                <tr id="tbQmsCheckListConfirmJudgment_@ViewBag.QmsCheck.OID">
                    <th>판정</th>
                </tr>
                <tr id="tbQmsCheckListConfirmDesc_@ViewBag.QmsCheck.OID">
                    <th>검증내용요약</th>
                </tr>
                <tr id="tbQmsCheckListConfirmEnd_@ViewBag.QmsCheck.OID">
                    <th>종료여부</th>
                </tr>
                <tr id="tbQmsCheckListEndDesc_@ViewBag.QmsCheck.OID">
                    <th>종료사유</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    var QmsCheckList = @Html.Raw(Json.Encode(ViewBag.QmsCheckItems));
    $(document).ready(function () {
        const QmsCheckOID = '@ViewBag.QmsCheck.OID';
        PrintQmsCheck();
   
        // 수정
        $('#InfoQuickValidation_EditBtn_' + QmsCheckOID).on('click', function () {
            var ModifyAttr = $('.Modifiable_' + QmsCheckOID);

            ModifyAttr.each(function (i, v) {
                ContentEditMode(v);
            });

            //수정 가능한 항목을 표시
            var modifyTag = document.createElement('div');
            modifyTag.className = "modifyTag";

            $('.Modifiable_' + QmsCheckOID).parent().css('position', 'relative');

            $('.Modifiable_' + QmsCheckOID).parent().append(modifyTag);

            $("#InfoQuickValidation_EditBtn_" + QmsCheckOID).css("display", "none");
            $("#InfoQuickValidation_SaveBtn_" + QmsCheckOID).css("display", "inline-block");
            $("#InfoQuickValidation_EditCancleBtn_" + QmsCheckOID).css("display", "inline-block");
        });

        // 취소
        $("#InfoQuickValidation_EditCancleBtn_" + QmsCheckOID).on("click", function () {
            var ModifyAttr = $('.Modifiable_' + QmsCheckOID);

            ModifyAttr.each(function (i, v) {
                ContentReadMode(v);
            });

            $(".modifyTag").remove();
            $("#InfoQuickValidation_EditBtn_" + QmsCheckOID).css("display", "inline-block");
            $("#InfoQuickValidation_SaveBtn_" + QmsCheckOID).css("display", "none");
            $("#InfoQuickValidation_EditCancleBtn_" + QmsCheckOID).css("display", "none");
        });


        // 저장
        $('#InfoQuickValidation_SaveBtn_' + QmsCheckOID).on("click", function () {
            var param = {};
            param.QmsCheckList = [];

            for (var i = 0; i < 3; i++) {
                var item = $("[Data-Cnt=" + @ViewBag.QmsCheck.OID + "_" + i + "]");
                var data = {};

                data.ModuleOID = "@ViewBag.QmsCheck.OID" // ModuleOID
                data.OID = $(item[0]).attr("OID"); // OID
                data.Cnt = $(item[0]).attr("Cnt"); // OID
                @*data.CheckSt = $(item[0]).jqxDateTimeInput("val"); // 검증시작일*@
                data.CheckEt = $(item[0]).jqxDateTimeInput("val"); // 검증종료일
                data.CheckUserOID = $(item[1]).attr("CheckUserOID"); // 담당자 OID
                data.CheckDt = $(item[2]).jqxDateTimeInput("val"); // 검증일
                data.CheckFl = $(item[3]).val() === true ? 1 : 0; // CheckFl
                data.CheckDetail = $(item[4]).val(); // 검증내용요약
                data.FinishFl = $(item[5]).val() === true ? 1 : 0; // FinishFl
                data.FinishDetail = $(item[6]).val(); // 종료사유

                if (WebUtils.isEmpty(data.CheckUserOID)) {
                    alert((i+1) + "차 유효성검증" + " 담당자를 지정 해주세요.");
                    return;
                }

                param.QmsCheckList.push(data);
            }

            $.post('/Qms/SaveQuickValidation', param, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }
                alert("저장되었습니다.");

                PageReload();
            }).fail(function (err) {
                alert(err.responseText);
            });
        });

        // 결재
        $('#InfoQuickValidation_ApprovalBtn_' + QmsCheckOID).on('click', function () {
            OpenApprovalDialog(function () {
                PageReload();
            }, null, { TargetOID: QmsCheckOID }, '/Common/Approval', '결재');
        });
    });

    function PrintQmsCheck() {
        var CheckCnt = 3;
        if (!WebUtils.isEmpty(QmsCheckList)) {
            CheckCnt = QmsCheckList.length;
        }

        for (var i = 0; i < CheckCnt; i++) {
            var item = QmsCheckList[i];
            var OID = WebUtils.isEmpty(item) === true ? "" : item.OID;
            var Cnt = WebUtils.isEmpty(item) === true ? (i+1) : item.Cnt;
            @*// 검증시작일
            var tdConfirmSt$ = document.createElement("td");

            var dtConfirmSt$ = document.createElement("div");
            dtConfirmSt$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            dtConfirmSt$.setAttribute("OID", OID);
            dtConfirmSt$.setAttribute("AttrType", "DATE");
            dtConfirmSt$.setAttribute("name", "ConfirmSt");
            dtConfirmSt$.className = "Modifiable_@ViewBag.QmsCheck.OID";

            $(dtConfirmSt$).jqxDateTimeInput(DateFormat);
            $(dtConfirmSt$).jqxDateTimeInput({
                width: 140,
                height: 30,
                theme: "Light",
                disabled: true
            });

            if (WebUtils.isEmpty(item) || item.CheckSt === null) {
                $(dtConfirmSt$).val(WebUtils.GetDate(0, "d", "-"));
            } else {
                var milli = item.CheckSt.replace(/\/Date\((-?\d+)\)\//, '$1');
                var d = new Date(parseInt(milli));
                $(dtConfirmSt$).val(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
            }

            tdConfirmSt$.appendChild(dtConfirmSt$);*@

            // 검증 완료일
            var tdConfirmEt$ = document.createElement("td");

            var dtConfirmEt$ = document.createElement("div");
            dtConfirmEt$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            dtConfirmEt$.setAttribute("OID", OID);
            dtConfirmEt$.setAttribute("Cnt", Cnt);
            dtConfirmEt$.setAttribute("AttrType", "DATE");
            dtConfirmEt$.setAttribute("name", "ConfirmSt");
            dtConfirmEt$.className = "Modifiable_@ViewBag.QmsCheck.OID";

            $(dtConfirmEt$).jqxDateTimeInput(DateFormat);
            $(dtConfirmEt$).jqxDateTimeInput({
                width: 140,
                height: 30,
                theme: "Light",
                disabled: true
            });

            if (WebUtils.isEmpty(item) || item.CheckEt === null) {
                $(dtConfirmEt$).val(WebUtils.GetDate(0, "d", "-"));
            } else {
                var milli = item.CheckEt.replace(/\/Date\((-?\d+)\)\//, '$1');
                var d = new Date(parseInt(milli));
                $(dtConfirmEt$).val(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
            }

            tdConfirmEt$.appendChild(dtConfirmEt$);

            // 담당자
            var tdUser$ = document.createElement("td");

            var divUser$ = document.createElement("div");
            $(divUser$).css("display", "flex");

            var txtUser$ = document.createElement("input");
            txtUser$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            txtUser$.setAttribute("OID", OID);
            txtUser$.setAttribute("Cnt", Cnt);
            txtUser$.setAttribute("type", "text");
            txtUser$.setAttribute("readonly", "readonly");
            txtUser$.style.width = "120px";
            txtUser$.id = "InfoQuickValidation_txtUser_@(ViewBag.QmsCheck.OID)_"+i
            if (!WebUtils.isEmpty(item)) {
                txtUser$.value = item.CheckUserNm;
                txtUser$.setAttribute("CheckUserOID", item.CheckUserOID);
            }

            var btnSearchUser$ = document.createElement("button");
            btnSearchUser$.setAttribute("AttrType", "BUTTON");
            btnSearchUser$.className = "Modifiable_@ViewBag.QmsCheck.OID custom-button";
            $(btnSearchUser$).css("display", "none");
            btnSearchUser$.setAttribute("onclick", "InfoQmsCheckSelectUser(" + i +")");

            var isearch$ = document.createElement("i");
            isearch$.innerText = "검색";
            isearch$.className = "fas fa-search";

            divUser$.appendChild(txtUser$);
            divUser$.appendChild(btnSearchUser$);
            btnSearchUser$.appendChild(isearch$);
            tdUser$.appendChild(divUser$);

            // 검증일
            var tdConfirmBaseDt$ = document.createElement("td");

            var dtConfirmBaseDt$ = document.createElement("div");
            dtConfirmBaseDt$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            dtConfirmBaseDt$.setAttribute("OID", OID);
            dtConfirmBaseDt$.setAttribute("Cnt", Cnt);
            dtConfirmBaseDt$.setAttribute("AttrType", "DATE");
            dtConfirmBaseDt$.setAttribute("name", "ConfirmSt");
            dtConfirmBaseDt$.className = "Modifiable_@ViewBag.QmsCheck.OID";

            $(dtConfirmBaseDt$).jqxDateTimeInput(DateFormat);
            $(dtConfirmBaseDt$).jqxDateTimeInput({
                width: 140,
                height: 30,
                theme: "Light",
                disabled: true
            });

            if (WebUtils.isEmpty(item) || item.CheckDt === null) {
                $(dtConfirmBaseDt$).val(WebUtils.GetDate(0, "d", "-"));
            } else {
                var milli = item.CheckDt.replace(/\/Date\((-?\d+)\)\//, '$1');
                var d = new Date(parseInt(milli));
                $(dtConfirmBaseDt$).val(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
            }

            tdConfirmBaseDt$.appendChild(dtConfirmBaseDt$);

            // 판정
            var tdJudgment$ = document.createElement("td");

            var btnJudgment$ = document.createElement("div");
            btnJudgment$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            btnJudgment$.setAttribute("OID", OID);
            btnJudgment$.setAttribute("Cnt", Cnt);
            btnJudgment$.setAttribute("AttrType", "SWITCH");
            btnJudgment$.className = "Modifiable_@ViewBag.QmsCheck.OID";
            $(btnJudgment$).jqxSwitchButton({ height: 30, width: 80, checked: true, onLabel: "OK", offLabel: "NG", disabled: true });
            if (!WebUtils.isEmpty(item)) {
                $(btnJudgment$).jqxSwitchButton({ checked: (item.CheckFl === 1 ? true : false) });
            }

            tdJudgment$.appendChild(btnJudgment$);

            // 검증내용요약
            var tdConfirmDesc$ = document.createElement("td");

            var txtConfirmDesc$ = document.createElement("input");
            txtConfirmDesc$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            txtConfirmDesc$.setAttribute("OID", OID);
            txtConfirmDesc$.setAttribute("Cnt", Cnt);
            txtConfirmDesc$.setAttribute("type", "text");
            txtConfirmDesc$.setAttribute("AttrType", "TEXT");
            txtConfirmDesc$.setAttribute("readonly", "readonly");
            txtConfirmDesc$.style.width = "100%";
            txtConfirmDesc$.className = "Modifiable_@ViewBag.QmsCheck.OID";

            if (!WebUtils.isEmpty(item)) {
                txtConfirmDesc$.value = WebUtils.isEmpty(item.CheckDetail) === true ? "" : item.CheckDetail;
            }

            tdConfirmDesc$.appendChild(txtConfirmDesc$);

            // 종료여부
            var tdContFl$ = document.createElement("td");

            var btnContFl$ = document.createElement("div");
            btnContFl$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            btnContFl$.setAttribute("OID", OID);
            btnContFl$.setAttribute("Cnt", Cnt);
            btnContFl$.setAttribute("AttrType", "SWITCH");
            btnContFl$.className = "Modifiable_@ViewBag.QmsCheck.OID";
            $(btnContFl$).jqxSwitchButton({ height: 30, width: 80, checked: true, onLabel: "OK", offLabel: "NG", disabled: true });
            if (!WebUtils.isEmpty(item)) {
                $(btnContFl$).jqxSwitchButton({ checked: (item.FinishFl === 1 ? true : false) });
            }

            tdContFl$.appendChild(btnContFl$);

            // 종료사유
            var tdEndDesc$ = document.createElement("td");

            var txtEndDesc$ = document.createElement("input");
            txtEndDesc$.setAttribute("Data-Cnt", @ViewBag.QmsCheck.OID + "_" + i);
            txtEndDesc$.setAttribute("OID", OID);
            txtEndDesc$.setAttribute("Cnt", Cnt);
            txtEndDesc$.setAttribute("type", "text");
            txtEndDesc$.setAttribute("AttrType", "TEXT");
            txtEndDesc$.setAttribute("readonly", "readonly");
            txtEndDesc$.style.width = "100%";
            txtEndDesc$.className = "Modifiable_@ViewBag.QmsCheck.OID";

            if (!WebUtils.isEmpty(item)) {
                txtEndDesc$.value = WebUtils.isEmpty(item.FinishDetail) === true ? "" : item.FinishDetail;
            }

            tdEndDesc$.appendChild(txtEndDesc$);

            @*$("#tbQmsCheckListConfirmSt_@ViewBag.QmsCheck.OID").append(tdConfirmSt$);*@
            $("#tbQmsCheckListConfirmEt_@ViewBag.QmsCheck.OID").append(tdConfirmEt$);
            $("#tbQmsCheckListUser_@ViewBag.QmsCheck.OID").append(tdUser$);
            $("#tbQmsCheckListConfirmBaseDt_@ViewBag.QmsCheck.OID").append(tdConfirmBaseDt$);
            $("#tbQmsCheckListConfirmJudgment_@ViewBag.QmsCheck.OID").append(tdJudgment$);
            $("#tbQmsCheckListConfirmDesc_@ViewBag.QmsCheck.OID").append(tdConfirmDesc$);
            $("#tbQmsCheckListConfirmEnd_@ViewBag.QmsCheck.OID").append(tdContFl$);
            $("#tbQmsCheckListEndDesc_@ViewBag.QmsCheck.OID").append(tdEndDesc$);
        }

    }

    function InfoQmsCheckSelectUser(cnt) {
        OpenApprovalPersonDialog(function (res) {
            if (res.length > 1) {
                alert("담당자는 한명만 지정 할 수 있습니다.");
                return;
            }
            $("#InfoQuickValidation_txtUser_@(ViewBag.QmsCheck.OID)_" + cnt).val(res[0].Name);
            $("#InfoQuickValidation_txtUser_@(ViewBag.QmsCheck.OID)_" + cnt).attr("CheckUserOID", res[0].OID);

        }, null, null, '/Common/ApprovalPerson', '사용자 검색');
    }
</script>
