@{
    Layout = null;
}

    <div id="InfoImproveCounterMeasure_@ViewBag.ImproveCounterMeasure.OID" class="info_project clearfix">
        <div class="info_menubar">
            <ul>
                <li class="tab info_focus" info="properties"><i class="fas fa-info-circle"></i> 기본 정보</li>
                <li class="tab" info="Apphis"><i class="fas fa-stream"></i> 결재이력</li>
                <li class="tab" info="Downhis"><i class="fas fa-users"></i> 다운로드 이력</li>
            </ul>
        </div>
        <div class="doc_content">
            <div class="project_basic clearfix">
                <div class="basic_info">
                    <h3>개선대책</h3>
                    <p>제 목 : <span>@ViewBag.QuickDetail.Title</span></p>
                </div>
                <div class="basic_image">
                    <div class="image_inputbox">이미지<!--이미지 드래그 영역--></div>
                    <div class="image_thumbnail"><!--이미지 썸네일 영역--></div>
                </div>
                <div class="basic_status">
                    <div class="pointer_wrap">
                        @for (int i = 0; i < ViewBag.Status.Count; i++)
                        {
                            if (ViewBag.ImproveCounterMeasure.BPolicyOID == ViewBag.Status[i].StatusOID)
                            {
                                <div class="pointer pointer_focus" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                    <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                                </div>
                            }
                            else
                            {
                                <div class="pointer" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                    <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                                </div>
                            }
                        }
                    </div>
                    <p>설명 : <span></span></p>
                </div>
            </div>
            <div id="properties" class="basic_grid">
                <table class="tableTopButtonBox">
                    <tbody>
                        <tr>
                            <td style="text-align: right;" id="InfoImproveCounterMeasure_defaultBtn_@ViewBag.ImproveCounterMeasure.OID">
                                <button id="InfoImproveCounterMeasure_EditBtn_@ViewBag.ImproveCounterMeasure.OID" class="custom-button"><i class="fas fa-edit"></i> 수정</button>
                                @*<button id="InfoImproveCounterMeasure_AppDrwEditBtn_@ViewBag.QuickDetail.OID" class="custom-button"><i class="fas fa-highlighter"></i>문서 정정</button>*@
                                <button id="InfoImproveCounterMeasure_EditCancleBtn_@ViewBag.ImproveCounterMeasure.OID" class="custom-button" style="display:none;"><i class="fas fa-times"></i> 취소</button>
                                <button id="InfoImproveCounterMeasure_SaveBtn_@ViewBag.ImproveCounterMeasure.OID" class="custom-button" style="display:none;"><i class="fas fa-save"></i> 저장</button>
                                <button id="InfoImproveCounterMeasure_ApprovalBtn_@ViewBag.ImproveCounterMeasure.OID" class="custom-button"><i class="fas fa-pen-alt"></i> 결재</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table id="tbImproveCounterMeasure_@ViewBag.ImproveCounterMeasure.OID" class="infoTable" style="table-layout:fixed;">
                    <colgroup>
                        <col style="width:41.5%" />
                        <col style="width:41.5%" />
                        <col style="width:10%" />
                        <col style="width:7%;text-align:center;" />
                    </colgroup>
                    <tr>
                        <th>근본원인</th>
                        <th>개선대책</th>
                        <th>처리일자</th>
                        <th style="text-align:center;"><button id="btnImproveCounterMeasureAdd_@ViewBag.ImproveCounterMeasure.OID" class="Modifiable_@ViewBag.ImproveCounterMeasure.OID" AttrType="BUTTON">원인추가</button></th>
                    </tr>
                </table>

                <label style="margin-top:20px;"><i class="fas fa-caret-square-down"></i> 첨부파일</label>
                <div id="InfoImproveCounterMeasure_FileList_@ViewBag.ImproveCounterMeasure.OID">

                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        const ImproveCounterMeasureOID = '@ViewBag.ImproveCounterMeasure.OID';
        var fileUpload = $("#InfoImproveCounterMeasure_FileList_" + ImproveCounterMeasureOID).FileUpload({ OID: ImproveCounterMeasureOID });

        $('#InfoImproveCounterMeasure_EditBtn_' + ImproveCounterMeasureOID).on('click', function () {
            var ModifyAttr = $('.Modifiable_' + ImproveCounterMeasureOID);

            ModifyAttr.each(function (i, v) {
                ContentEditMode(v);  
            });

            //수정 가능한 항목을 표시
            var modifyTag = document.createElement('div');
            modifyTag.className = "modifyTag";

            $('.Modifiable_' + ImproveCounterMeasureOID).parent().css('position', 'relative');

            $('.Modifiable_' + ImproveCounterMeasureOID).parent().append(modifyTag);

            $("#InfoImproveCounterMeasure_EditBtn_" + ImproveCounterMeasureOID).css("display", "none");            
            $("#InfoImproveCounterMeasure_SaveBtn_" + ImproveCounterMeasureOID).css("display", "inline-block");
            $("#InfoImproveCounterMeasure_EditCancleBtn_" + ImproveCounterMeasureOID).css("display", "inline-block");  

            fileUpload.EditMode();
        });

        $("#InfoImproveCounterMeasure_EditCancleBtn_" + ImproveCounterMeasureOID).jqxButton();
        $("#InfoImproveCounterMeasure_EditCancleBtn_" + ImproveCounterMeasureOID).on("click", function () {
            var ModifyAttr = $('.Modifiable_' + ImproveCounterMeasureOID);

            ModifyAttr.each(function (i, v) {
                ContentReadMode(v);             
            });

            $(".modifyTag").remove();
            $("#InfoImproveCounterMeasure_EditBtn_" + ImproveCounterMeasureOID).css("display", "inline-block");  
            $("#InfoImproveCounterMeasure_SaveBtn_" + ImproveCounterMeasureOID).css("display", "none");
            $("#InfoImproveCounterMeasure_EditCancleBtn_" + ImproveCounterMeasureOID).css("display", "none");      

            fileUpload.ReadOnlyMode();
        });

        $("#InfoImproveCounterMeasure_SaveBtn_" + ImproveCounterMeasureOID).jqxButton();
        $("#InfoImproveCounterMeasure_SaveBtn_" + ImproveCounterMeasureOID).on("click", function () {
            var param = {};
            param.OID = ImproveCounterMeasureOID;
            param.ImproveCounterMeasureItems = [];
            var trImproveCounterMeasure$ = $("#tbImproveCounterMeasure_@ViewBag.ImproveCounterMeasure.OID tr[Data='Y']");
            var errMsg = "";

            trImproveCounterMeasure$.each(function (i, v) {
                var data = {};
                data.OID = $(v).attr("OID") === "null" ? null : $(v).attr("OID");
                data.ModuleOID = ImproveCounterMeasureOID;
                data.RootCause = $($(v).find("[name='RootCause']")[0]).val();
                data.ImproveCountermeasure = $($(v).find("[name='ImproveCountermeasure']")[0]).val();
                data.ProcessDt = $($(v).find("[name='ProcessDt']")[0]).val();

                if ($(v).attr("Remove") === "Y") {
                    data.IsRemove = "Y";
                }

                if (WebUtils.isBlank(data.RootCause)) {
                    errMsg += "[" + (i + 1).toString() + "] 행의 근본원인이 입력되지 않았습니다.\n";
                }

                if (WebUtils.isBlank(data.ImproveCountermeasure)) {
                    errMsg += "[" + (i + 1).toString() + "] 행의 개선대책이 입력되지 않았습니다.\n";
                }

                if (WebUtils.isBlank(data.ProcessDt)) {
                    errMsg += "[" + (i + 1).toString() + "] 행의 처리일자가 입력되지 않았습니다.\n";
                }

                param.ImproveCounterMeasureItems.push(data);
            });

            if (errMsg.length != 0) {
                alert(errMsg); return;
            }

            var Files = fileUpload.Files();

            var removeFiles = fileUpload.RemoveFiles();
            if (!WebUtils.isEmpty(removeFiles)) {
                param.delFiles = [];
                param.delFiles = removeFiles;
            }

           SendDataWithFile('/Qms/SaveQuickImproveCounterMeasure', param, Files, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }
               alert("저장되었습니다.");
               PageReload();
            }).fail(function (err) {
                alert(err.responseText);
            });

        });

        $("#btnImproveCounterMeasureAdd_@ViewBag.ImproveCounterMeasure.OID").jqxButton({ disabled: true });
        $("#btnImproveCounterMeasureAdd_@ViewBag.ImproveCounterMeasure.OID").on("click", function () {
            AddImproveCounterMeasureAdd(null);

            //수정 가능한 항목을 표시
            var modifyTag = document.createElement('div');
            modifyTag.className = "modifyTag";

            $('.Modifiable_' + @ViewBag.ImproveCounterMeasure.OID).parent().css('position', 'relative');

            $('.Modifiable_' + @ViewBag.ImproveCounterMeasure.OID).parent().append(modifyTag);
        });


        var ImproveCounterMeasureItems = @Html.Raw(Json.Encode(ViewBag.ImproveCounterMeasureItems));

        if (ImproveCounterMeasureItems.length === 0) {
            AddImproveCounterMeasureAdd(null);
        } else {
            ImproveCounterMeasureItems.forEach(function (v, i) {
                AddImproveCounterMeasureAdd(v);
            });
        }

        var ModifyAttr = $('.Modifiable_' + ImproveCounterMeasureOID);

        ModifyAttr.each(function (i, v) {
            ContentReadMode(v);             
        });
    });

    function AddImproveCounterMeasureAdd(data) {
        var OID = data == null ? null : data.OID;
        var table$ = document.getElementById("tbImproveCounterMeasure_@ViewBag.ImproveCounterMeasure.OID");

        var tr$ = document.createElement("tr");
        tr$.setAttribute("Data", "Y");
        tr$.setAttribute("OID", OID);

        var tdRootCause$ = document.createElement("td");
        var txtRootCause$ = document.createElement("input");
        txtRootCause$.setAttribute("type", "text");
        txtRootCause$.setAttribute("name", "RootCause");
        txtRootCause$.style.width = "100%";
        if (data !== null) {
            txtRootCause$.value = data.RootCause;
        }        
        txtRootCause$.className = "Modifiable_@ViewBag.ImproveCounterMeasure.OID";
        txtRootCause$.setAttribute("AttrType", "TEXT");
        tdRootCause$.appendChild(txtRootCause$);

        var tdImproveCountermeasure$ = document.createElement("td");
        var txtImproveCountermeasure$ = document.createElement("input");
        txtImproveCountermeasure$.setAttribute("type", "text");
        txtImproveCountermeasure$.setAttribute("name", "ImproveCountermeasure");
        txtImproveCountermeasure$.style.width = "100%";
         if (data !== null) {
            txtImproveCountermeasure$.value = data.ImproveCountermeasure;
        }     
        txtImproveCountermeasure$.className = "Modifiable_@ViewBag.ImproveCounterMeasure.OID";
        txtImproveCountermeasure$.setAttribute("AttrType", "TEXT");     
        tdImproveCountermeasure$.appendChild(txtImproveCountermeasure$);

        var tdProcessDt$ = document.createElement("td");
        tdProcessDt$.style.textAlign = "center";
        var dtProcessDt$ = document.createElement("div");
        dtProcessDt$.className = "Modifiable_@ViewBag.ImproveCounterMeasure.OID";
        dtProcessDt$.setAttribute("name", "ProcessDt");
        dtProcessDt$.setAttribute("AttrType", "DATE");     
        $(dtProcessDt$).jqxDateTimeInput(DateFormat);
        $(dtProcessDt$).jqxDateTimeInput({
            width: 140,
            height:30,
            theme: "Light",
        });
        if (data === null) {
            $(dtProcessDt$).val(WebUtils.GetDate(0, "d", "-"));
        } else {
            var milli = data.ProcessDt.replace(/\/Date\((-?\d+)\)\//, '$1');
            var d = new Date(parseInt(milli));
            $(dtProcessDt$).val(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
        }

        tdProcessDt$.appendChild(dtProcessDt$);

        var tdBtn$ = document.createElement("td");
        tdBtn$.style.textAlign = "center";
        var btnDel = document.createElement("button");
        btnDel.className = "Modifiable_@ViewBag.ImproveCounterMeasure.OID";
        btnDel.setAttribute("AttrType", "BUTTON");     
        btnDel.innerText = "행 삭제";
        $(btnDel).jqxButton();
        tdBtn$.appendChild(btnDel);

        $(btnDel).on("click", function () {
            tr$.setAttribute("Remove", "Y");
            tr$.style.display = "none";
        });
        
        tr$.appendChild(tdRootCause$);
        tr$.appendChild(tdImproveCountermeasure$);
        tr$.appendChild(tdProcessDt$);
        tr$.appendChild(tdBtn$);

        table$.appendChild(tr$);
    }
</script>