@{
    Layout = null;
}

<div id="InfoStandardFollowUp_@ViewBag.StandardDoc.OID" class="info_project clearfix">
    <div class="info_menubar">
        <ul>
            <li class="tab info_focus" info="properties"><i class="fas fa-info-circle"></i> 기본 정보</li>
            <li class="tab" info="Apphis"><i class="fas fa-stream"></i> 결재이력</li>
            <li class="tab" info="Downhis"><i class="fas fa-users"></i> 다운로드 이력</li>
        </ul>
    </div>
    <div class="doc_content">
        <div class="project_basic clearfix">
            <div class="basic_info">
                <h3>표준화 & Follow-Up 조치</h3>
                <p>제 목 : <span>@ViewBag.QuickDetail.Title</span></p>
            </div>
            <div class="basic_image">
                <div class="image_inputbox">이미지<!--이미지 드래그 영역--></div>
                <div class="image_thumbnail"><!--이미지 썸네일 영역--></div>
            </div>
            <div class="basic_status">
                <div class="pointer_wrap">
                    @for (int i = 0; i < ViewBag.Status.Count; i++)
                    {
                        if (ViewBag.StandardDoc.BPolicyOID == ViewBag.Status[i].StatusOID)
                        {
                            <div class="pointer pointer_focus" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                        else
                        {
                            <div class="pointer" data-type="@ViewBag.Status[i].Type" data-Status="@ViewBag.Status[i].StatusOID" style="z-index: @(ViewBag.Status.Count - i);">
                                <div class="project_status">@ViewBag.Status[i].StatusNm</div>
                            </div>
                        }
                    }
                </div>
                <p>설명 : <span></span></p>
            </div>
        </div>
        <div class="scrollY" style="height:668px;">
            <div id="properties" class="basic_grid">
                @if ((ViewBag.StandardDoc.BPolicyNm == Common.Constant.QmsConstant.POLICY_QMS_MODULE_STARTED || ViewBag.StandardDoc.BPolicyNm == Common.Constant.QmsConstant.POLICY_QMS_MODULE_REJECTED) && ViewBag.StandardDoc.ChargeUserOID == Convert.ToInt32(Session["UserOID"]))
                {
                    <table class="tableTopButtonBox">
                        <tbody>
                            <tr>
                                <td style="text-align: right;" id="InfoStandardFollowUp_defaultBtn_@ViewBag.StandardDoc.OID">
                                    <button id="InfoStandardFollowUp_EditBtn_@ViewBag.StandardDoc.OID" class="custom-button"><i class="fas fa-edit"></i> 수정</button>
                                    <button id="InfoStandardFollowUp_EditCancleBtn_@ViewBag.StandardDoc.OID" class="custom-button" style="display:none;"><i class="fas fa-times"></i> 취소</button>
                                    <button id="InfoStandardFollowUp_SaveBtn_@ViewBag.StandardDoc.OID" class="custom-button" style="display:none;"><i class="fas fa-save"></i> 저장</button>
                                    <button id="InfoStandardFollowUp_ApprovalBtn_@ViewBag.StandardDoc.OID" class="custom-button"><i class="fas fa-pen-alt"></i> 결재</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

                <label><i class="fas fa-caret-square-down"></i> 표준화 & Follow-Up 조치</label>
                <table id="tblInfoStandardFollowUp_@ViewBag.StandardDoc.OID" class="infoTable" style="table-layout:fixed;">
                    <colgroup>
                        <col style="width:300px;" />
                        <col style="width:auto;" />
                        <col style="width:300px;" />
                        <col style="width:auto;" />
                        <col style="width:300px;" />
                        <col style="width:auto;" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><label class="lbText">Yes/No</label></th>
                            <th><label class="lbText">문서타입</label></th>
                            @*<th><label class="lbText">기술표준문서</label></th>*@
                            <th><label class="lbText">반영내용</label></th>
                            <th><label class="lbText">완료일</label></th>
                            <th><label class="lbText">첨부파일</label></th>
                            <th><label class="lbText"></label></th>
                        </tr>
                    </tbody>
                </table>

                <label><i class="fas fa-caret-square-down"></i> 첨부파일</label>
                <div id="InfoStandardFollowUp_FileList_@ViewBag.StandardDoc.OID">

                </div>
            </div>
            <div id="Apphis" class="basic_grid dective">
                <div id="ApphisInfo_@ViewBag.StandardDoc.OID">
                </div>
            </div>
            <div id="Downhis" class="basic_grid dective">
                @{Html.RenderAction("FileHistory", "Common", new { OID = ViewBag.StandardDoc.OID });}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var StandardDocItem = @Html.Raw(Json.Encode(ViewBag.StandardDocItem));
    var fileUpload = $("#InfoStandardFollowUp_FileList_@ViewBag.StandardDoc.OID").FileUpload({ OID: '@ViewBag.StandardDoc.OID' });
    var fieldTypes = [
        { DocClassCode: "@Common.Constant.QmsConstant.STANDARD_DWG", fieldType: "DocDrawing", fieldTypeNm: "도면" },
        { DocClassCode: "@Common.Constant.QmsConstant.STANDARD_PFMEA", fieldType: "DocPFMEA", fieldTypeNm: "P-FMEA" },
        { DocClassCode: "@Common.Constant.QmsConstant.STANDARD_MANAGE", fieldType: "DocManage", fieldTypeNm: "관리계획서" },
        { DocClassCode: "@Common.Constant.QmsConstant.STANDARD_WORKSTD", fieldType: "DocWork", fieldTypeNm: "작업표준서" },
        { DocClassCode: "@Common.Constant.QmsConstant.STANDARD_INSPECT", fieldType: "DocInspect", fieldTypeNm: "검사기준서" },
        { DocClassCode: null, fieldType: "etc", fieldTypeNm: "기타" }
    ];

    $(document).ready(function () {
        var StandardDocOID = '@ViewBag.StandardDoc.OID';

        // 도면, 작업표준서, PFMEA 등 해당 분류체계만 검색 할 수 있도록 코드 값이 존재 하지 않아 첨부파일 기준으로 문서타입 지정
        // 처음 등록 시에는 표준화 데이터(분류체계)가 존재 하지 않아서 NULL로 표현
        if (WebUtils.isEmpty(StandardDocItem) && StandardDocItem.length <= 0) {
            fieldTypes.forEach(function (v, i) {
                PrintStandardFollowUp(v, StandardDocOID, null);
            });
        } else {
            // 기존에 등록 한 데이터들을 화면에 표현
            StandardDocItem.forEach(function (v, i) {
                PrintStandardFollowUp(fieldTypes[i], StandardDocOID, v);
            });
        }

        const StandardDocDiv$ = $('#InfoStandardFollowUp_' + StandardDocOID);
        $('#InfoStandardFollowUp_' + StandardDocOID + ' .tab').on('click', function () {
            const self$ = $(this);
            const infoValue = self$.attr('info');
            //control side menu
            StandardDocDiv$.find('[class="tab info_focus"]').removeClass('info_focus');
            self$.addClass('info_focus');
            StandardDocDiv$.find('[class="basic_grid"]').addClass('dective');
            StandardDocDiv$.find('[id="' + infoValue + '"]').removeClass('dective');

            if (infoValue == 'properties') {

            } else if (infoValue == 'Apphis') {
                RequestHtml('/Common/ApprovalHistory', { OID: StandardDocOID }, function (res) {
                    $('#ApphisInfo_' + StandardDocOID).html(res);
                });
            }
        });

        // 수정
        $('#InfoStandardFollowUp_EditBtn_' + StandardDocOID).on('click', function () {
            var ModifyAttr = $('.Modifiable_' + StandardDocOID);

            ModifyAttr.each(function (i, v) {
                ContentEditMode(v);
            });

            //수정 가능한 항목을 표시
            var modifyTag = document.createElement('div');
            modifyTag.className = "modifyTag";

            $('.Modifiable_' + StandardDocOID).parent().css('position', 'relative');

            $('.Modifiable_' + StandardDocOID).parent().append(modifyTag);

            $("#InfoStandardFollowUp_EditBtn_" + StandardDocOID).css("display", "none");
            $("#InfoStandardFollowUp_SaveBtn_" + StandardDocOID).css("display", "inline-block");
            $("#InfoStandardFollowUp_EditCancleBtn_" + StandardDocOID).css("display", "inline-block");

            fileUpload.EditMode();
        });

        // 취소
        $("#InfoStandardFollowUp_EditCancleBtn_" + StandardDocOID).on("click", function () {
            var ModifyAttr = $('.Modifiable_' + StandardDocOID);

            ModifyAttr.each(function (i, v) {
                ContentReadMode(v);
            });

            $(".modifyTag").remove();
            $("#InfoStandardFollowUp_EditBtn_" + StandardDocOID).css("display", "inline-block");
            $("#InfoStandardFollowUp_SaveBtn_" + StandardDocOID).css("display", "none");
            $("#InfoStandardFollowUp_EditCancleBtn_" + StandardDocOID).css("display", "none");

            fileUpload.ReadOnlyMode();
        });


        // 저장
        $('#InfoStandardFollowUp_SaveBtn_' + StandardDocOID).on("click", function () {
            var param = {};
            param.OID = StandardDocOID;
            param.ModuleOID = StandardDocOID;
            param.StandardFollowUpList = [];

            var isRequier = false;
            var ErrorMas = "";
            var SetDataFunc = function (fieldType) {
                var item = $("[fieldType='" + fieldType + "_" + + StandardDocOID + "']");
                var data = {};
                data.OID = $(item[0]).attr("OID");
                data.DocType = $(item[0]).attr("DocType");
                data.DocTypeNm = $(item[2]).text();
                data.DocOID = $(item[0]).attr("DocOID");
                data.DocSummary = $(item[3]).val();
                data.DocCompleteDt = $(item[4]).jqxDateTimeInput("val");
                data.DocFl = $(item[1]).val() === true ? 1 : 0;

                // Yes이면 필수 값 체크
                if (data.DocFl) {
                    if (WebUtils.isEmpty(data.DocSummary)) {
                        ErrorMas += "[" + data.DocTypeNm + "] 반영내용을 입력 해주세요.\n";
                        isRequier = true;
                    }

                    if (WebUtils.isEmpty(data.DocOID) && fieldType !== "etc") {
                        ErrorMas += "[" + data.DocTypeNm + "] 첨부파일을 입력 해주세요.\n";
                        isRequier = true;
                    }
                }

                param.StandardFollowUpList.push(data);
            }

            SetDataFunc("DocDrawing");
            SetDataFunc("DocPFMEA");
            SetDataFunc("DocManage");
            SetDataFunc("DocWork");
            SetDataFunc("DocInspect");
            SetDataFunc("etc");

            if (isRequier) {
                alert(ErrorMas)
                return;
            }

            var Files = fileUpload.Files();

            var removeFiles = fileUpload.RemoveFiles();
            if (!WebUtils.isEmpty(removeFiles)) {
                param.delFiles = [];
                param.delFiles = removeFiles;
            }

            SendDataWithFile('/Qms/SaveStandardFollowUp', param, Files, function (response) {
                if (response.isError) {
                    alert(response.resultMessage);
                    return;
                }
                alert("저장되었습니다.");
                PageReload();
            });
        });

        // 결재
        $('#InfoStandardFollowUp_ApprovalBtn_' + StandardDocOID).on('click', function () {
            OpenApprovalDialog(function () {
                PageReload();
            }, null, { TargetOID: StandardDocOID }, '/Common/Approval', '결재');
        });
    });

    function PrintStandardFollowUp(type, ModuleOID, v) {

        var tr$ = document.createElement("tr");
        tr$.setAttribute("fieldType", type.fieldType + "_" + ModuleOID);
        tr$.setAttribute("UseFl", "Y");
        tr$.setAttribute("DocClassCode", type.DocClassCode);

        if (!WebUtils.isEmpty(v)) {
            tr$.setAttribute("OID", v.OID);
            tr$.setAttribute("DocOID", v.DocOID);
            tr$.setAttribute("DocType", v.DocType);
        }

        // 문서타입
        var tdDocType$ = document.createElement("td");
        var lbDocType$ = document.createElement("label");
        lbDocType$.setAttribute("fieldType", type.fieldType + "_" + ModuleOID);
        lbDocType$.innerText = type.fieldTypeNm;
        tdDocType$.appendChild(lbDocType$);

        // 기술표준문서
        @*var tdDocName$ = document.createElement("td");
        var divDocName$ = document.createElement("div");
        var txtDocName$ = document.createElement("input");
        var btnDocSearch$ = document.createElement("button");

        $(divDocName$).css("display", "flex");

        txtDocName$.setAttribute("type", "text");
        txtDocName$.style.width = "170px";
        txtDocName$.setAttribute("readonly", "readonly");

        if (!WebUtils.isEmpty(v)) {
            txtDocName$.value = WebUtils.isEmpty(v.DocNm) === true ? "" : v.DocNm;
        }

        btnDocSearch$.setAttribute("AttrType", "BUTTON");
        btnDocSearch$.className = "Modifiable_@ViewBag.StandardDoc.OID custom-button";
        $(btnDocSearch$).css("display", "none");
        btnDocSearch$.setAttribute("onclick", "InfoStandardFollowUpDocSearch()");

        var isearch$ = document.createElement("i");
        isearch$.innerText = "검색";
        isearch$.className = "fas fa-search";

        divDocName$.appendChild(txtDocName$);
        divDocName$.appendChild(btnDocSearch$);
        btnDocSearch$.appendChild(isearch$);
        tdDocName$.appendChild(divDocName$);*@

        // 반영내용
        var tdDocDesc$ = document.createElement("td");
        var txtDocDesc$ = document.createElement("input");

        txtDocDesc$.setAttribute("type", "text");
        txtDocDesc$.style.width = "100%";
        txtDocDesc$.setAttribute("fieldType", type.fieldType + "_" + ModuleOID);
        txtDocDesc$.setAttribute("readonly", "readonly");
        txtDocDesc$.setAttribute("AttrType", "TEXT");
        txtDocDesc$.className = "Modifiable_@ViewBag.StandardDoc.OID";

        if (!WebUtils.isEmpty(v)) {
            txtDocDesc$.value = WebUtils.isEmpty(v.DocSummary) === true ? "" : v.DocSummary;
        }

        tdDocDesc$.appendChild(txtDocDesc$);

        // 완료일
        var tdDocCompleteDt$ = document.createElement("td");
        var dtDocCompleteDt$ = document.createElement("div");

        dtDocCompleteDt$.setAttribute("fieldType", type.fieldType + "_" + ModuleOID);
        dtDocCompleteDt$.setAttribute("AttrType", "DATE");
        dtDocCompleteDt$.setAttribute("data-field", "");

        $(dtDocCompleteDt$).jqxDateTimeInput(DateFormat);
        $(dtDocCompleteDt$).jqxDateTimeInput({
            width: 140,
            height: 30,
            theme: "Light",
            disabled: true
        });

        if (type.fieldType === "etc") {
             dtDocCompleteDt$.className += " Modifiable_@ViewBag.StandardDoc.OID";
        }

        if (WebUtils.isEmpty(v)) {
            $(dtDocCompleteDt$).val(WebUtils.GetDate(0, "d", "-"));
        } else {
            var milli = v.DocCompleteDt.replace(/\/Date\((-?\d+)\)\//, '$1');
            var d = new Date(parseInt(milli));
            $(dtDocCompleteDt$).val(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
        }

        tdDocCompleteDt$.appendChild(dtDocCompleteDt$);

        // 첨부파일
        @*var tdDocFileName$ = document.createElement("td");
        var txtDocFileName$ = document.createElement("input");

        txtDocFileName$.setAttribute("type", "text");
        txtDocFileName$.style.width = "100%";
        txtDocFileName$.setAttribute("readonly", "readonly");
        txtDocFileName$.setAttribute("AttrType", "TEXT");
        txtDocFileName$.className = "Modifiable_@ViewBag.StandardDoc.OID";

        if (!WebUtils.isEmpty(v)) {
            txtDocFileName$.value = WebUtils.isEmpty(v.DocFileNm) === true ? "" : v.DocFileNm;
        }

        tdDocFileName$.appendChild(txtDocFileName$);*@
        // 첨부파일
        var tdDocName$ = document.createElement("td");
        var divDocName$ = document.createElement("div");
        var txtDocName$ = document.createElement("input");


        $(divDocName$).css("display", "flex");

        txtDocName$.setAttribute("fieldType", type.fieldType + "_" + ModuleOID);
        txtDocName$.setAttribute("type", "text");
        txtDocName$.style.width = "100%";
        txtDocName$.setAttribute("readonly", "readonly");

        if (!WebUtils.isEmpty(v)) {
            txtDocName$.value = WebUtils.isEmpty(v.DocNm) === true ? "" : v.DocNm;
        }

        tdDocName$.appendChild(txtDocName$);

        // Yes/No
        var tdIsDoc$ = document.createElement("td");
        var btnIsDoc$ = document.createElement("div");
        $(btnIsDoc$).jqxSwitchButton({ height: 30, width: 80, checked: true, onLabel: "Yes", offLabel: "No" });
        $(btnIsDoc$).jqxSwitchButton({ disabled: true });
        btnIsDoc$.setAttribute("fieldType", type.fieldType + "_" + ModuleOID);
        btnIsDoc$.setAttribute("AttrType", "SWITCH");
        btnIsDoc$.className = "Modifiable_@ViewBag.StandardDoc.OID";

        if (!WebUtils.isEmpty(v)) {
            $(btnIsDoc$).jqxSwitchButton({ checked: v.DocFl === 1 ? true : false });
        }

        $(btnIsDoc$).bind('change', function (event) {
            var args = event.args;

            if (args.check === true) {
                tr$.setAttribute("UseFl", "N");
                //btnDocSearch$.className = "custom-button";
                $(divDocName$).css("display", "none");
                txtDocDesc$.className = "";
            } else if (type.fieldType !== "etc") {
                tr$.setAttribute("UseFl", "Y");
                @*btnDocSearch$.className = "Modifiable_@ViewBag.StandardDoc.OID custom-button";*@
                $(divDocName$).css("display", "flex");
                txtDocDesc$.className = "Modifiable_@ViewBag.StandardDoc.OID";
            }
            //alert("You changed the state of the button");
        });

        tdIsDoc$.appendChild(btnIsDoc$);

        // 문서 검색
        var tdDocSearch$ = document.createElement("td");
        var btnDocSearch$ = document.createElement("button");
        btnDocSearch$.setAttribute("AttrType", "BUTTON");
        btnDocSearch$.setAttribute("DocType", type.OID);
        btnDocSearch$.className = type.fieldType === "etc" ? "" : "Modifiable_@ViewBag.StandardDoc.OID custom-button";
        $(btnDocSearch$).css("display", "none");
        //btnDocSearch$.setAttribute("onclick", "InfoStandardFollowUpDocSearch()");
        $(btnDocSearch$).on("click", function () {
            var param = {};
            param.Code = $(tr$).attr("DocClassCode");

            OpenQmsCommonDocumentDialog(function (res) {
                //$(txtDocDesc$).val(res.Description);
                //lbDocType$.innerText = res.DocType_KorNm;
                $(txtDocName$).val(res.Title);
                $(dtDocCompleteDt$).val(res.CreateDt);
                tr$.setAttribute("DocOID", res.OID);
                tr$.setAttribute("DocType", res.DocType);
                tr$.setAttribute("CreateDt", res.CreateDt);
            }, null, param, '/Qms/SearchDocument', '문서 검색', null);
        });

        var isearch$ = document.createElement("i");
        isearch$.innerText = "검색";
        isearch$.className = "fas fa-search";

        divDocName$.appendChild(btnDocSearch$);
        btnDocSearch$.appendChild(isearch$);
        tdDocSearch$.appendChild(divDocName$);

        tr$.appendChild(tdIsDoc$);
        tr$.appendChild(tdDocType$);
        tr$.appendChild(tdDocDesc$);
        tr$.appendChild(tdDocCompleteDt$);
        tr$.appendChild(tdDocName$);
        tr$.appendChild(tdDocSearch$);
        //tr$.appendChild(tdDocFileName$);

        $("#tblInfoStandardFollowUp_@ViewBag.StandardDoc.OID").append(tr$);
    }

    @*function InfoStandardFollowUpDocSearch(param) {

        OpenQmsCommonDocumentDialog(function (res) {
            return res;
        }, null, null, '/Qms/SearchDocument', '문서 검색', null);
    }*@
</script>
