@{
    Layout = null;
}

<input type="hidden" id="hidCalendarOID" value="" />
<input type="hidden" id="hidWorkingDay" value="" />
<input type="hidden" id="hidTemplateOID" value="" />
<input type="hidden" id="hidProdecessorProject" value="" />

<div style="width:100%;text-align:right;padding-right:10px;">
    <button id="btnDlgCreateProject" class="custom-button"><i class='fas fa-check-circle'></i> 등록</button>
</div>

<div class="dlg_table dlgCreateProject_table">
    <input type="hidden" id="dlgOem" />
    <input type="hidden" id="dlgCar" />
    <table>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i>구분</label></td>
            <td colspan="3"><div id="dlgProjType" style="width:50%;" class="dlgProjjqxComboBox"></div></td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i>OEM</label></td>
            <td><input type="text" id="txtDlgOem" style="width:50%;" value="" readonly="readonly" /></td>
            <td><label class="lbText"><i class="fa fa-caret-right"></i>차종</label></td>
            <td><input type="text" id="txtDlgCar" style="width:50%;" readonly="readonly" /></td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i>ITEM</label></td>
            <td><div id="dlgItem" style="width:50%;" class="dlgProjjqxComboBox"></div></td>
            <td><label class="lbText"><i class="fa fa-caret-right"></i>제품구분</label></td>
            <td><div id="dlgItemMiddle" style="width:50%;" class="dlgProjjqxComboBox"></div></td>
        </tr>
        <tr class="dlgPredecessorData" style="display:none;">
            <td>
                <label class="lbText"><i class="fa fa-caret-right"></i> 선행프로젝트</label>
            </td>
            <td colspan="3">
                <input type="text" id="txtDlgProdecessorProject" class="txtBox large" style="width:70%;" readonly />
                <button id="schDlgProdecessorProject" class="custom-button"><i class='fas fa-search'></i></button>
                <button id="schDlgProdecessorProjectClear" class="custom-button"><i class='fas fa-eraser'></i></button>
            </td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 제품명</label></td>
            <td><input type="text" id="txtDlgProductNm" class="txtBox large" style="width:99%;" /></td>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 프로젝트명</label></td>
            <td><input type="text" id="txtDlgProjName" class="txtBox large" style="width:99%;" readonly="readonly" /></td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 프로젝트 등급</label></td>
            <td><div id="dlgProjGrade" class="txtBox large" style="width:99%;"></div></td>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 고객사</label></td>
            <td><div id="dlgCust" class="dlgProjjqxComboBox" style="width:99%;"></div></td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 복사 프로젝트</label></td>
            <td colspan="3">
                <div id="isCopyTemplate" class="custom-checkbox">&nbsp;템플릿</div>
                <input type="text" id="txtDlgProjectTemplate" class="txtBox large" style="width:68.4%;" readonly />
                <button id="schDlgProjectTemplate" class="custom-button"><i class='fas fa-search'></i></button>
                <button id="schDlgProjectTemplateClear" class="custom-button"><i class='fas fa-eraser'></i></button>
            </td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 템플릿 내용</label></td>
            <td colspan="3">
                <div id="isWbs" class="custom-checkbox">&nbsp;WBS</div>
                <div id="isMember" class="custom-checkbox">&nbsp;멤버</div>
                <div id="isRisk" class="custom-checkbox">&nbsp;리스크</div>
                <div id="IsCheckList" class="custom-checkbox">&nbsp;체크리스트</div>
                <div id="IsDocument" class="custom-checkbox">&nbsp;산출물</div>
            </td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 기준일</label></td>
            <td>
                <input type="text" id="txtDlgProjDate" class="txtBox large" readonly />
            </td>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 근무일수</label></td>
            <td>
                <input type="text" id="txtWorkingDay" class="txtBox large" style="width:98%;" readonly />
            </td>
        </tr>
        <tr>
            <td style="vertical-align:baseline;"><label class="lbText"><i class="fa fa-caret-right"></i> 내용</label></td>
            <td colspan="3"><textarea id="txtDlgContent" style="width:99%;height:50px;"></textarea></td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 달력</label></td>
            <td colspan="3">
                <input type="text" id="txtDlgCalendar" class="txtBox large" style="width:84%;" readonly />
                <button id="schDlgCalendar" class="custom-button"><i class='fas fa-search'></i></button>
                <button id="schDlgCalendarClear" class="custom-button"><i class='fas fa-eraser'></i></button>
            </td>
        </tr>
        <tr>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 생성일</label></td>
            <td>
                <input type="text" id="txtDlgCreateDt" class="txtBox large" style="width:98%;" readonly />
            </td>
            <td><label class="lbText"><i class="fa fa-caret-right"></i> 작성자</label></td>
            <td>
                <input type="text" id="txtDlgCreateUs" class="txtBox large" style="width:98%;" readonly value="" />
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    var itemText = "";
    var middleText = "";
    var iuputText = "";
    $(function () {
        const dlgProjType$ = $('#dlgProjType');
        dlgProjType$.jqxComboBox({ source: ['', '선행', '양산'], selectedIndex: 0, width: 185, height: 30, });

        var itemList =  @Html.Raw(Json.Encode(ViewBag.ItemList));
        var placeList = @Html.Raw(Json.Encode(ViewBag.placeList));
        var epartList = @Html.Raw(Json.Encode(ViewBag.epartList));
        var oemList =   @Html.Raw(Json.Encode(ViewBag.oemList));
        var custList =   @Html.Raw(Json.Encode(ViewBag.custList));

        $('.dlgProjjqxComboBox').jqxComboBox({ width: 185, height: 30, });


        const txtDlgItemName$ = $('#txtDlgProductNm');
        const dlgOem$ = $('#dlgOem');
        const dlgCar$ = $('#dlgCar');
        const dlgItem$ = $('#dlgItem');
        const dlgItemMiddle$ = $('#dlgItemMiddle');
        const dlgProjGrade$ = $('#dlgProjGrade');
        const dlgCust$ = $('#dlgCust');


        dlgOem$.val(parent.selOemOID);
        dlgCar$.val(parent.selCarOID);
        $('#txtDlgCar').val(parent.selCarText);
        $('#txtDlgOem').val(parent.selOemText);


        var dlgItemSource =
        {
                localdata: itemList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                    { name: 'Code1', type: 'string' },
                    { name: 'Code2', type: 'string' }
                ]
        };
        var dlgItemAdapter = new $.jqx.dataAdapter(dlgItemSource);
        dlgItem$.jqxComboBox({ source: dlgItemAdapter, displayMember: "KorNm", valueMember: "OID" });

        dlgItem$.on('change', function (evt) {
            var selected = evt.args.item;

            itemText = selected.label;
            CreateProjName();
            var idx = evt.args.index;
            var param = {};
            param.fromOID = dlgItem$.val();
            param.Code1 = 'CLASS';
                RequestData('/Manage/SelCodeLibraryChild', param, function (res) {

                    var middleSource =
                    {
                        localdata: res,
                        datatype: "json",
                        datafields:
                            [
                                { name: 'KorNm', type: 'string' },
                                { name: 'OID', type: 'int' },
                                { name: 'Code1', type: 'string' },
                            ]
                    };
                    var middleAdapter = new $.jqx.dataAdapter(middleSource);
                    dlgItemMiddle$.jqxComboBox({ source: middleAdapter, displayMember: "KorNm", valueMember: "OID"});
                });
        });

        var dlgCustSource =
        {
            localdata: custList,
            datatype: "json",
            datafields:
                [
                    { name: 'KorNm', type: 'string' },
                    { name: 'OID', type: 'int' },
                    { name: 'Code1', type: 'string' },
                    { name: 'Code2', type: 'string' }
                ]
        };
        var dlgCustAdapter = new $.jqx.dataAdapter(dlgCustSource);
        dlgCust$.jqxComboBox({ source: dlgCustAdapter, displayMember: "KorNm", valueMember: "OID" });


        dlgProjGrade$.jqxComboBox({ source: ['', 'A', 'B', 'C', 'D', 'E'], selectedIndex: 0, width: 185, height: 30, });

        $('#isCopyTemplate').jqxCheckBox({ width: 88, height: 25, checked: true });

        $('#isWbs').jqxCheckBox({ width: 80, height: 25, locked: true });
        $('#isMember').jqxCheckBox({ width: 80, height: 25, locked: true });
        $('#isRisk').jqxCheckBox({ width: 100, height: 25, locked: true });
        $('#IsCheckList').jqxCheckBox({ width: 130, height: 25, locked: true });
        $('#IsDocument').jqxCheckBox({ width: 100, height: 25, locked: true });

        const dlgProjDate$ = $('#txtDlgProjDate');
        dlgProjDate$.jqxDateTimeInput(DateFormat);
        dlgProjDate$.val(WebUtils.GetDate(-1, "m", "-"));
        dlgProjDate$.jqxDateTimeInput({ width: "98%", height: 32 });

        $("#txtDlgCreateDt").val(WebUtils.GetDate(0, "m", "-"));

        $('#schDlgCalendar').on('click', function () {
            OpenCreateProjectContentDialog(function (checkData) {
                $('#txtDlgCalendar').val(checkData.Name);
                $('#hidCalendarOID').val(checkData.OID);
                $('#hidWorkingDay').val(checkData.WorkingDay);
                $('#txtWorkingDay').val(checkData.WorkingDay);
            }, null, "/Pms/CreateProjectContent", { Title: '달력 검색', Mode: 'Calendar' });
        });

        $('#schDlgCalendarClear').on('click', function () {
            $('#txtDlgCalendar').val('');
            $('#hidCalendarOID').val('');
            $('#hidWorkingDay').val('');
            $('#txtWorkingDay').val('');
        });

        dlgItemMiddle$.on('change', function (evt) {
            var selected = evt.args.item;

            middleText = selected.label;
            var idx = evt.args.index;
            CreateProjName();
        });
        txtDlgItemName$.bind('change paste keyup', function () {
            iuputText = txtDlgItemName$.val();
            CreateProjName();
        });

    });

    function CreateProjName(ProjName) {
        var returnVal = "";
        if (itemText != null) {
            returnVal += itemText;
        }
        if (middleText != null) {
            returnVal += " " + middleText;
        }
        if (iuputText != null) {
            returnVal += " " + iuputText;
        }
        $('#txtDlgProjName').val(returnVal);
    }
</script>


  @*//var dlgOemSource =
        //{
        //    localdata: oemList,
        //    datatype: "json",
        //    datafields:
        //        [
        //            { name: 'KorNm', type: 'string' },
        //            { name: 'OID', type: 'int' },
        //            { name: 'Code1', type: 'string' },
        //            { name: 'Code2', type: 'string' }
        //        ]
        //};
        //var dlgOemAdapter = new $.jqx.dataAdapter(dlgOemSource);
        //dlgOem$.jqxComboBox({ source: dlgOemAdapter, displayMember: "KorNm", valueMember: "OID", width: 185, height: 30, });
        //dlgOem$.val(parent.selOemOID);

        //dlgOem$.on('change', function (evt) {
        //    var param = {};
        //    param.fromOID = dlgOem$.val();
        //    RequestData('/Manage/SelCodeLibrary', param, function (res) {

        //        var carSource =
        //        {
        //            localdata: res,
        //            datatype: "json",
        //            datafields:
        //                [
        //                    { name: 'KorNm', type: 'string' },
        //                    { name: 'OID', type: 'int' },
        //                    { name: 'Code1', type: 'string' },
        //                    { name: 'Code2', type: 'string' },
        //                ]
        //        };
        //        var caradapter = new $.jqx.dataAdapter(carSource);
        //        dlgCar$.jqxComboBox({ source: caradapter, displayMember: "KorNm", valueMember: "OID", width: 185, height: 30 });
        //        dlgCar$.val(parent.selCarOID);
        //        dlgCar$.on('change', function (evt) {

        //            CreateEPartName();
        //        });
        //    });
        //});
        //dlgOem$.jqxComboBox('val', parent.selOemOID);
        // dlgCar$.jqxComboBox('val', parent.selCarOID);
        //setTimeout(function () {
        //    dlgCar$.val(parent.selCarOID);
        //}, 300);
        //dlgOem$.jqxComboBox({ disabled: true });
        //dlgCar$.jqxComboBox({ disabled: true });*@
