@{
    Layout = null;
}

    <div class="dlgGateReportTab">
        <input type="radio" name="gateReportRadio" value="gateReport" id="gateReportTab" checked />
        <label for="gateReportTab">보고서</label>
        <input type="radio" name="gateReportRadio" value="gateIssueList" id="gateIssueListTab" />
        <label for="gateIssueListTab">이슈리스트</label>
    </div>
    <div class="dlgGateReportContent">
        <div>
            <div class="dlgTopInfo">
                <label><i class="fas fa-stamp"></i> 프로젝트 등급</label>
                <span id=""><!--system-->@ViewBag.InfoProj.ProjectGrade</span>
                <label><i class="fas fa-hourglass-half"></i> Gate 단계</label>
                <span id=""><!--system-->@ViewBag.InfoProc.Name</span>
                <button class="custom-button" id=""><i class="fas fa-save"></i> 저장</button>
            </div>
            <h4>1. 개발개요</h4>
            <table class="dlgGateReportTable">
                <colgroup>
                    <col style="width:15%;" />
                    <col style="width:20%;" />
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:20%;" />
                </colgroup>
                <thead>
                    <tr>
                        <td>차종</td>
                        <td>제품사양</td>
                        <td>Forecast</td>
                        <td>OEM</td>
                        <td>고객사</td>
                        <td>WR생산처</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@ViewBag.InfoProj.Car_Lib_Nm</td>
                        <td>@ViewBag.InfoProj.ITEM_NoNm @ViewBag.InfoProj.ITEM_MiddleNm</td>
                        <td><input type="text" id="txtForecast_@ViewBag.InfoProc.OID" value="" /></td>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="txtWrCreateStore_@ViewBag.InfoProc.OID" value="" /></td>
                    </tr>
                </tbody>
            </table>

            <h4>2. OEM 일정</h4>
            @if (ViewBag.OemSchedule.Count < 1)
            {
                <h4 style="margin-bottom:20px;font-size:16px;color:#888;text-align:center;">OEM 일정이 없습니다.</h4>
            }
            else
            {
                <table class="dlgGateReportTable oemSchedule">
                    <thead>
                        <tr>
                            @for (int index = 0, size = ViewBag.OemSchedule.Count; index < size; index++)
                            {
                                <td>@Html.Raw(ViewBag.OemSchedule[index].Name)</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int index = 0, size = ViewBag.OemSchedule.Count; index < size; index++)
                            {
                                <td>@Html.Raw((ViewBag.OemSchedule[index].StartDt != null ? string.Format("{0:yyyy-MM-dd}", ViewBag.OemSchedule[index].StartDt) : ""))</td>
                            }
                        </tr>
                    </tbody>
                </table>
            }

            <h4>3. Gate Review 일정</h4>
            <table class="dlgGateReportTable grSchedule">
                <thead>
                    <tr>
                        <td>G/R #1</td>
                        <td>G/R #2</td>
                        <td>G/R #3</td>
                        <td>G/R #4</td>
                        <td>G/R #5</td>
                        <td>G/R #6</td>
                        <td class="remark">비고</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @{
                            int iGw = ViewBag.InfoGate.Count;
                            int iGwTotal = 6;
                        }
                        @for (int index = 0; index < iGwTotal; index++)
                        {
                            if (index < iGw)
                            {
                                <td>@Html.Raw((ViewBag.InfoGate[index].ActEndDt != null ? string.Format("{0:yyyy-MM-dd}", ViewBag.InfoGate[index].ActEndDt) : ""))</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        <td><input type="text" id="txtCalendarEtc_@ViewBag.InfoProc.OID" value="" /></td>
                    </tr>
                </tbody>
            </table>

            <h4>4. 단계별 Gate Open Issue Summary</h4>
            <table class="dlgGateReportTable" style="height:90px;">
                <colgroup>
                    <col style="width:16%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:28%;" />
                    <col style="width:28%;" />
                </colgroup>
                <thead>
                    <tr>
                        <td rowspan="2">Open Issue 총 건수</td>
                        <td colspan="3">실적</td>
                        <td rowspan="2">미완료 주요 Issue</td>
                        <td rowspan="2">비고</td>
                    </tr>
                    <tr>
                        <td>완료</td>
                        <td>미완료</td>
                        <td>완료율</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input type="text" id="txtNonCompleteIssue_@ViewBag.InfoProc.OID" value="" /></td>
                        <td><input type="text" id="txtSummaryEtc_@ViewBag.InfoProc.OID" value="" /></td>
                    </tr>
                </tbody>
            </table>

            <h4>5. 단계별 Gate Open Issue Summary</h4>
            <div id="issueSumGradeGrid"></div>
        </div>

        <div style="padding-top:10px;">
            <div id="issueListGrid"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {

            $('#issueSumGradeGrid').jqxTreeGrid({
                width: 1238,
                height: 250,
                columnsHeight:30,
                columns: [
                    {text:'Issue No', width:'5%', align:'center',},
                    {text:'구분', width:'8%', align:'center',},
                    {text:'Task', width:'20%', align:'center',},
                    {text:'Open Issue', width:'20%', align:'center',},
                    {text:'추진계획', width:'20%', align:'center',},
                    {text:'계획', width:'9%', align:'center',columnGroup: 'status',},
                    {text:'지연', width:'9%', align:'center',columnGroup: 'status',},
                    {text:'완료', width:'9%', align:'center',columnGroup: 'status',},
                ],
                columnGroups: [{ text: 'Status', name: 'status', align:'center' }],
            });

            $('#issueListGrid').jqxGrid({
                width: 1238,
                height: 750,
                columns: [
                    {text:'Issue NO', width:'5%',align:'center',},
                    {text:'사양', width:'8%',align:'center',},
                    {text:'4M', width:'8%',align:'center',},
                    {text:'품질', width:'8%',align:'center',},
                    {text:'기타', width:'8%',align:'left',},
                    {text:'Open Issue', width:'13%',align:'left',},
                    {text:'추진계획', width:'14%',align:'left',},
                    {text:'Start Date', width:'10%',align:'center', cellsFormat:'yyyy-MM-dd'},
                    {text:'Due Date', width:'10%',align:'center', cellsFormat:'yyyy-MM-dd'},
                    {text:'Close Date', width:'10%',align:'center', cellsFormat:'yyyy-MM-dd'},
                    {text:'Status', width:'6%',align:'center',},
                    {text:'비고', width:'10%',align:'left',},
                ],
            });

            //Tab Hide&Show
            const gateReportContent$ = $(".dlgGateReportContent > div");
            gateReportContent$.last().hide();
            $("input[name=gateReportRadio]").click(function () {
                gateReportContent$.hide();
                gateReportContent$.eq($("input[name=gateReportRadio]").index(this)).show();
            });

        });
    </script>